[2015-09-29 20:19] nicolevasilevsky commented on #973
I think those are from the "elements of morphology": https://elementsofmorphology.nih.gov/

[2015-09-29 20:20] cmungall commented on #973
Yes. Try pasting one in after /phenotype/ and see if it resolves

[2015-09-29 20:21] cmungall opened #974 "disease hierarchy is not being displayed"
Everything looks like root:

http://beta.monarchinitiative.org/disease/OMIM:255800

[2015-09-29 20:22] yuanzhou commented on #973
@cmungall  `http://monarchinitiative.org/phenotype/EOM:e29866db35162165`, no info.

[2015-09-29 20:27] nlwashington commented on #973
So, that resolves here:
https://elementsofmorphology.nih.gov/index.cgi?tid=e29866db35162165

no prefix / purl to resolve it yet.  in curie_map we use the obo purl.

[2015-09-29 20:29] yuanzhou commented on #973
Yes, it also resolves for:

https://elementsofmorphology.nih.gov/index.cgi?tid=77bdc627bdaf29d3

[2015-09-29 20:30] kshefchek commented on #974
This is the result of the equivalence merge with the latest scigraph load.  I need to add some code to make this work with the neighborhood view, but we first need a scigraph service to return the cliqueLeader given an ID.

[2015-09-29 20:32] kshefchek commented on #974
cc @jnguyenx

[2015-09-30 00:58] cmungall opened #975 "Clear out the cruft in api.js"
There are vast swathes of api.js that are unused. Anything that calls anything that uses federation_services_url can go

caveat: landing pages still have a dependency. @kshefchek had the idea of just checking in the json cache for these as a temporary solution.

[2015-09-30 14:36] yuanzhou opened #976 ""--port" flag in start-server.sh never worked"
I have been using port 8080 for other systems, so I wanted to use port 8282 for example for monarch-app, every time I tried `./start-server.sh --port 8282` it always used 8080, seems that --port flag never worked. I had to manually edit the `start-server.sh`. Please fix this.

FYI, I was accessing CentOS via SSH.

[2015-09-30 14:57] harryhoch commented on #976
try

export PORT=8282 && ./start-server.sh

[2015-09-30 15:13] yuanzhou commented on #976
Thanks @harryhoch, what you suggested worked for me.

[2015-09-30 22:08] cmungall opened #977 "Problems deploying monarch app on stage"
Moving this from JIRA. @DoctorBud @kshefchek @kltm any ideas?

Log file here:
https://bamboo.crbs.ucsd.edu/download/MON-STMONARCH-JOB1/build_logs/MON-STMONARCH-JOB1-81.log

[code]

[2015-09-30 22:35] cmungall commented on #977
Do we need to worry about this?

[code]

[2015-10-01 15:39] kshefchek commented on #851
I've put in a front end fix for this by calling the neighbors service that allows for multiple IDs.  I've also fixed the issue with equivalent classes showing up.  This has been tested with the older versions of scigraph (rosie) so the latest equivalence merge features still need to be tested.

[2015-10-01 20:12] yuanzhou commented on #973
@nlwashington
http://beta.monarchinitiative.org/disease/OMIM:105830

![capture](https://cloud.githubusercontent.com/assets/195873/10232476/02873928-6857-11e5-9bd2-78bfb361511e.PNG)

If you click one of those Fbbt phenotypes, you will see the URL looks like `FBbt:00005383PHENOTYPE`, is this a data error?

[2015-10-01 21:15] cmungall commented on #973
No

On 1 Oct 2015, at 13:12, yuanzhou wrote:

[2015-10-01 21:48] nlwashington opened #978 "association pages not working (nodejs?)"
hi,

i can't seem to get this one to show up on beta:
http://monarchinitiative.org/association/MONARCH:0249a6fb82e7d1358bb6fed4dba93f84

even though it shows up on prod.

was this code removed?  if so, can it be put back?

nicole

[2015-10-01 21:51] cmungall commented on #978
Flinging back over the wall to Kent as I think he wrote it. Lost in the node refactor?

[2015-10-01 21:59] nlwashington commented on #978
That's what I was wondering if it was lost in refactor.

[2015-10-01 22:56] jmcmurry commented on #957
On a related note, on both prod and beta I mistyped the URL as http://monarchinitiative.org/model/MG:3586676 and found that the page resolved, albeit blank. We should probably have a meaningful message if the requested ID doesn't exist. An easy fix, but not a huge priority as this is not a common use case.

![screen shot 2015-10-01 at 15 52 09](https://cloud.githubusercontent.com/assets/3658863/10

[2015-10-02 16:07] yuanzhou opened #979 "Interesting findings after switching to nodejs version of monarch-app"
I'm running CentOS 6.7 on VirtualBox, and set up the port forwarding for SSH (2222->22) as well as HTTPD (8080->80). This way I can access to the Linux via my Windows. When I was running RingoJS version of monarch-app, I did port forwarding 8282->8282 so I can access monarch-app in my windows browser by going to `http://localhost:8282/`, but this doesn't work for the NodeJS version of monarch-app.

[2015-10-02 16:17] DoctorBud commented on #979
By default, monarch-app runs on port 8080, so you might want to forward 8282 to 8080 instead of forwarding to 8282.

I’m not sure why 8282 ever worked for you, unless you were invoking the server with —port 8282. The —port 8282 should work with the latest NodeJS version of monarch-app.

I guess it's possible that you have a jetty.xml file that specifies 8282, and RingoJS uses Jetty so it would 'se

[2015-10-02 17:23] yuanzhou commented on #976
Suggested by @DoctorBud, I also tried
[code]
 and

[code]

Both worked.

[2015-10-02 17:23] #976 closed

[2015-10-02 17:31] yuanzhou commented on #979
Previously, I edited `start-server.sh` and manually changed 8080 to 8282 in that file. I just tested with what you suggested but on port 8484 because I never used 8484 before so there's shouldn't be any conflicts.

I did `NODE_PATH=./lib/monarch node lib/monarch/web/webapp_launcher.js --port 8484` with a fresh install of monarch-app from the github master branch. And did port forwarding from 8484-

[2015-10-02 17:55] yuanzhou commented on #979
And here is output of all running ports on TCP.

![capture](https://cloud.githubusercontent.com/assets/195873/10253762/2d9af1ac-690d-11e5-97b9-eb3e044fb27a.PNG)

[2015-10-02 18:41] jmcmurry commented on #950
The fix helps a lot, though there are species missing in some rows at the bottom. I don't see a pattern as to why. In the case of a search on "Pax2", there are four rows affected: (NCBIGene:733478 is Xenopus (Silurana) tropicalis, NCBIGene:5076 and NCBIGene:5076 are Homo sapiens. NCBIGene:293992 is Rattus norvegicus).

Given that there are duplicate Gene name-to-species mappings eg. two entries fo

[2015-10-02 20:23] mellybelly commented on #950
So I think that these two Bos taurus entries are a little different, maybe one is from a Hereford breed build? NCBI should differentiate these better if they are indeed different  "species" ?

http://www.ncbi.nlm.nih.gov/gene?cmd=Retrieve&list_uids=100297382
versus
http://www.ncbi.nlm.nih.gov/gene?cmd=Retrieve&list_uids=617341

Also, the first link in the search results for Bos Bovis goes to the l

[2015-10-02 22:07] jmcmurry opened #980 "in ontology browser, the apostrophe S is capitalized in Parkinson's Disease"
Not a big priority, just looks a bit weird.
cc: @nicolevasilevsky

![screen shot 2015-10-02 at 15 05 12](https://cloud.githubusercontent.com/assets/3658863/10258866/15689d14-6917-11e5-9366-906574606c64.png)

[2015-10-02 22:27] jmcmurry opened #981 "Two equivalent search results for Parkinson's (one for MESH, one for DOID); both are missing taxon"
If you do a search for Parkinson's (http://beta.monarchinitiative.org/search/parkinsons) you get two results, one corresponding to DOID and another to MESH:

![screen shot 2015-10-02 at 13 36 44](https://cloud.githubusercontent.com/assets/3658863/10258373/7c4172cc-6912-11e5-9fed-972850a130cf.png)

But then if you look at http://beta.monarchinitiative.org/disease/DOID:14330 the equivalence with MES

[2015-10-02 23:59] jmcmurry opened #982 "On beta, disease pages load very slowly"
Disease pages are taking several seconds (>15) to load.
I suppose this has to do with all of the queries required to represent the hierarchy and siblings all the way to root, however, it is one of the first entry points into the system, so we may want to consider a faster, simpler view to start with.

http://beta.monarchinitiative.org/disease/MESH:D010300

[2015-10-03 00:39] cmungall commented on #982
there's no reason why this should take this long. SciGraph *must* be able to compute what is required in milliseconds, this is an ultra-basic traversal involving a handful of nodes. If we are making multiple calls that signifies the API does not do what we need it to do.

[2015-10-03 00:40] cmungall commented on #982
In fact this node is Parkinson's Disease. There are six ancestors total in mondo.

[2015-10-03 01:01] kshefchek commented on #982
The neighborhood view is client driven.  It is likely the calls to golr to get tab counts which will become client driven soon.

[2015-10-03 01:04] cmungall commented on #982
sometimes solr is sluggish before it warms up. Be good to do multiple tests see what the distribution of timings is

[2015-10-05 16:30] kshefchek commented on #981
It looks like we don't have this information in scigraph [example query](http://rosie.crbs.ucsd.edu:9000/scigraph/graph/neighbors?id=DOID:14330&depth=1&blankNodes=false&relationshipType=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002162&direction=BOTH&project=*) @nlwashington will we eventually add disease taxon information?  Right now this column will only populate for genes.

[2015-10-05 23:12] #980 closed

[2015-10-06 00:53] jmcmurry opened #983 "Search Results Paging and Faceting"
There must be many more search results than are showing up. See beta.monarchinitiative.org/search/pax2
It would be great to implement the paging feature that is on other tabs. Ultimately, it would also be important to have five facets: disease, model, phenotype, gene and also species.
There must be a ticket for this already but I can not find it.

[2015-10-06 00:54] jmcmurry commented on #849
This is especially important now that we have loads more species. There are now lots more scenarios in which visualizing the less-frequent species in the graph is impossible due to their being eclipsed by human and mouse.

[2015-10-06 00:57] jmcmurry commented on #950
We need to evaluate the extent of such issues with the NCBI source data and then contact them to see if they can resolve it.

[2015-10-06 00:58] jmcmurry commented on #950
Should this actually be a dipper ticket instead?

[2015-10-06 01:07] kshefchek commented on #938
Looking at the build in bamboo I believe this has been fixed, @cmungall please reopen if not.

[2015-10-06 01:07] #938 closed

[2015-10-06 01:18] jmcmurry commented on #937
nodejs

[2015-10-06 16:27] kshefchek commented on #950
Closing, this is now implemented with a single call to the neighbors service.

[2015-10-06 16:27] #950 closed

[2015-10-06 16:29] kshefchek commented on #982
Closing as this should be fixed on beta.  Will perform load testing when we switch back to beta golr to see how the larger index has affected performance.

[2015-10-06 16:29] #982 closed

[2015-10-06 16:30] kshefchek commented on #981
Fixed with a4cfbbf, adding disease-taxon relationships should be moved to dipper.

[2015-10-06 16:30] #981 closed

[2015-10-06 17:56] cmungall commented on #950
How is performance?

On 6 Oct 2015, at 9:27, Kent Shefchek wrote:

[2015-10-06 18:11] kshefchek commented on #950
Autocomplete still seems reasonably responsive.  We actually end up with three calls to scigraph autocomplete -> neighbors (taxon) -> neighbors (equivalents), although we can get rid of the equivalent filtering soon.  I haven't performed any formal load testing.

[2015-10-06 18:24] kshefchek commented on #950
For search, beta takes a little bit longer to load.  When testing on "allergy" production returns a result in about 600-700ms.  Beta takes about 1 second.  Still reasonable in my opinion.

Beta: https://app.loadimpact.com/load-test/2ab32049-63b3-474e-8602-29b8e1c095bf
Production: https://app.loadimpact.com/load-test/235f8ab3-8163-4d7f-9392-668806de058f

[2015-10-06 20:44] #978 closed

[2015-10-07 04:29] jmcmurry commented on #930
Also some documentation on the NodeJS updates would be welcome.  @DoctorBud @kshefchek

[2015-10-07 04:53] jmcmurry commented on #927
Autocomplete is trying to work, but doesn't fit on the iPhone 6 in portrait orientation, perhaps due to the recent addition of species? It seems to work fine in landscape. Is that good enough to close the ticket for now?

![img_4094](https://cloud.githubusercontent.com/assets/3658863/10329300/419d712e-6c74-11e5-967d-e0912fb97cff.PNG)

[2015-10-07 17:54] harryhoch opened #984 "Kallmann Syndrome link leads to 404"
Kallmann syndrome - http://beta.monarchinitiative.org/disease/MESH%3AD017436

Source link - http://www.nlm.nih.gov/cgi/mesh/2005/MB_cgi?mode=&term=D017436, leads to a 404.

[2015-10-07 18:27] jmcmurry commented on #902
Autocomplete on beta is definitely an improvement relative to production (wherein lots of (ostensibly) duplicated terms). However, there are still duplicated terms for all three reasons @cmungall described above. Although we *could* further disambiguate (HP/MP etc,) but I worry that we might be already trying to accomplish too much in the autocomplete feature itself. The search box is one the user

[2015-10-07 19:43] kshefchek commented on #902
Looks like theres a bug somewhere as these should be collapsing as one phenotype and one disease, I'll look into it.

[2015-10-07 19:55] kshefchek commented on #902
Apparently these two cleft palate disease IDs are not equivalents in the ontology, see

http://kato.crbs.ucsd.edu:9000/scigraph/graph/neighbors?id=OMIM:119540&id=DOID:674&depth=5&blankNodes=false&relationshipType=equivalentClass&direction=BOTH&project=*

However, the two phenotypes are equivalent, but this looks like an issue with the latest scigraph load with the equivalency merging, compare:

ht

[2015-10-07 20:18] jmcmurry commented on #984
I don't see any one obvious way to fix this issue, but it is much broader than this specific term.
There are implications for:
a) what is the correct namespace for MESH in curie_map.yml, AND
b) ensuring that the map is *the* source of all CURIE to URI expansion across the Monarch App, not just in dipper sourcecode.

1) If we expand the CURIE according to the current dipper yml mapping, we get http

[2015-10-07 20:35] jmcmurry commented on #902
Thanks for exploring this, @kshefchek, however, the larger issue is whether we should be displaying the granularity in autocomplete list at all. Currently, on beta, autocomplete is completely broken for me. If I type ````cleft p```` in the box and wait 45 seconds, all I see is the spinner, but no list of suggestions. If we back away from having richness within the autocomplete, and instead have a

[2015-10-07 20:49] kshefchek commented on #902
I believe @jnguyenx is reloading our beta scigraph instance related to the bug above so all vocab services are offline at the moment, I'll switch the configuration for beta so that we're pointing to the staging server.

[2015-10-07 21:08] harryhoch commented on #984
So there would appear to be an issue here with presentation of the links. Autocomplete comes up with links for several other Kallmann variants, going to places like ontobee, OMIM, orphanet, etc. It might be good to try to change this link to make this variation a bit clearer.

[2015-10-07 21:16] jmcmurry commented on #931
on beta.monarchinitiative.org/labs/cy-explore-demo,  I get a "page not found" message
However on monarchinitiative.org/labs/cy-explore-demo, autocomplete is broken (endless spinner, no terms, but also no results if I bypass autocomplete and just hit "go")
It looks like we have taken down the cy-explore-demo as it wasn't working, but it might be useful for me to understand what it once did and what

[2015-10-07 21:24] kshefchek commented on #931
This is related to the node switch, I still need to go through and convert the labs pages to dual mode versions, shouldn't take long.

[2015-10-07 21:32] jmcmurry commented on #688
This is a pretty old ticket, the origin of which was not documented; If we can't repeat it, or don't remember we should probably close it.

[2015-10-07 22:27] jmcmurry commented on #756
by "generic bbob facet interface" did you mean the widget that was implemented here in labs? http://monarchinitiative.org/labs/golr/NCBIGene:6469

[2015-10-07 22:33] jmcmurry commented on #522
I don't know all of the history, but it seems like this ticket was addressed as part of the relatively recent /analyze/phenotypes refactor. Is what is now implemented sufficient to close this current ticket?

[2015-10-08 00:01] jmcmurry commented on #923
Duplication is also happening in the genotypes tab, eg:
http://beta.monarchinitiative.org/gene/NCBIGene:18504#genotypes
The vast majority (276/321) of the rows shown are exact duplicates of each other.

[2015-10-08 00:18] jmcmurry commented on #148
Sorry @harryhoch if I'm missing something but I don't quite understand; which part of this thread do you think is related to the ontology construction itself and not the UI? Perhaps there are specific ontology changes that you think would make the ontology work more easily / render more naturally? Based on feedback, @kshefchek has iterated on the ontology browser for this 2015-10 release; it would

[2015-10-08 00:55] jmcmurry commented on #960
What downstream UI components rely on the ortholog service?

[2015-10-08 01:00] kshefchek commented on #960
This particular one, just the ortholog and paralog buttons on the analyze page.

[2015-10-08 01:17] jmcmurry commented on #656
"In the ideal semweb world [CURIE-->http URI and CURIE-->URL] would be the same thing but they're not and there is a whole world of ideological war we don't want to get into here." - @cmungall

Wholeheartedly agreed. In the meantime, to move this ticket forward a little bit, I've added some basic identifier documentation here: https://github.com/monarch-initiative/dipper#identifiers. It does not g

[2015-10-08 01:45] jmcmurry commented on #289
"i like the way that amazon does its autocomplete... it gives you categories to filter on if you'd like exact matches, and also gives you other searches to autocomplete on:" - @nlwashington

In the case of Amazon, I use this feature all the time and love it; however, there a search for "yoga" yields over 800,000 results, so a quick filtering is welcome. Any one of the Amazon categories in the drop

[2015-10-08 02:03] harryhoch commented on #148
Well, the combination of the human and mouse terms in the same ontology led to some difficulty in interpreting siblings, parentage, and equivalences. That's the main piece that I found confusing. Navigating from a page about a human term to a parent that is a mouse term only makes sense if you are familiar with Uberpheno.

I think it would be great to spend more time talking about this. Perhaps to

[2015-10-08 02:08] harryhoch commented on #289
@jmcmurry, the problem with the autocomplete is that before you get to the screen that you reference above, you will see "PAX2 gene" coming up many times in the autocomplete list. it would really be nice to have the organism as well.

Completely agreed that we should aim for doing substring match and for not showing pages with no data.

[2015-10-08 02:29] jmcmurry commented on #289
Organism categories are implemented now on Beta; discussing tomorrow would be great.

[2015-10-08 07:29] cmungall commented on #817
Done

cruft ticket here: #975

[2015-10-08 07:29] #817 closed

[2015-10-08 09:43] DoctorBud commented on #979
Is this still an issue? As you've discovered, the port can be specified via an environment variable PORT when using start-server.sh, and can be specified via `--port` when using webapp_launcher.js.

Zhou, please reply to this and close the ticket.

[2015-10-08 09:47] DoctorBud commented on #937
This has been addressed by allowing the webapp_launcher.js script to have an environment parameter that can be 'dev', 'production', or 'stage'. The start-server.sh script will use 'dev' by default, unless the environment symbol RUNENV is set to an alternate environment (e.g., 'production' or 'stage').

I think we can close this ticket.

[2015-10-08 09:48] DoctorBud commented on #893
Closing this ticket. Most of the above errors have long since been fixed.

[2015-10-08 15:36] nlwashington opened #985 "landing pages with/out slash"
i notice on beta that i can get to

http://beta.monarchinitiative.org/phenotype

but not to

http://beta.monarchinitiative.org/phenotype/

maybe this isn't a problem, but something i notice.   @doctorbud?

[2015-10-08 16:04] jmcmurry commented on #842
Homepage will always be a work in progress, but this particular ticket can now be closed.

[2015-10-08 16:04] #842 closed

[2015-10-08 16:15] mellybelly opened #986 "registration for data use"
I think we should require registration and/or API keys for anyone wanting to use our services or download data. Essentially keep Web surfing easy but try to track any use of our data.

[2015-10-08 16:20] jmcmurry commented on #301
I'm not sure what the status of the application was a year and a half ago, however, we have now incorporated annotation sufficiency so I believe that this issue can be closed. Please confirm.

[2015-10-08 16:28] jmcmurry commented on #662
I believe that this has now been addressed; please reopen if not.

[2015-10-08 16:28] #662 closed

[2015-10-08 16:29] jmcmurry commented on #356
I believe that this has been resolved; please reopen if this is not the case.

[2015-10-08 16:29] #356 closed

[2015-10-08 16:34] cmungall commented on #985
webapp has

[code]

I guess we have to add another explicitly...?

[2015-10-08 16:38] jmcmurry commented on #364
It seems like this issue may have been overtaken by events, if not directly resolved.
I'm not sure whether /gene/ is still meant to work with a label rather than an id, but I suspect not (http://tartini.crbs.ucsd.edu/gene/SOX9 equivalent would be beta.monarchinitiative.org/gene/SOX9 which does not work). We have loads of species in the system now, so I'm going to tentatively close this ticket. Ple

[2015-10-08 16:38] #364 closed

[2015-10-08 16:52] #379 closed

[2015-10-08 16:53] #892 closed

[2015-10-08 16:55] jmcmurry commented on #20
+1

[2015-10-08 17:27] jmcmurry commented on #653
This ticket is a bit stale; could I ask that someone provide a summary of where we are now with jbrowse/apollo? Thanks in advance.

[2015-10-08 17:34] cmungall opened #987 "species filtering is broken on /analyze/phenotypes on beta"
prod works:

http://monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0008392&mode=search&target_species=10090&limit=100

beta includes humans:

http://beta.monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0008392&mode=search&target_species=10090&limit=100

[2015-10-08 17:37] jmcmurry commented on #672
https://github.com/monarch-initiative/monarch-app/blob/master/conf/xrefs.json still seems to have OPHANET rather than Orphanet. https://github.com/monarch-initiative/dipper/blob/master/dipper/curie_map.yaml is correct. This is part of that larger discussion about whether / how to have a single source of truth wrt prefixes. My personal preference would be to merge the info. Each prefix could have a

[2015-10-08 17:43] jmcmurry commented on #671
I'm not sure whether this has been addressed to satisfaction.
I do see the ZFIN ID listed under equivalents, however it doesn't link to a ZFIN page, it links to a Monarch page, which in turn links out to a ZFIN page. I believe that this is the desired behavior and will provisionally close this.
![screen shot 2015-10-08 at 10 39 36](https://cloud.githubusercontent.com/assets/3658863/10374680/482a16

[2015-10-08 17:43] #671 closed

[2015-10-08 17:46] nathandunn commented on #653
Hey Julie,

I don’t think we’ve met . . I work with the Apollo / BBOP group.

My understanding is that this is in 2 phases:

1 - there is a multi chromosome viewer built off of angularjs / d3 that a student built.  It should look something like this:

http://pparsons.github.io/angular-chromosome-vis/ <http://pparsons.github.io/angular-chromosome-vis/>

He had it working both vertically and horizon

[2015-10-08 17:46] jmcmurry commented on #644
Just want to refresh Harry's question; what is the status?

[2015-10-08 18:00] #937 closed

[2015-10-08 18:01] kshefchek commented on #644
I've been refactoring the compare function to remove dependencies on NIF and noticed the same thing as @harrhoch, when grouping targets with a plus sign the call fails.  When listing with a comma the call will work.

This issue is this line: https://github.com/monarch-initiative/monarch-app/blob/9bcc462c/lib/monarch/api.js#L4329 where we concatenate any IDs with a plus sign and send this to scigra

[2015-10-08 19:10] nlwashington commented on #20
i'm working on a proof-of-concept of this now in R, and trying to figure out the right way to store (golr, other solr, etc).

[2015-10-08 19:34] jmcmurry opened #988 "Scientific vs Common names for species in site search page"
Just realized that in site search here: http://beta.monarchinitiative.org/search/pax2 we don't seem to be consistent about use of common vs scientific names and just curious as to why.

Gallus gallus is represented as chicken, but Bos taurus not represented as Cattle.
Not a big deal, but just flagging it for consideration because while Bos taurus is common enough the more obscure species we get in

[2015-10-08 19:40] kshefchek commented on #988
Right now we take the first listed common name if available in scigraph, if it's not availabe we use the scientific name.

[2015-10-08 20:15] kshefchek commented on #960
This can be closed by making a note here to transfer the above requests to a new ticket.

[2015-10-08 20:15] #960 closed

[2015-10-08 20:23] jmcmurry commented on #521
Could also be relevant for an uber search, so I'm tagging this accordingly.

[2015-10-08 20:26] jmcmurry commented on #615
Looking at beta.monarchinitiative.org/gene/NCBIGene:39958, I don't see any references listed at all.
![screen shot 2015-10-08 at 10 55 16](https://cloud.githubusercontent.com/assets/3658863/10375033/283bf038-6dab-11e5-8c03-ae15ac217416.png)
This makes me wonder whether it is a regression or whether it was never addressed at all?

[2015-10-08 21:10] jmcmurry commented on #407
I'm not sure how best to investigate the status of this, so perhaps someone knows off the top of their head. Can this now be closed?

[2015-10-08 21:12] jmcmurry commented on #392
@nlwashington @cmungall ; can this be closed?

[2015-10-08 21:29] jmcmurry commented on #988
Per Kent, this scigraph query pulls from [ncbigene.ttl](http://data.monarchinitiative.org/ttl/ncbigene.ttl) and [monarch.owl](https://raw.githubusercontent.com/monarch-initiative/monarch-ontology/master/monarch.owl). I see that the latter depends on [bbop taxonomy slims](http://www.berkeleybop.org/ontologies/ncbitaxon/subsets/taxslim.owl) which is probably the source that would need to be updated

[2015-10-08 21:31] jmcmurry commented on #450
Related to https://github.com/monarch-initiative/monarch-app/issues/614 Check back after SciGraph and Data release.

[2015-10-08 21:35] jmcmurry commented on #440
Since this issue was logged, it seems like we may have moved away from the idea of a literature tab as such, and have instead pulled in reference where appropriate in other tabs. I'm provisionally closing; please reopen and clarify if needed.

[2015-10-08 21:35] #440 closed

[2015-10-08 21:38] #405 closed

[2015-10-08 22:17] #392 closed

[2015-10-08 23:23] yuanzhou commented on #979
Still not resolved. It might be just for my PC and VM settings. I'll reexamine later.

[2015-10-08 23:23] #979 closed

[2015-10-08 23:47] jmcmurry opened #989 "Add disease model association distribution to models landing page"
In a few places, I'm a bit perplexed as to why we don't see models as results.

Take for instance when I navigate to [browse-->models] (http://beta.monarchinitiative.org/model) and click on a bar corresponding to any given phenotype:
![screen shot 2015-10-08 at 16 39 40](https://cloud.githubusercontent.com/assets/3658863/10382681/50f6925a-6ddb-11e5-9bd9-0b9d16af8055.png)

Ostensibly, there are for

[2015-10-08 23:59] kshefchek commented on #989
We still duplicate the model and genotype landing pages, will break these out into separate pages.

[2015-10-09 00:15] kshefchek opened #990 "Rank species in autocomplete and search for genes"
We want to display human and model organisms in which we know have information first in any search or autocompleted list of results (human, mouse, zebrafish, fly).  One option would be to simply filter out other species.

[2015-10-09 00:17] jmcmurry opened #991 "In site search, taxon column should not be blank for phenotypes and diseases (models?)"
Related to https://github.com/monarch-initiative/monarch-app/issues/983
Currently taxon is only fetched for genes. Therefore it looks weird to see the column blank for disease / phenotype searches as taxon is relevant. See for example http://beta.monarchinitiative.org/search/kallmann
![screen shot 2015-10-08 at 17 15 42](https://cloud.githubusercontent.com/assets/3658863/10383163/577ccdba-6de0-11e

[2015-10-09 00:22] jmcmurry commented on #350
This appears to have been addressed; please reopen and clarify if not.

[2015-10-09 00:22] #350 closed

[2015-10-09 00:24] jmcmurry commented on #198
Not sure where this stands, but because it seems both valuable and hard, I'm moving to wishlist.

[2015-10-09 00:35] jmcmurry commented on #146
As we are no longer displaying phenotype frequency column, I think this ticket is at least temporarily no longer relevant. Please reopen and clarify if necessary.

[2015-10-09 00:35] #146 closed

[2015-10-09 00:45] jmcmurry commented on #124
This skeleton is still there: http://beta.monarchinitiative.org/literature/PMID:15459382
This looks like a very nice feature; moving to wishlist.

[2015-10-09 00:48] jmcmurry commented on #345
Just echoing the question. @cmungall Is this resolved to your satisfaction with the new SciGraph work? cc: @kshefchek

[2015-10-09 00:57] DoctorBud commented on #985
Yeah. It's a known bug, but I didn't think anyone would care. Chris is correct  that I should add a separate route to handle it (it'll be a one-line fix, since I've extracted the handlers into separate named functions for almost all routes).

I'll fix it. I might be able to take advantage of my webenv.wrapRouteXXX() code so that the extra route gets added automatically. Yeah, that's what I will do

[2015-10-09 01:30] #893 closed

[2015-10-09 01:34] yuanzhou commented on #970
After talking to Mike, it turned out that the `owlSimFunction` is just ported from the old phenogrid and needs more work and testing, and `geneList` has gone from the current phenogrid. I'll close this issue here and reference it in phenogrid's issue list so I keep track of this.

[2015-10-09 01:34] #970 closed

[2015-10-09 01:49] cmungall commented on #991
* We can veto the first one: ID space of ontology is not a reliable way to determine this.
 * We will have animal diseases in at some point.
 * Grouping may be the best option: gene/phenotype/disease.

Another option is simply to rename the column as something neutral, like 'context'

Looking ahead, we want any node in the graph to be findable here. Currently only the ontology-graph is searched, a

[2015-10-09 01:51] #345 closed

[2015-10-09 05:01] jmcmurry commented on #991
ok, sounds good; let's perhaps:
- [ ] group: genes separately from phenotypes, separately from diseases
 - [ ] delete the category column altogether to avoid redundancy
- [ ] leave taxon as a column header in genes group
- [ ] continue the dimensions of column in genes and diseases, but change the header to either 'source' if people prefer listing just the source prefix or to 'id' if people prefer

[2015-10-09 05:24] jmcmurry commented on #125
I'm midway between an icon hater and lover. I like the idea of breaking up the text and we already have the 5 icons in use on the homepage:
 - [x] Phenotypes
 - [x] Diseases
 - [x] Genes
 - [x] Models

From a sustainability standpoint, we needn't enlist a graphic designer as I'm glad to do it, the real question is "Does it make sense for our categories?" I say that because the following are closel

[2015-10-09 05:30] jmcmurry commented on #205
@cmungall does [this api documentation page](http://beta.monarchinitiative.org/page/services) adequately address this ticket?

[2015-10-09 06:21] jmcmurry commented on #216
While not the most exciting task, this is really important especially as we move toward more buzz. I am willing to pick up the thread but need to know:
A) Who the appropriate general counsel members are to contact at OHSU
B) Whether when I speak with OHSU counsel, whether I should advocate that LBL, UPitt (others?) general counsel be summoned simultaneously or in succession. What approach has work

[2015-10-09 07:03] jmcmurry commented on #878
@kshefchek, models tab of http://beta.monarchinitiative.org/gene/NCBIGene:672 is still blank, so I'm assuming we're still waiting on the new release?

[2015-10-09 14:49] jmcmurry commented on #550
This must have been fixed ages ago http://beta.monarchinitiative.org/genotype/MGI:2180831#diseases

[2015-10-09 14:49] #550 closed

[2015-10-09 14:55] jmcmurry opened #992 "Need consistency between "disease" and "diseases" in tab title and URL fragment"
Currently, the tab says "disease" but the URL fragment says "diseases"; I slightly prefer making these consistent to "diseases" as it better matches the plural nature of the other categories, however it doesn't matter, provided they're the same. Please chime in if you have a preference. This is an easy fix, but a low priority.

[2015-10-09 15:10] jmcmurry commented on #711
Good idea. This would be really great, but a long way off since we don't yet commit to URL persistence even at the tab level.

[2015-10-09 15:14] jmcmurry commented on #694
Beta banners for beta pages would still be a good thing to have; perhaps lets tackle once Node-ification is complete. @kltm @DoctorBud?

[2015-10-09 15:17] nathandunn commented on #653
Working example:  http://monarchinitiative.org/labs/chromosome-vis-demo

[2015-10-09 15:17] jmcmurry commented on #693
@mellybelly this ticket is pretty old, please let me know if you have come across anything else in the meantime that you think is a good template to start from.

[2015-10-09 15:30] jmcmurry opened #993 "Text Annotator"
I think we could be doing more to promote Text Annotator. The only entry point to it is in the "Analyze" menu.

Consider the following:
- [ ] automatic diversion to Text Annotator if the site search query string is either:
  - [ ] greater than x tokens
  - [ ] no results
- [ ] add an "annotate text" image to carousel on the homepage

@nlwashington @mellybelly @cmungall thoughts?

[2015-10-09 15:37] cmungall commented on #993
+1 for both but dependent on #925 or we're back in a worse place w.r.t species

[2015-10-09 16:28] jmcmurry commented on #993
@cmungall very good point. I will therefore postpone this to wishlist.

[2015-10-09 16:51] jmcmurry commented on #683
## Done
 - [x] Should say "powered by SciGraph search" (not NIF annotator)

## Easy
 - [ ] The button on the /analyze/phenotype query screen should say "Annotate" not "Search"
 - [ ] In "marked up text" tab (not just from the list view tab) provide an "Analyze Phenotypes" button
 - [ ] CURIE is repeated in annotated text view and list view; in both places instead hyperlink from the term label. CUR

[2015-10-09 17:53] jmcmurry opened #994 "Improvements to Analyze Phenotypes input"
## Easy

 - [ ] CURIE or CURIE prefix absolutely needs to be part of the autocomplete box otherwise it is confusing. We are currently not getting that info until after selection:

----------------------
![screen shot 2015-10-09 at 10 43 53](https://cloud.githubusercontent.com/assets/3658863/10401263/b60fe51e-6e72-11e5-863c-74b781dd789e.png)

----------------------
![screen shot 2015-10-09 at 10 44

[2015-10-09 17:58] jmcmurry commented on #678
@kshefchek @cmungall this is a very long running ticket with a lot of progress. Could one of you perhaps summarize what tasks remain to be done to close it?

[2015-10-09 18:01] jmcmurry commented on #412
@cmungall @kshefchek  Has this issue been addressed? It doesn't seem to have been looked at since at least March 2015, perhaps even since creation in 2014.

[2015-10-09 18:13] jmcmurry commented on #80
Phenogrid now has an export as svg option, but I agree that some kind of text export would be better, even if it is json. However, we might want to consider holding off on any more export mechanisms until we deal with the user registration issue. @mellybelly please advise

[2015-10-09 18:14] kshefchek commented on #994
It looks like we're not sharing code (maybe for good reason) between the navbar autocomplete and analyze page autocomplete.  I will add the equivalency fiiltering code to remove duplicates here.

For searching on IDs, we don't currently store curies in SciGraph (unless imported from an ontology).  There have been some offline discussions but we should make an official ticket in the SciGraph repo.

[2015-10-09 18:26] jnguyenx commented on #991
@cmungall here are the tickets in SciGraph for text search
https://github.com/SciGraph/SciGraph/labels/vocabulary%20overhaul

[2015-10-09 18:27] jmcmurry opened #995 "Issue mapping between Monarch App and other Repos"
Cross-repo dependencies are tricky with current workflow. Anything with the [SciGraph label](https://github.com/monarch-initiative/monarch-app/labels/SciGraph) or [phenogrid label] (https://github.com/monarch-initiative/monarch-app/labels/phenogrid) should be examined for specific tickets that might be relevant. Same goes for owlsim, golr, and ontology.

[2015-10-09 18:55] yuanzhou commented on #968
@jmcmurry is this a phenogrid issue?

[2015-10-09 18:58] cmungall commented on #678
Done. See docs in conf/golr-views for how this works.

[2015-10-09 18:58] #678 closed

[2015-10-09 18:58] #412 closed

[2015-10-09 19:01] jmcmurry commented on #968
Not really, no; the phenogrid label could be removed. In response to your thread above, the "no results" response was one Kent thought you had fixed (was previously just an error). Doesn't really matter, though.

[2015-10-09 19:29] jmcmurry commented on #877
This is now working on beta, so I will close it.  Related to issues labeled [search](https://github.com/monarch-initiative/monarch-app/labels/search)

[2015-10-09 19:29] #877 closed

[2015-10-09 19:34] jmcmurry commented on #355
@selewis do you have any recent thoughts on this old ticket?

Also, I checked the status of http://beta.monarchinitiative.org/Phenotype/WBPhenotype_0001354 on beta and got the following:
[code]
On production, it resolves to a blank page. I'm not sure which is worse, or whether this would be addressed by SciGraph and Data release. @nlwashington please advise.

[2015-10-09 19:46] yuanzhou commented on #979
Notes about this issue from @DoctorBud :
-------------------------------------------------------------------
It’s a bug in `webapp.js` that is easily fixed:
[code]
should be:
[code]
The backstory is that ‘localhost’ doesn’t always resolve to the ‘network’ you’d expect, especially when there are multiple network adaptors in play, as is the case with a virtualbox. By using 0.0.0.0, we are saying to

[2015-10-09 19:50] DoctorBud commented on #979
Added this comment to webapp.js when I fixed this in PR https://github.com/monarch-initiative/monarch-app/issues/977
    // From http://hapijs.com/api
    //      address - sets the host name or IP address the connection will listen on.
    //      If not configured, defaults to host if present, otherwise to all available
    //      network interfaces (i.e. '0.0.0.0'). Set to 127.0.0.1 or localho

[2015-10-09 19:50] cmungall commented on #355
beta appears to be down

On 9 Oct 2015, at 12:34, Julie McMurry wrote:

[2015-10-09 19:57] jmcmurry commented on #404
Fixed by d3ec2c14795f0eb9b5a836a4b3d5f9c0e5494dfa, but @ShahimEssaid may want to update his bio.

[2015-10-09 19:58] #404 closed

[2015-10-09 20:12] jmcmurry commented on #355
Weird; the outage must have been very brief as I had been all over beta before and after this ticket.
In any case, it now resolves to ````Sorry. Your page could not be found.````

[2015-10-09 20:15] #302 closed

[2015-10-09 20:40] jmcmurry commented on #696
@mbrush could you first find the guidelines for the following:
- [ ] Gray Short-Tailed Opossum
- [ ] Platypus
- [ ] Horse
- [ ] Rhesus Monkey
- [ ] Chimpansee Troglodytes
- [ ] Canis Domesticus

@nlwashington could you clarify whether you intended for the info to be presented as a static HTML page or in a context-aware way. That is to say, should we be storing these in a machine readable represent

[2015-10-09 21:02] jmcmurry commented on #723
@kshefchek could you break this down into the steps we need to make this work? No need to tackle them just yet, but it has been out there for a while so just want to better understand any blockers or difficulties.

[2015-10-09 21:11] jmcmurry commented on #89
@cmungall Please close or clarify what the blockers are, thanks

[2015-10-09 21:12] cmungall commented on #707
closing as it's an ontology issue, follow tracker link above

[2015-10-09 21:12] #707 closed

[2015-10-09 21:32] jmcmurry commented on #991
ps. Ultimately the taxon column issue will rear its head any time we have a multi-category table. Eg. http://monarchinitiative.org/labs/golr/NCBIGene:6469

[2015-10-09 21:34] jmcmurry commented on #703
@julesjacobsen:
 - [ ] Please update on status of exposure/documention of REST service and infrastructure move

@kshefchek:
 - [ ] Please change title of page to "Monarch Exome Analysis Tools"

@pnrobinson:
 - [ ] Please clarify whether you mean with a static hairball image as eye candy, or with a functioning (eg. d3) implementation (that we all know is impressive but of limited actual use?)

[2015-10-09 22:11] jmcmurry commented on #695
Hrrrm. Should have used these as examples in the 10 Rules manuscript. I suppose we still could squeeze in if allowed. I certainly like the idea of documentation like [nature's](http://www.nature.com/ontologies/docs/namespaces/); it should definitely be auto populated from curie_map.yaml as it will otherwise be hard to maintain.

[2015-10-09 22:15] jmcmurry commented on #727
I don't see any heritability information in the disease page jumbotron.
http://beta.monarchinitiative.org/disease/DOID:3491
@kshefchek could you provide an example of what you're looking for and where?

[2015-10-09 22:16] jmcmurry commented on #730
@kltm can this be closed?

[2015-10-09 22:24] kltm commented on #730
I have no truck with the bamboo jobs and I believe there is no push to use owltools at this point; removing self.

[2015-10-09 22:24] jmcmurry commented on #731
I would love for @DoctorBud to have a look at the README and developers README and make appropriate changes while recently encountered install challenges are fresh in our minds.

[2015-10-09 22:29] jmcmurry commented on #734
@cmungall could you please comment on this and on monarch-initiative/dipper#113?

[2015-10-09 22:33] jmcmurry commented on #764
@mellybelly to provide full requirements, please

[2015-10-09 22:38] jmcmurry commented on #726
@cmungall could you clarify, please? I expected this ticket to be about dissimilarity in the pages, but Orphanet:881 is an XREF but NOT an equivalent identifier in Monarch or in DOID.

The identifier that *is* listed as a true equivalent is the MESH:D014424, which appropriately redirects from [MESH:D014424](http://beta.monarchinitiative.org/disease/MESH:D014424) to [DOID:3491](http://beta.monarchi

[2015-10-09 22:47] #730 closed

[2015-10-09 22:59] jmcmurry commented on #767
Some progress appears to have been made on this ticket.
- [x] Gene name 'noto' should appear on http://monarchinitiative.org/gene/ZFIN:ZDB-GENE-990415-75#phenotypes
- [x] Genotypes should appear on http://monarchinitiative.org/gene/ZFIN:ZDB-GENE-990415-75#genotypes

Nevertheless
 - [ ] [ZDB-GENE-990415-75#phenotypes](http://sirius.monarchinitiative.org:8080/solr/golr/select?defType=edismax&qt=stan

[2015-10-09 23:07] cmungall commented on #726
Will be fixed after next SciGraph ontology load

[2015-10-09 23:08] jmcmurry commented on #583
This appears to have been implemented where I have seen it.
![screen shot 2015-10-09 at 16 07 17](https://cloud.githubusercontent.com/assets/3658863/10407471/e54d04ba-6e9f-11e5-947c-5523ab9ed75e.png)
If there is a context where it is still missing, please so describe and reopen, thanks.
I'm going to provisionally close.

[2015-10-09 23:09] #583 closed

[2015-10-09 23:21] jmcmurry commented on #994
@kshefchek If you remove duplicates in analyze page autocomplete, will it put multiple exact matching terms in the list? (eg. HP and MP). If so, this is probably fine, perhaps desirable anyway. The user can always remove one if necessary.

[2015-10-09 23:25] jmcmurry commented on #713
@nlwashington do we still need this? See Kent's comment above.

[2015-10-09 23:36] jmcmurry commented on #592
@kshefchek is this done enough to close out? Or do we have more in mind?

[2015-10-10 00:09] jmcmurry opened #997 "Site-wide plan for results ranking and workflow"
There are a few disconnected tickets and threads relevant to ranking of table results and to the user's workflow through the app. It would be useful to have a unified strategy which we can adapt for more specific scenarios (ranking homologs according to sequence similarity). Considerations for back and front end should be included. @harryhoch Can we put on agenda for an upcoming UI meeting?

A mor

[2015-10-10 00:50] jmcmurry commented on #155
Duplicate of a newer higher-level ticket here: https://github.com/monarch-initiative/monarch-app/issues/994

[2015-10-10 00:50] #155 closed

[2015-10-10 13:48] harryhoch commented on #997
@jmcmurry ,  I like this line of thinking. yes, we can certainly try to discuss. Perhaps Monarch can help me buy a new refrigerator....

[2015-10-10 15:38] jmcmurry opened #998 "URGENT: Load testing as part of release cycle"
We urgently need to develop some load tests. We can all agree that the servers *can not* go down, especially when we have spikes of usage during after presentations. Who is the right person to take this on?

[2015-10-10 18:06] #89 closed

[2015-10-10 22:12] kltm commented on #998
Load tests are important, but I think this probably needs to be unpacked into a few different items: unit tests sets, tests framework for pushing the services until they overload, fuzz testing, etc. Also, is it certain that it was an overload as opposed to some other type of issue, and which parts caused the load?

As well, since the desired outcome is to not have things go down, coordination with

[2015-10-10 22:21] mellybelly commented on #998
I looked at google analytics and it seemed that there were only 70 counted users today, compared to over a hundred on most days recently. So either Google analytics hasn't finished counting, or it wasn't the load from us having presented.

[2015-10-10 22:23] kltm commented on #998
Also, given the outages, there should be an external turnkey solution for restarting the servers. As well, something that we've had in AmiGO due to similar circumstances is a dead man's switch so that traffic can be redirected to a secondary site (e.g., sending people to beta would probably be better than a 500 error).

Part of the current architecture is that there is a single (now node) app runn

[2015-10-11 00:16] kshefchek commented on #592
Closing for now, please reopen if we want to revisit adding the chart to the home page

[2015-10-11 00:16] #592 closed

[2015-10-12 16:58] jmcmurry commented on #580
This is super old and it isn't happening on my machine. @kltm could you comment about a) whether you're still seeing it b) if so, what your environment is? If you're not seeing it anymore, lets close. Thanks

[2015-10-12 17:50] kshefchek commented on #723
This is my understanding, @kltm please correct me

Solr/Golr supports mixing logical OR/AND filters ([for example](http://sirius.monarchinitiative.org:8080/solr/golr/select?defType=edismax&qt=standard&indent=on&wt=json&rows=1000&start=0&fl=*,score&facet=true&facet.mincount=1&facet.sort=count&json.nl=arrarr&facet.limit=25&facet.method=enum&fq=subject_closure:%22MGI:2676312%22%20OR%20object_closure:

[2015-10-12 17:57] kshefchek commented on #994
If I were to copy the functionality from the navbar autocomplete, we would only be showing the user the collapsed ID/label.  But I would think this is desirable over showing the user all equivalent IDs in the phenotype list which would be potentially confusing.

[2015-10-12 18:06] kltm commented on #580
Looks like somebody got that along the way.

[2015-10-12 18:06] #580 closed

[2015-10-12 18:18] cmungall commented on #723
I thought we no longer needed this, as we prepoluate the inferred symmetric relationships?

[2015-10-12 18:21] kltm commented on #723
This was my understanding as well.

[2015-10-12 18:22] kshefchek commented on #994
Thinking about https://github.com/monarch-initiative/monarch-app/issues/994#issuecomment-146951868 a little more, we have graph and vocabulary services that accept curies as input.  So we could theoretically try to match on a user entered ID assuming it is entered correctly and in the correct format (curie rather than fragment).

For example, a user enters HP:0000175 which has 0 matches in autocom

[2015-10-12 18:34] kshefchek commented on #723
My understanding was that this for a single table view if we ever decide to go down that route?

[2015-10-12 18:39] cmungall commented on #723
Not following

On 12 Oct 2015, at 11:34, Kent Shefchek wrote:

[2015-10-12 18:41] kshefchek commented on #723
We originally created this ticket when we were discussing having a single large table with all our data versus breaking things into tabs.

[2015-10-12 18:56] mellybelly opened #999 "Need to advertise Patient Archive on homepage, doc"
@tudorgroza @jmcmurry can you all make a plan for the next release to advertise patient archive on the monarch app?

also need some documentation and pointers.

[2015-10-12 21:25] jmcmurry commented on #754
I understand the rationale for literal HTML text being fed from dipper (I logged a new ticket https://github.com/monarch-initiative/dipper/issues/209) but I do not understand the &agr1,2Lan example as I don't see any corresponding html character code.

In any case, I've changed the title of the ticket to correspond to the remaining UI-side functionality to implement if the dipper dependency is ful

[2015-10-12 21:29] jmcmurry commented on #754
@cmungall pI don't understand the reason for the bbob label for this ticket; could you clarify or remove, please? Thanks

[2015-10-12 21:40] kshefchek commented on #754
The golr tables are bbop-js widgets, see https://github.com/berkeleybop/bbop-js/tree/master/lib/bbop/widget, although some code is unique to Monarch (linker.js, handler.js)

[2015-10-12 22:06] nlwashington commented on #754
We regenerate the labels for genotypes and their parts as part of the dipper pipeline, to try to remove all html chars, and ensure style consistency according to the part type.  This is to bring about uniformity across all organisms, where each MOD may represent the same genotypic parts using a different notation style.  If this is undesirable, this needs to be discussed on a bigger call, as much

[2015-10-12 22:30] jmcmurry commented on #744
I believe the consensus was to move toward a custom faceting approach in the fullness of time, so I will provisionally close this bbob-widget-specific ticket. Please reopen and clarify if needed.

[2015-10-12 22:30] #744 closed

[2015-10-12 22:53] jmcmurry commented on #126
1) If you end up caching counts of the tabs for each of the overview pages for these items, then a hover over a gene might be able to show if there are phenotype annotations for it! this would be way cool. this would be especially useful if we wanted to sort genes on a homology tab based on if there were phenotype annotations available. -NLW

@nlwashington perhaps you meant pre-computing counts (f

[2015-10-12 23:32] jmcmurry opened #1000 "From search results, hyperlink to /phenotype/ needs to be all lowercase"
Site search for joint laxity here http://beta.monarchinitiative.org/
Brings me to http://beta.monarchinitiative.org/search/joint%20laxity
I select any result of type phenotype, and the hyperlink is incorrectly capitalized, yielding a 'not found' result.
http://beta.monarchinitiative.org/Phenotype/HP:0002761
should be
http://beta.monarchinitiative.org/phenotype/HP:0002761

[2015-10-13 04:17] nlwashington opened #1002 "report of all knowlege linked to variants in uploaded VCF"
the [EVA](http://www.ebi.ac.uk/eva/) allows users to browse a report of what's known about variants.

we could do the same... it's just another "collection" of things, where we want to show what's known.

the workflow here would be that the user could upload a VCF file, and then see what phenotypes are linked to each.  this will be awesome once we bring in the GWAS data and can indicate susceptibi

[2015-10-13 04:28] jmcmurry commented on #705
@kshefchek This doesn't seem to be working on beta or on production; any ideas as to why? Is this just an issue of a non persistent identifier, or is the basic infrastructure no longer working? Also, what are the links (now and envisioned) that get you to an association page?

[2015-10-13 04:56] jmcmurry commented on #701
@kshefchek @cmungall is this lag still happening? If so, with what frequency / queries?

[2015-10-13 05:01] jmcmurry commented on #729
@kshefchek please provide update with clarification of any blockers, thanks

[2015-10-13 05:20] jmcmurry commented on #803
This is perhaps a topic for discussion at allhands January as it is nuanced. We need better attribution and knowledge of where our data is going in order to better justify the work.

[2015-10-13 05:26] jmcmurry commented on #846
@kshefchek any update on this one, perchance?

[2015-10-13 05:37] jmcmurry commented on #648
This has multiple sub-tasks short and long term, but lets a) outline them and b) make make at least some progress by thanksgiving release.

[2015-10-13 05:38] jmcmurry commented on #573
This is still relevant but a duplicate of other more detailed or recent tickets.

[2015-10-13 05:38] #573 closed

[2015-10-13 05:40] jmcmurry commented on #680
@cmungall @nlwashington can this be closed perhaps?

[2015-10-13 05:53] jmcmurry opened #1003 "Autocomplete in /analyze/phenotypes doesn't recognize "Drug Metabolism, Poor, CYP2D6-Related""
Not sure what the underlying issue is but it is not possible to get to "Drug Metabolism, Poor, CYP2D6-Related" in beta.monarchinitiative.org/analyze/phenotypes. Interestingly, it does work fine on site search autocomplete.

![screen shot 2015-10-12 at 22 48 22](https://cloud.githubusercontent.com/assets/3658863/10446842/d4423d7a-7133-11e5-92d1-827f3c0a8d04.png)

![screen shot 2015-10-12 at 22 46 0

[2015-10-13 05:55] jmcmurry commented on #605
@nlwashington is this still an issue? We no longer show the scores in disease pages so not sure...

[2015-10-13 06:10] jmcmurry commented on #855
this basic functionality now in place

[2015-10-13 06:10] #855 closed

[2015-10-13 15:34] kshefchek commented on #1003
This sounds like an ontology issue, is Drug Metabolism, Poor, CYP2D6-Related miscategorized as a disease?

[2015-10-13 15:35] kshefchek commented on #846
no progress here

[2015-10-13 15:40] kshefchek commented on #705
The page should work; it is most likely an out dated ID.  Right now these are not linked from anywhere, but could eventually be linked from any of our data tables on other pages.

[2015-10-13 15:42] kshefchek commented on #701
This is a solr configuration, see https://wiki.apache.org/solr/SolrCaching#Cache_Warming_and_Autowarming

[2015-10-13 16:17] jmcmurry commented on #859
Making them less prominent sounds good to me, though I'm not sure about having a right panel. Perhaps at the bottom of the page instead? I rather like the way that UniProt does it, though it is a bit space-hungry. See for example: http://www.uniprot.org/uniprot/P12345

[2015-10-13 16:18] jmcmurry commented on #858
Closing as this has been addressed and is a duplicate.

[2015-10-13 16:18] #858 closed

[2015-10-13 17:05] nlwashington commented on #491
the animalQTL data is now in the pipeline and loaded into scigraph.  we will need better connectivity between VT and UPheno in order to link data across species; however, it should be available now on beta.

[2015-10-13 17:05] #491 closed

[2015-10-13 17:26] nlwashington commented on #520
this appears to be fixed.

[2015-10-13 17:26] #520 closed

[2015-10-13 17:28] nlwashington commented on #522
yes, i think this can be closed.

[2015-10-13 17:28] #522 closed

[2015-10-13 17:31] nlwashington commented on #680
this code still lives in widgets/keggerator.  is a branch the appropriate place for it?  i don't want to do this incorrectly, so can @DoctorBud or @cmungall?

[2015-10-13 17:32] nlwashington commented on #605
yes, the score is still an issue... it is visible in the phenogrid, and shows up as 137%.  this will need to be investigated from the owlsim side of things.

[2015-10-13 17:33] nlwashington commented on #452
no longer dependent.

[2015-10-13 17:33] #452 closed

[2015-10-13 17:35] nlwashington commented on #586
i believe this is integrated now.

[2015-10-13 17:35] #586 closed

[2015-10-13 17:36] nlwashington commented on #688
that path probably the result of incorrectly processing multiple categories on terms in autocomplete.  it has been fixed, afaik.

[2015-10-13 17:36] #688 closed

[2015-10-13 17:36] nlwashington commented on #549
we no longer rely on cacheing.

[2015-10-13 17:36] #549 closed

[2015-10-13 17:38] nlwashington commented on #542
perhaps @DoctorBud knows if we have achieved this yet?

[2015-10-13 17:39] nlwashington commented on #483
irrelevant now.

[2015-10-13 17:39] #483 closed

[2015-10-13 17:39] nlwashington commented on #451
no longer an issue with the new architecture.

[2015-10-13 17:39] #451 closed

[2015-10-13 17:40] nlwashington commented on #301
while we have not really used the scoring to assist with curation, we could.  but this belongs more in the longer-term planning for Monarch, rather than in our app.

[2015-10-13 17:40] #301 closed

[2015-10-13 17:52] jmcmurry commented on #864
This has been addressed

[2015-10-13 17:52] #864 closed

[2015-10-13 17:57] jmcmurry commented on #863
+1 ... I didn't know they were ever there, however. How hard is this to bring back? @kshefchek?

[2015-10-13 18:05] #1000 closed

[2015-10-13 18:07] jmcmurry commented on #784
@cmungall  Which is the desired behavior?
1. Show rows corresponding to blank nodes, but do not link the text from "some sequence alteration on ...". This is what is happening now on beta.
![screen shot 2015-10-13 at 11 02 08](https://cloud.githubusercontent.com/assets/3658863/10463653/9c219e1a-719a-11e5-8662-cc77f31d275a.png)

2. The rows corresponding to blank nodes should not be shown at all.

[2015-10-13 18:12] nlwashington commented on #784
if we don't show the blank noes at all (even without variation), we may occasionally loose some useful annotations.  the labels are generated by me; is there something else you'd like as an alternative?

i think in the case of the "some sequence alteration on chr2"... that one we really don't know what the cause is; all we have is the karyotype information that we know affects chr2.

[2015-10-13 18:12] kshefchek commented on #1003
Looks like this is a disease without any phenotype annotations, so I'm thinking this is non-issue?  Please re-open if I'm incorrect.

[2015-10-13 18:12] #1003 closed

[2015-10-13 18:16] kshefchek commented on #757
I think we can close, but perhaps we should change the route naming, @jmcmurry mentioned maybed /id/:id instead of /resolve/:id

[2015-10-13 18:21] jmcmurry commented on #784
@nlwashington These are good points; I think it looks fine as it is, but just wanted to understand the scope of the ticket to see whether it could be closed. Sounds like the answer is yes.

[2015-10-13 18:21] #784 closed

[2015-10-13 18:21] nlwashington commented on #784
also, FYI, in this case above, I have not finished the karyotype parser to get all the parts, so I am unable to make a more-atomic label other than figuring out that there is some kind of affect on a given chromosome.

[2015-10-13 18:23] #600 closed

[2015-10-13 18:24] #205 closed

[2015-10-13 18:26] nlwashington commented on #450
what this ticket is really about is being able infer that a given phenotype is associated with a gene, even though the original annotation was to a genotype.  this is addressed now in the cypher queries.

[2015-10-13 18:26] #450 closed

[2015-10-13 18:27] nlwashington commented on #444
closing for now

[2015-10-13 18:27] #444 closed

[2015-10-13 18:32] nlwashington commented on #407
i think this might be fixed.  FWIW, fever doesn't have any matches...(though i don't think that's correct behavior).  closing for now; we'll reopen if it's not fixed.

[2015-10-13 18:32] #407 closed

[2015-10-13 18:39] kshefchek commented on #689
I've added an API call pull these from golr, see 85ff71defdfd261a3e66c71068f4cab8d874d0c2, @harryhoch can this be closed?

[2015-10-13 18:43] kshefchek commented on #722
See comment here: https://github.com/monarch-initiative/monarch-app/issues/644#issuecomment-146639283

When grouping targets with a plus sign the call fails. When listing with a comma the call will work.

This issue is this line: https://github.com/monarch-initiative/monarch-app/blob/9bcc462c/lib/monarch/api.js#L4329 where we concatenate any IDs with a plus sign and send this to scigraph. This wil

[2015-10-13 18:44] harryhoch commented on #689
I think this is a question fo @yuanzhou. Zhou, what do you think?

[2015-10-13 18:49] kshefchek commented on #866
See comment here: https://github.com/monarch-initiative/monarch-app/issues/644#issuecomment-146639283

When grouping targets with a plus sign the call fails. When listing with a comma the call will work.

This issue is this line: https://github.com/monarch-initiative/monarch-app/blob/9bcc462c/lib/monarch/api.js#L4329 where we concatenate any IDs with a plus sign and send this to scigraph. This wil

[2015-10-13 20:10] jmcmurry commented on #827
@nlwashington just wondering if the back end is in place for us to craft something UI-side?

[2015-10-13 20:14] jmcmurry commented on #859
I should clarify that what I like about the UniProt handling of cross references is that you can learn more about the prefix by hovering over the (i) icon. We have discussed prefix documentation strategies elsewhere; this is another perhaps complementary approach.

[2015-10-13 20:19] jmcmurry commented on #904
Definitions are working on beta now so I will provisionally close the ticket.
Definitions are intentionally no longer in the jumbotron but in the body.
I don't know why it works on beta but on production we get the "your page not found" message.
@cmungall  @kshefchek please reopen if you know the reason for this and if it is still something we need to worry about.

[2015-10-13 20:19] #904 closed

[2015-10-13 21:04] jmcmurry commented on #909
@nlwashington could you please comment and clarify dependencies if necessary; thanks

[2015-10-13 21:36] kshefchek commented on #895
This should be fixed with the latest cliqueMerge code in SciGraph, leaving open as I need to go through and make sure parts of the hard coded portions of the phenotype and disease ontologies are all clique leaders.

[2015-10-13 21:53] jmcmurry commented on #909
It looks like ClinVar is showing up as the source, but there is no evidence type. Is this because we get a mix of evidence types and they are not specified? Or because there is a bug? If the former, I wonder whether it may be useful to have a designation like "not specified".
![screen shot 2015-10-13 at 14 50 24](https://cloud.githubusercontent.com/assets/3658863/10469443/13928094-71ba-11e5-96bf-f

[2015-10-13 22:22] jmcmurry commented on #420
This is a duplicate, and overtaken by events.

[2015-10-13 22:22] #420 closed

[2015-10-13 22:25] jmcmurry commented on #849
cc: @DoctorBud let's have a think about this in light of search faceting...

[2015-10-14 03:46] jmcmurry commented on #746
This is looking good to me; please reopen if needed.
![screen shot 2015-10-13 at 20 44 46](https://cloud.githubusercontent.com/assets/3658863/10474421/6c48d3d8-71eb-11e5-9230-a8d615ba3f26.png)

[2015-10-14 03:49] jmcmurry commented on #746
This doesn't appear fixed yet (on non-Gene pages).
![screen shot 2015-10-13 at 20 47 19](https://cloud.githubusercontent.com/assets/3658863/10474446/bfc7b31c-71eb-11e5-8562-93b20bb922d3.png)

On gene pages, all looks to be in order.
![screen shot 2015-10-13 at 20 44 46](https://cloud.githubusercontent.com/assets/3658863/10474449/c645b27a-71eb-11e5-8ee7-4f60ea555fc9.png)

@nlwashington do you antic

[2015-10-14 04:19] nlwashington commented on #746
i think the data is ready to go; just has to be added to the app code to leverage it in a new column of those tabs.

[2015-10-14 04:26] jmcmurry commented on #746
Great! Sounds easy enough. What is your preferred column header in this (non-gene-page) context? Also do you want just the gene, or also the relationship (eg. is allele of).

[2015-10-14 04:36] jmcmurry commented on #917
1. Morphology Cornea phenotype seems no longer to be listed Nervous System Morphology. Maybe this is intended; not sure. @mbrush ?
2. In a long list of phenotypes, if there are no subtypes it is impossible to tell, because the warning message occurs outside of the visible frame (in the legend). So clicking on a leaf node does nothing and shows nothing, unless you know where to look. Even when the

[2015-10-14 04:37] jmcmurry commented on #917
Related to https://github.com/monarch-initiative/monarch-app/issues/915

[2015-10-14 04:38] jmcmurry commented on #915
cc: @DoctorBud

[2015-10-14 04:40] #922 closed

[2015-10-14 14:30] yuanzhou opened #1004 "compare API doesn't accept certain genotype IDs"
I was working on phenogrid genotype expansion. I used the `http://beta.monarchinitiative.org/compare` API to get data results by providing a list of phenotypes IDs and a list of genotype IDs, for example:

`http://beta.monarchinitiative.org/compare/HP:0012774+HP:0002650/MGI:5575552,MONARCH:9b8f5c3332f6cee4a3759c3de8219891`

This URL doesn't generate a valid JSON response. It does sometimes if I re

[2015-10-14 14:45] yuanzhou commented on #689
@nlwashington @harryhoch @kshefchek Thanks for Kent's help, now I could get the genotypes of a specific gen using the API, for example: http://beta.monarchinitiative.org/gene/MGI:98956/genotype_list.json

It's also very fat to get the json back.

As discussed earlier in this issue, we can use the `compare` api to get matches of phenotypes and genotypes. I've encountered errors with using `MONARCH:

[2015-10-14 14:45] #689 closed

[2015-10-14 15:24] yuanzhou opened #1005 "Sometimes `metadata` property is missing in the compare results"
I'm getting a list of genotypes that are associated to a specific gene, then use the `compare` api to get matches between the genotypes and a list of phenotypes. I tried two mouse genes, during the compare phrase, the returned matches doesn't have the `metadata` property for the second genotypes/phenotypes query.

![capture](https://cloud.githubusercontent.com/assets/195873/10488202/99acd99e-7265-

[2015-10-14 15:31] kshefchek commented on #1005
Any chance you could the paste the failing queries here?  What is expected in the metadata field?

[2015-10-14 15:34] #928 closed

[2015-10-14 15:36] kshefchek commented on #1004
This is a bug and we should be returning something here.  I imagine it's because the Monarch ID cannot be found, I can't find it in [SciGraph](http://rosie.crbs.ucsd.edu:9000/scigraph/graph/MONARCH:9b8f5c3332f6cee4a3759c3de8219891?project=*). Where is this ID coming from?

[2015-10-14 15:39] jmcmurry commented on #699
As you see, I'm conflicted about when to tackle this ticket. @kshefchek could you outline the tasks that need to be completed and which of those are doable for this release please?

[2015-10-14 15:43] jmcmurry commented on #951
@nlwashington do you think this is a ticket that will be resolved with next data release? Aspirationally tagging it for this release, but if it is more involved, feel free to push back.

[2015-10-14 15:46] kshefchek commented on #699
Could we outline what still needs to be done?  I've added a resolving service to Monarch that accepts RRID: prefixed IDs, see https://github.com/monarch-initiative/monarch-app/issues/699#issuecomment-134381264 but have not done any other work on this.

[2015-10-14 15:47] yuanzhou commented on #1004
I got it from here: http://beta.monarchinitiative.org/gene/MGI:96794/genotype_list.json

There are several genotypes IDs are prefixed with `MONARCH:`

[2015-10-14 15:55] kshefchek commented on #1004
@nlwashington these are coming from our production golr, is our production datagraph out of sync with this server?

[2015-10-14 15:57] yuanzhou commented on #1005
Here is a query that returns the `metadata`:

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746+HP:0001300+HP:0002367+HP:0000012+HP:0000716+HP:0000739+HP:0001332+HP:0001347+HP:0002063+HP:0002067+HP:0002172+HP:0002322+HP:0007159+HP:0009466+HP:0001972+HP:0003502+HP:0005190+HP:0001763+HP:0003318+HP:0001371+HP:0001380+HP:0001394+HP:0001156+HP:0001159+HP:0001004+HP:0010886+HP:0006530+HP:0

[2015-10-14 17:53] jmcmurry commented on #932
@nlwashington this is an older ticket so
+1
1. I'm assuming this has not yet been built into the golr for fast lookup?
2. Aside from the description, what extra info would the association pages provide? Is there any way that we could repurpose the "relationship" column on this table?
3. Descriptions are long though and not sure that they would fit nicely even without any performance concerns.

mic

[2015-10-14 20:09] jmcmurry commented on #952
@nlwashington any progress or clarification of cause?

[2015-10-14 22:00] mellybelly opened #1006 "Consider model discussion forum"
there is a need to aggregate discussions about what models are working/not working, and for which assays. We should consider down the road having such a forum, or at least aggregating information regarding model discussions.

[2015-10-14 22:50] mellybelly opened #1007 "Consider"

[2015-10-14 23:10] jmcmurry commented on #1007
This is highly desirable but a long range plan that requires substantial engineering on stable identifiers at the entity level, rather than the dataset level.

[2015-10-15 00:35] #1004 closed

[2015-10-15 06:31] jmcmurry opened #1008 "Draft of possible enhancements to site autocomplete"
This is a high level ticket to capture the discussions we have been having on the site search strategy, autocomplete in particular. Below are some of the possible enhancements. Not all are feasible. Some may not be desirable. Not everyone will agree 100% and that is good.
- [ ] Offer "exploratory search" options ("in all results") as well as "known item" search options
- [ ] Collapse all text-matc

[2015-10-15 14:28] mellybelly opened #1009 "Add request for user feedback"
We need to be able to understand how people are using our resource and to be able to collect this information for funding purposes.

Can we add some kind of banner at our site, something like Wikipedia does, that says "Like our resource? We need user stories to help keep us funded. Tell us how you are using our resource"

@pnrobinson @drseb @damiansm @julesjacobsen should probably do the same for

[2015-10-15 16:02] nlwashington opened #1010 "add EOM to monarch import chain"
we need to add the elements of morphology to the import chain for the monarch ontologies.

[2015-10-15 16:08] nlwashington opened #1011 "short finger should not be subclass of short stature"
the newest load of our ontologies indicates that
short finger http://localhost:8080/phenotype/HP:0009566
is an inferred subclass of short stature HP:0004322

this is not right.  please fix in the relevant ontology. @cmungall or @mellybelly

[2015-10-15 16:51] kshefchek opened #1012 "Simsearch - change list of ids to list of objects with id and label"
[Example simsearch query for reference](http://monarchinitiative.org/simsearch/phenotype?input_items=HP%3A0000954%20HP%3A0002650%20HP%3A0030084%20HP%3A0000540%20HP%3A0000508%20HP%3A0000470%20HP%3A0000463%20HP%3A0000431%20HP%3A0000494%20HP%3A0000486%20HP%3A0000349%20HP%3A0000311%20HP%3A0000316%20HP%3A0000327%20HP%3A0000289%20HP%3A0000204%20HP%3A0000823%20HP%3A0000767%20HP%3A0002055%20HP%3A0000668%2

[2015-10-15 17:38] jmcmurry opened #1013 "User Feedback button and form"
For now, more obvious feedback button on each resource page rather than just in the "contact" menu

Thoughts? @cmungall @nlwashington @mellybelly @DoctorBud  Is there anything on this list easily doable by end of October?

[2015-10-15 18:10] nlwashington commented on #124
To populate all the tabs, we need the literature associations to be loaded into golr.

This is dependent on https://github.com/monarch-initiative/configs/issues/10.

[2015-10-15 18:22] nlwashington commented on #921
this one ought to show "single nucleotide variant", which is linked via the :type or :subClassOf relationships.  can you add this, @kshefchek ?

[2015-10-15 18:29] jmcmurry opened #1014 "Logging for metrics and trends"
- [ ] Evaluate what is currently being logged
 - [ ] Evaluate better tools or approaches
 - [ ] Implement
 - [ ] Mine the logs and rollup into an executive-level report

[2015-10-15 19:10] jmcmurry commented on #1014
related to https://github.com/monarch-initiative/impact/issues/15

[2015-10-15 19:10] jmcmurry commented on #1013
Related to https://github.com/monarch-initiative/impact/issues/15

[2015-10-15 19:10] jmcmurry commented on #986
Related to https://github.com/monarch-initiative/impact/issues/15

[2015-10-15 19:12] jmcmurry commented on #80
Related to https://github.com/monarch-initiative/impact/issues/15

[2015-10-15 19:45] jmcmurry commented on #956
Perhaps this autocomplete is failing because of the special characters? Harder to fix so putting it to wishlist for now.

The lack of a label is a separate potentially related issue. @cmungall?

[2015-10-15 19:47] jmcmurry commented on #935
@yuanzhou could you see if this unblocks you, please?

[2015-10-15 19:50] jmcmurry commented on #966
Assigning this to @DoctorBud in case he can help.

[2015-10-15 19:57] kltm commented on #966
The issue is that in some cases, services used are to non-HTTP ports.
Ideally, for production purposes, all services should be available over port 80 at some host, using a proxy if necessary to pass things back as necessary. This allow people who have to work under restrictive internet policies (a *lot* of universities do this) to use the application without trouble.
For development purposes, espe

[2015-10-15 20:28] jmcmurry commented on #899
I'm adding the vestigial tag to prompt clarification on whether there's been any progress on similar tickets that could be leveraged here. Species facets were brought back somehwere; where was this? I'm losing track. @kshefchek

[2015-10-15 20:37] jmcmurry commented on #1009
https://github.com/monarch-initiative/impact/issues/15

[2015-10-15 20:40] jmcmurry opened #1016 "Highlight user love / success stories in a new panel on the homepage"
Carousel similar to eagle-i.org
Depends on getting these stories, of course :\
The engineering of it could be tackled in parallel, however so that it is ready when we get the text.

[2015-10-15 20:40] jmcmurry commented on #1016
https://github.com/monarch-initiative/impact/issues/15

[2015-10-16 00:50] cmungall commented on #1011
There is something a bit funny about short finger, see linked ticket. But cannot replicate this in Protege.

I also don't see it here:
http://lurch.crbs.ucsd.edu:9000/scigraph/graph/neighbors/HP:0009566.json

[2015-10-16 15:56] kshefchek commented on #878
See https://github.com/monarch-initiative/configs/commit/827e891adebcd6dbe845265a69a3dd892ebf44ae

[2015-10-16 15:57] #895 closed

[2015-10-16 16:02] kshefchek opened #1017 "Behave tests - autocomplete tests which click on the first item in a list fail with xvfb"
When running in a local environment behave will click the correct item, but in xvfb it will click the second item in the list.

See if adjusting screen dimensions will fix this.

[2015-10-16 16:29] jmcmurry opened #1018 "New illustrations of homepage carousel image to highlight the new organisms"
Homepage carousel still just has humans, zebrafish and mice. Doesn't highlight our recent additions...

[2015-10-16 19:13] jmcmurry commented on #999
Sure thing.

[2015-10-16 19:27] jmcmurry commented on #757
I'm fine with the /resolve/:id. However I do think we need to think about external resolution as well as longer term internal resolution. Would those live under different resolving namespaces? Would the prepending of the RRID alone be adequate to signal that the traffic should be directed elsewhere? What about metadata pages? These are pretty big questions that we should think carefully about befo

[2015-10-16 19:29] cmungall commented on #1014
Also: see what can be done via google analytics first

[2015-10-16 21:48] nlwashington opened #1019 "literature/pub tabs"
add literature/pub/citation tabs to each of the main pages:

- [ ] disease
- [ ] gene
- [ ] genotype
- [ ] phenotype
- [ ] variant

these can be developed based on the literature-* golr.

[2015-10-16 22:40] jmcmurry commented on #1003
of course. face. palm. thanks.

[2015-10-17 00:06] kshefchek opened #1020 "Question - Cleft primary palate (HP:0410003) not equivalent to cleft primary palate (MP:0009893)"
http://lurch.crbs.ucsd.edu:9000/scigraph/graph/neighbors/HP:0410003.json?depth=5&blankNodes=true&relationshipType=equivalentClass&direction=BOTH&project=%2A

Is this an ontology issue, and how does one go about checking this (where is uberpheno?)

[2015-10-17 00:20] cmungall commented on #701
@kltm any hints on strategy?

[2015-10-17 00:21] cmungall commented on #729
Can this be closed @kshefchek ?

[2015-10-17 00:34] kshefchek commented on #994
The analyze autocomplete is now filtering out equivalent classes, @jmcmurry could you clarify the following?

- "CURIE or CURIE prefix absolutely needs to be part of the autocomplete box" - Do we still want this?
- "Enable identifiers to be entered eg HP:0011304, not just labels" - See [above comment](https://github.com/monarch-initiative/monarch-app/issues/994#issuecomment-147481676)
- Enable mul

[2015-10-17 00:34] kltm commented on #701
This isn't something I've experimented with a lot with (although I played endlessly with the other caching variables). IIRC, there are a couple ways to do this, but you are really just populating the solr caches from a previous cache or otherwise, and take a performance hit while doing so (how much and for how long depending on variable usage).

How often is your solr instance getting a new index?

[2015-10-17 00:36] kshefchek commented on #729
This has been implemented (credit @ccondit), closing.

[2015-10-17 00:36] #729 closed

[2015-10-17 00:40] kshefchek commented on #1019
Currently blocked by not having the golr index( @jnguyenx working through disk space issues ).

[2015-10-17 01:18] yuanzhou commented on #935
@kshefchek sorry Kent that I missed your reply couple weeks ago. Just noticed this after @jmcmurry mentioned me. What you've suggested with the scigraph neighbors service seems to be a better solution in terms of HTTP round trips. At least I can get all the unmatched phenotype labels through one ajax call. Doesn't hurt if the returned JSON has other data. Is that possible that we wrap this scigrap

[2015-10-17 01:20] yuanzhou commented on #935
@harryhoch I think Kent's suggestion with scigraph API is better than what we have now. Either we can have this wrapped as a monarch-app api or not, I'll use this for the unmatched phenotypes next week.

@jmcmurry I think I should be able to close this issue early next week.

[2015-10-17 01:21] #973 closed

[2015-10-17 01:26] kshefchek commented on #935
We could wrap this into the monarch api, also see #1012 as an option.

[2015-10-17 01:33] #917 closed

[2015-10-17 15:35] mellybelly opened #1021 "Add labels to TSV download file"
For example on this page:

http://beta.monarchinitiative.org/disease/DOID:14330

the TSV looks like this, with no labels:

http://sirius.monarchinitiative.org:8080/solr/golr/select?defType=edismax&qt=standard&indent=on&wt=csv&rows=100000&start=0&fl=subject,subject_taxon,relation,object,object_taxon,evidence,source,is_defined_by,qualifier&facet=true&facet.mincount=1&facet.sort=count&json.nl=arrarr&

[2015-10-17 15:38] mellybelly opened #1022 "Create succinct URLs for downloads"
Can we come up with a better URL strategy if someone wants to link to a downloaded data set?

Currently on a given Monarch page tab the URL looks like this for the TSV:

http://sirius.monarchinitiative.org:8080/solr/golr/select?defType=edismax&qt=standard&indent=on&wt=csv&rows=100000&start=0&fl=subject,subject_taxon,relation,object,object_taxon,evidence,source,is_defined_by,qualifier&facet=true&fa

[2015-10-17 22:48] #1021 closed

[2015-10-17 23:38] jmcmurry commented on #1022
The download part of this ticket is related to our overall identifier resolution strategy for external (eg. RRID) and internal (eg. Monarch pages) identifiers. It requires some coordination and strategy before we implement and make public.

The second part of this ticket (direct link to a tab on a page) is not obvious, but it is working. Just use the # character followed by tab name in lowercase.

[2015-10-17 23:40] jmcmurry commented on #1022
Also, @mellybelly, was this in response to any conversations with users, or just an observation?

[2015-10-18 01:14] kltm commented on #1022
Not a comment on value one way or another, but to give some context here: the main reason for that URL is that it is a transparent pass-back to functionality that Solr just happens to offer--making the download a functionality freebie. Making the downloads have a "nice" URL means that you need to have a "translation" at some point, which is one more bit of mechanism to create/maintain.

[2015-10-18 05:06] jmcmurry opened #1023 "Make appropriate URL fragments appear for tabs when clicked"
Tabs can be linked directly by using the # character followed by tab name in lowercase. eg: http://beta.monarchinitiative.org/disease/DOID:14330#variants
However, this is not immediately obvious; it would be desirable to make the tab fragment show up in the URL when you click there.

[2015-10-18 17:25] mellybelly commented on #1022
no just was needing it for an example. I do think it is useful to be able to cite a data download from Monarch, even if just a URL and a date stamp.

On Oct 17, 2015, at 4:40 PM, Julie McMurry <notifications@github.com<mailto:notifications@github.com>> wrote:

Also, @mellybelly<https://github.com/mellybelly>, was this in response to any conversations with users, or just an observation?

—
Reply to

[2015-10-18 18:44] kshefchek commented on #1023
The issue is this line: https://github.com/monarch-initiative/monarch-app/blob/2bc4c42/js/tabs.js#L34

event.preventDefault() is used to prevent scrolling of the page upon clicking the tabs, but it also prevents the url from updating.  I've played around with different solutions with no luck, @kltm, @DoctorBud, @yuanzhou any suggestions?

[2015-10-18 18:54] kshefchek commented on #1022
It wouldn't be terribly difficult to have some route, such as /downloads/{id}/{var}_associations.tsv , var being all, gene, phenotype, etc. that forwards the user to the correct solr tsv page.  Date and time stamp may be a little more difficult.  Moving to the wishlist if this isn't a high priority.

As an aside, @kltm is there anyway to set the content-disposition so this generates a save-as dial

[2015-10-18 22:05] cmungall commented on #1022
On 18 Oct 2015, at 11:54, Kent Shefchek wrote:

+1

may as well as json too, although this will of course be flatter than
jsons we may want to add at a later date

You mean a separate wishlist ticket for versioned access? Agreed. But a
simple route that stops people bookmarking solr URLs is both simple and
desirable.

This would be under control if we set a route in monarch app

[2015-10-18 23:00] kltm commented on #1022
Yes, you end up wrapping away variables in a route that proxies to solr--not rocket science, but you have a new mechanism that will be maintained and extended over time as users want new functions (I want to choose columns!). It might be worth considering just using the manager as the URL generator as it already has a fair amount of mechanism built-in (see AmiGO's various downloads, although is it

[2015-10-18 23:03] kltm commented on #1023
How does the AmiGO one grab you? For example:
http://amigo.geneontology.org/amigo/term/GO:1990690
No scroll on clicking, but can still bookmark in or raise if the fragment exists.
http://amigo.geneontology.org/amigo/term/GO:0044464#display-lineage-tab
All POTS and defaults.

[2015-10-19 00:14] kshefchek commented on #1023
This looks like the same behavior as the monarch tabs, although you're using bootstrap's data-toggle:tab feature which we should also be using.

The request is that the URL in the browser update as you click the various tabs.  If we use bootstrap here we may be able to solve this with something like this: http://stackoverflow.com/questions/12131273/twitter-bootstrap-tabs-url-doesnt-change

[2015-10-19 13:15] yuanzhou commented on #1012
Thanks @kshefchek , this would be a great change if we can add the label of each input phenotype to the resulting JSON. Then I can get rid of those ajax calls and callbacks to get labels for unmatched phenotypes. It's also a performance improvement for phenogrid.

[2015-10-19 13:22] yuanzhou commented on #1017
@kshefchek I'm not sure this can solve your problem or maybe it will create new failed behave tests. But so far phantomjs is the headless browser I used on Travis for Phenogrid. I tried xvfb but always got some failed behave tests that I didn't see the failure on firefox. phantomjs maybe a good alternative.

[2015-10-19 13:49] yuanzhou commented on #1023
@kshefchek Just some rough ideas. Instead of using the `<a>` tag to wrap up each panel, can you try to just use a `<div>` with a calss, for example: `panel`. Then attached the click event to the panel div? This way we don't deal with the scrolling created by using `<a>`. I created a quick jsfiddle example: https://jsfiddle.net/3hm3t4p7/

[2015-10-19 16:29] kltm commented on #1017
While phantomjs is a nice auxillary, especially during development, I don't think it's a replacement for running actual browsers in actual environments, especially when you want to look towards using more backends than firefox and chrome.

@kshefchek - you can do things like run xvfb locally to see what's up. As well, assuming this is a Jenkins issue, we could switch to https://wiki.jenkins-ci.org

[2015-10-19 16:38] kshefchek commented on #1017
@kltm I'm getting this from looking at the logs when we get failures in travis, but I haven't ran xvfb locally to debug.  Running with phantomjs does fix the issue in travis.

[2015-10-19 17:57] nlwashington commented on #951
i just re-encountered this issue as well.  the problem is that due to some scaling issues, we cut back on the orthologies that we're pulling in from panther; we are only pulling in the orthologies for human, fish, and mouse species.  note however, with the latest load, we should be pulling in selected orthologies for genes with annotations in OMIA, but it won't be all of them.  we really do need t

[2015-10-19 19:53] kltm commented on #1017
Could you supply a link, log, or the error message(s) in context? I'm not sure what "this" is.

Also, to be (more than a little) pedantic, you have a workaround using a less functional method (phantomjs over an actual browser). Now, it could be an issue with xvfb or firefox, or system settings available with the public travis (which IIRC is a vanilla debian flavor, but I forget which), or somethin

[2015-10-19 20:45] kshefchek commented on #1017
We have a test here:
https://github.com/monarch-initiative/monarch-app/blob/704f8e/tests/behave/maui_autocomplete.feature#L34

When typing hyper-be, we autocomplete on two items.  When running locally the test selects the correct item based on the link text and the test passes.  In travis the test fails and provides an output log of the page title that was selected, which is the second one in the

[2015-10-19 21:09] kshefchek commented on #1022
As a first pass I've added /downloads/{id}.format (tsv, json, csv).  This generates all associations (subject or object = id) for an id.   I'll work on adding a route to get a specific id-category association table.

[2015-10-19 22:10] kshefchek commented on #1022
Added category specific associations, for example:
http://beta.monarchinitiative.org/downloads/NCBIGene:6469/association/disease.tsv

Need to clean up the file names, and possibly the route naming.  Otherwise I think we can close and break anything more complicated out into new tickets.

[2015-10-19 22:30] kltm commented on #1017
@kshefchek quick question: using ZRS as the template, why the difference between these two?
https://github.com/monarch-initiative/monarch-app/blob/704f8e/tests/behave/maui_autocomplete.feature#L30
https://github.com/monarch-initiative/monarch-app/blob/704f8e/tests/behave/maui_autocomplete.feature#L38

[2015-10-19 22:33] kltm commented on #1017
@kshefchek the link you sent me for the log shows passing at that line. Is there supposed to be a different reference?

[2015-10-19 23:19] kshefchek commented on #1022
File names fixed, credit @DoctorBud , closing but please reopen if there are any issues.

Let's break out any further functionality (versioning, timestamps, RRIDs) into a new ticket.

[2015-10-19 23:19] #1022 closed

[2015-10-19 23:23] kshefchek commented on #1017
oops that wasn't build specific, here it is:
https://travis-ci.org/monarch-initiative/monarch-app/builds/86266856#L1162

[2015-10-19 23:24] kshefchek commented on #1017
To answer https://github.com/monarch-initiative/monarch-app/issues/1017#issuecomment-149365823, this was my attempt to single out items with duplicate labels (genes) by also looking at their category, in this case species.

[2015-10-19 23:50] #992 closed

[2015-10-19 23:53] kltm commented on #1017
Okay, so here is the context:
[code]
[code]
It looks like, interestingly, that in spite of the fact that it is apparently clicking on the correct link, the page is goes to doesn't seem to have the correct title or no title at all (assertion error), yes? Can you shed any light on the two (apparent) page titles that are dumped to standard out?

[2015-10-20 00:24] jmcmurry commented on #1016
So, I just learned that the blurbs we are getting are for sharing in confidence with the NIH, not our website. We will need to think differently about a wider more public strategy later. I will punt this to a later timeframe. cc: @mellybelly

[2015-10-20 02:49] kshefchek commented on #1017
The first line in stdout is the title behave is seeing, the second is the title we have passed to function to test for:

https://github.com/monarch-initiative/monarch-app/blob/2d174b47a226e9e3c24420d0f9dfdcdf9d53ea7c/tests/behave/steps/selenium-basic.py#L47

Behave is landing on a page with the title "Monarch Disease: Beta-Aminoisobutyric Acid, Urinary Excretion of (OMIM:210100)" my assumption is

[2015-10-20 14:09] yuanzhou opened #1024 "Species not specified in resulting data of compare api"
I'm testing the phenogrid genotype expansion feature, the following URL will use the compare api to get matches of those fish genotypes and provided phenotype list.

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746+HP:0001300+HP:0002367+HP:0000012+HP:0000716+HP:0000739+HP:0001332+HP:0001347+HP:0002063+HP:0002067+HP:0002172+HP:0002322+HP:0007159+HP:0009466+HP:0001972+HP:0003502+HP:00

[2015-10-20 14:10] yuanzhou commented on #1024
Here is a screenshot:

![capture](https://cloud.githubusercontent.com/assets/195873/10609673/c5a2f176-7712-11e5-82c1-6645920e1962.PNG)

[2015-10-20 14:37] harryhoch commented on #1024
yes. @kshefchek, @nlwashington, this looks like a data issue. Do you have any idea what's up?

[2015-10-20 17:04] yuanzhou opened #1025 "Super long genotype labels"
Some genotypes have super long labels in a format that I'll need to look up Guidelines for Nomenclature of Mouse and Rat Strains (http://www.informatics.jax.org/mgihome/nomen/strains.shtml#mice) but still have hard times understanding.

![capture](https://cloud.githubusercontent.com/assets/195873/10614943/fafedd18-772a-11e5-85f0-4aeb1d20c8aa.PNG)

So I'm adding this ticket to create some discussio

[2015-10-20 17:11] kshefchek opened #1026 "Add monarch version to data export file names"
See https://github.com/monarch-initiative/monarch-app/issues/1022#issuecomment-149031875 as a reference.  We now support data downloads for any ID, but we could use some sort of versioning or timestamp on files so people can see if any given dataset has changed.  Adding this to the file name is trivial, but we currently don't store this information anywhere.  What should our approach be here?  cc

[2015-10-20 17:15] kshefchek commented on #1024
There are some strange syncing issues here with the monarch prefixed genotype ids.  Right now the ids that appear in our production solr index are not in our scigraph db, which is where we pull taxon information.  This should be resolved in the next data release.  Also see https://github.com/monarch-initiative/monarch-app/issues/1004#issuecomment-148096917

[2015-10-20 17:18] kshefchek commented on #1025
cc @nlwashington and @mbrush, I believe these are the correct labels, could we shorten labels over a certain length and add an ellipsis at the end?  This has been my approach for the barcharts.

[2015-10-20 17:21] jmcmurry commented on #1026
This is tricky to solve well. Each data release we are completely repopulating the database from scratch. Thus we need to think carefully not about the date itself, but how to describe that date so that it is interpreted correctly. Two different data releases *may* have the exact same data. The same data release *will* have the exact same data--however, if there is a software release it may also l

[2015-10-20 17:26] kshefchek commented on #1022
Note I'm not in love with the routing I've chosen for ID-category associations discussed above (https://github.com/monarch-initiative/monarch-app/issues/1022#issuecomment-149362301), any suggestions @jmcmurry?

[2015-10-20 17:40] jmcmurry commented on #154
@kshefchek @yuanzhou could you investigate this please? The JSON button does work to produce results, however, the no results page nevertheless shows up, leading the user to think that it is not worth clicking on the json.

[2015-10-20 17:46] jmcmurry commented on #294
Assuming that we don't expect tabs to have data, this now looks to be fine. We have a description. The only thing that looks out of place is that there's no hyperlink on the identifier. @nlwashington can we close this?

![screen shot 2015-10-20 at 10 45 24](https://cloud.githubusercontent.com/assets/3658863/10616010/cc91a4fa-7717-11e5-96c8-2f8c51a024c2.png)

[2015-10-20 17:58] yuanzhou commented on #1025
@kshefchek I agree with you in terms of shortening the labels and add ellipsis. That's what we did for the long labels on the x and y axis. I'm also questioning myself if the full-length of the long label makes any difference from the half-length for example. We still want to click to see the genotype.

[2015-10-20 18:30] jmcmurry commented on #935
great, thanks Zhou

[2015-10-20 18:40] nlwashington commented on #294
well, the real point is actually that there ought to be a minimum of a single phenotype for any disease, right?  i mean, at least we have something here, but it's a shame that we can't even have one single phenotype.  if this will be covered by getting in the common diseases, then i guess we can defer to that ticket (https://github.com/monarch-initiative/dipper/issues/116), whenever it will get fi

[2015-10-20 18:43] #294 closed

[2015-10-20 20:23] kltm commented on #1017
Clicking on the second item, in spite of the fact that the selenium API clearly is going for the correct element by text identification, and works locally. Hm. Okay, how's this idea: the screen is sooo compressed on the test server (or due to some version quirk, like FF version) that the elements overlap, with the second item on top, so the click it at the right location, but hitting the wrong ele

[2015-10-21 13:55] cborromeo commented on #1022
Is this something relevant to Monarch's research interests?

http://nar.oxfordjournals.org/content/early/2015/10/19/nar.gkv1024.full

Chuck

[2015-10-21 18:26] kshefchek commented on #723
I'm going to close as we don't have any actionable items here, and it's possible I misunderstood the problem when making the ticket.

[2015-10-21 18:26] #723 closed

[2015-10-21 19:21] nlwashington opened #1027 "502 error for variant/MGI:3794632"
i tried to get to
http://monarchinitiative.org/variant/MGI:3794632
or
http://beta.monarchinitiative.org/variant/MGI:3794632

but it seems i only get a 502 error.
other pages seem to resolve okay.

[2015-10-21 19:22] nlwashington commented on #1027
false.  actually, i can't seem to load any of the tabs on the main monarch or beta.  for example:
http://monarchinitiative.org/gene/NCBIGene:64093

[2015-10-21 19:51] kshefchek commented on #1027
Replacing with https://support.crbs.ucsd.edu/browse/CRBS-10630

[2015-10-21 19:51] #1027 closed

[2015-10-21 22:46] jmcmurry opened #1028 "Vestigial 'sources' page has a css fail"
http://monarchinitiative.org/page/sources
Fixing this is a low priority. I did not reach this page from a link on the site, I was just trying to type the URL as I thought it had been implemented. It may be useful to make sure it isn't actually referenced from anywhere. The real page is http://monarchinitiative.org/sources the other should be deleted.

![screen shot 2015-10-21 at 14 55 07](https://

[2015-10-22 00:40] jmcmurry commented on #1013
HTML mockup screenshot below:
![screen shot 2015-10-21 at 17 35 04](https://cloud.githubusercontent.com/assets/3658863/10654032/20e12aa0-781a-11e5-8e47-1e7926138e59.png)

Remaining to do:
- [ ] Get consensus that these are the right questions to be asking @mellybelly
- [ ] Get IRB approval (harry); we can collect still feedback for internal purposes before getting IRB approval, but it is best to h

[2015-10-22 01:34] harryhoch commented on #1013
comments on questions

'How easy was the Monarch site to use and what can we do to make it better." is a bit clunky and might work better as two questions.

"where you able to accomplish your goals" &
"What can we change to make the site more useful for you"

these questions frankly look like they get a bit too close to research to me.

Make sure the email is optional.

[2015-10-22 03:06] DoctorBud commented on #1013
Might want to give folks the option of progressive disclosure, with the easiest-to-answer and high-priority questions first, followed by a 'We'd like to hear more...' button that reveals a more detailed questionnaire. Otherwise you might turn people off that would give us 'light' feedback. And of course, there is the meta information about whether the user answered the short form or the long one.

[2015-10-22 03:21] DoctorBud commented on #1013
In a similar vein, I'd lose the Monarch-marketing text and just start with 'We use feedback from users like you'. The reasoning is that our users' time is valuable and their attention and feedback to Monarch is valuable, so let's make it easy for them.

[2015-10-22 05:09] jmcmurry commented on #1013
The first sentence was my stab at implementing the following recommendation of Harry's. I don't fundamentally object to it, but seeing the implementation, I favor dropping this info as it is already a bit crowded.

but we should also add some surrounding text emphasizing our commitment to making good useful tools

-Harry

Agreed, however, I think we can get away without a "more" button if we simpl

[2015-10-22 05:22] jmcmurry commented on #1009
Saw this and yet duplicated the ticket anyway. I will close this and move the comment to the new ticket since that is where the thread is now.

[2015-10-22 05:22] #1009 closed

[2015-10-22 12:45] harryhoch commented on #1013
@jmcmurry, I had thought we were going to avoid LIkerts. I strongly disagree with the claim that they are going to be useful in this context.

the four checkboxes are way too much legalese. Suggest that we just do everything internally for now and not use any of the information for testimonials, etc., until we go through an IRB review.

[2015-10-22 13:36] DoctorBud commented on #1013
I have a new version based upon Julie's draft at:

[https://rawgit.com/DoctorBud/6894e8cab7a9e9abb22f/raw/20f35a40fbd9b20820e0239b7dc09931d0214cd6/f3.html](https://rawgit.com/DoctorBud/6894e8cab7a9e9abb22f/raw/20f35a40fbd9b20820e0239b7dc09931d0214cd6/f3.html)

[2015-10-22 13:40] harryhoch commented on #1013
I like the draggability. Comments about legalese and Likert scales still stand.

Regarding the last question, it's usually best to not ask a yes/no question like that.  if we must ask about other data sources or tools, please ask "what data or tools would make Monarch more useful for you?"  However, that is similar to "How can we improve the Monarch experience?" that question should probably be re

[2015-10-22 16:41] jmcmurry commented on #1013
I don't think the "is useful to me" question was the right one, but was trying to incorporate Dan's suggestion of easy "light" feedback. I don't think we need the "how easy..." question, but I had a hard time cooking up something that was radio-buttonable. "How easy..." can be removed completely, I think, without losing a lot.

If you prefer, we can phrase it differently, but chances of an answer

[2015-10-22 16:48] harryhoch commented on #1013
My suggestion would be to
1. remove "how easy...."
2. combine how can we improve..." and "Do you have any additional comments" into one question reading "how can we make Monarch more useful for you".
3. collapse the multiple checkboxes into one.

[2015-10-22 16:51] jmcmurry commented on #1013
How about: "What data, tools, or functionality would make Monarch more useful to you?" and nix the "other comments"

As for 3 we may find that 1 box is so restrictive that no one checks it. Is four boxes really so onerous? Dan what do you think?

[2015-10-22 16:58] harryhoch commented on #1013
What's wrong with "how can we make Monarch more useful?"  I can't think of anything that wouldn't be data, tools, or functionality, but users might. I'm also not sure how "tools" and "functionality" differ.

as far as the four text boxes go, we have

1. it is ok to publish aggregate analyses that include my feedback
2. it is ok to publicly quote my feedback or excerpts of my feedback

I think thes

[2015-10-22 17:04] jmcmurry commented on #1013
OK, how about
"it is ok to quote my comments"
"it is ok to contact me for clarification or additional feedback"
Differentiating these is IMHO important as the first requires no time investment on the part of the commenter, the second does. I was differentiating clarification from additional feedback because the first may be things the commenter cares about whereas the second sounds like an open in

[2015-10-22 17:14] jmcmurry commented on #1013
Also, @DoctorBud could you put twitter back in the contact footer? Thanks
Love the dragging feature, nice.

[2015-10-22 17:14] harryhoch commented on #1013
@jmcmurry  we could always add text promising not to be pests...

[2015-10-22 18:30] jmcmurry commented on #1013
How about "it is ok to contact me for clarification or *occasional* additional feedback" ?

If not, what specific language do you propose? Regardless, I still think that differentiating the two would be useful. We ourselves don't write brilliant crystal clear tickets. We don't want a user to opt out of being contacted because he doesn't want to opt into an open-ended commitment.

[2015-10-22 18:36] yuanzhou opened #1030 "Monarch API Status"
It's very helpful to have a monarch api status page that shows all the available api and their status.

According to @cmungall and @DoctorBud there are two API status now:

http://beta.monarchinitiative.org/admin/introspect

http://monarchinitiative.org/status

[2015-10-22 18:59] harryhoch commented on #1013
@jmcmurry I can't imagine that we're going to have that many people coming in, and as I said, we can promise to be nice...

[2015-10-22 19:57] jmcmurry commented on #1013
Let's separate concerns.
1) Do we say "promise not to be pests"
--I'm fine with this

2) Do we collapse the checkboxes into one.
--I don't think it is overwhelmingly important, but think there's more to lose by collapsing them. Collapsing has nothing to do with triaging the volume of people coming in, but with respecting the user by giving the user control about what s/he is contacted for. Not pro

[2015-10-22 22:28] cmungall commented on #148
I think we should close this and open distinct tickets

For more research-oriented improvements, we can use this:
https://github.com/cmungall/multi-axial-ontology-test/

[2015-10-22 23:54] harryhoch commented on #1013
@jmcmurry, the reality is that we're not going to have many people who we'll be contacting much.

[2015-10-23 00:33] nlwashington commented on #257
These do not appear in the gene pages.  Reopening.

[2015-10-23 00:58] jmcmurry commented on #1013
But they don't know that. I do not understand the advantage of one but I am willing to role with it for the sake of moving this forward. We can change it later if we find people opt out of being contacted. Or that they click feedback button but don't follow through. Let's be sure to log that kind of aborted activity just in case.

[2015-10-23 01:02] harryhoch commented on #1013
@jmcmurry just saying that in the spirit of thinking that the assurance that we won't bug them might be enough.

agreed. let's proceed and monitor closely.

[2015-10-23 01:36] harryhoch commented on #148
@cmungall agreed. will look at that repo.

[2015-10-23 01:36] #148 closed

[2015-10-23 01:47] kshefchek commented on #257
Closing as duplicate of #863

[2015-10-23 01:47] #257 closed

[2015-10-23 17:40] yuanzhou commented on #1024
Actually the `taxon.id` is also missing. I can workaround this since we've already known the id and species name before sending out the compar URL. This still needs to be addressed in the API level.

[2015-10-23 17:45] kshefchek commented on #1024
@yuanzhou is it possible to filter out monarch prefixed ids until the ids are consistent across our production solr index and scigraph db?

[2015-10-23 17:47] yuanzhou commented on #1024
@kshefchek I can do that. Basically we only get the first 5 genotypes of any expanded gene, if there's any `MONARCH` prefixed genotypes, I can just ignore them.

[2015-10-23 17:53] yuanzhou opened #1032 "Missing properties in compare API returned JSON"
@kshefchek  I think this issue is related to #1024  and #1004

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746+HP:0001300+HP:0002367+HP:0000012+HP:0000716+HP:0000739+HP:0001332+HP:0001347+HP:0002063+HP:0002067+HP:0002172+HP:0002322+HP:0007159+HP:0009466+HP:0001972+HP:0003502+HP:0005190+HP:0001763+HP:0003318+HP:0001371+HP:0001380+HP:0001394+HP:0001156+HP:0001159+HP:0001004+HP:001088

[2015-10-23 18:09] kshefchek opened #1033 "Import GENO into scigraph"
Would it be useful to add GENO to the monarch.owl import chain?  I attempted to pull a label of a GENO class from scigraph and noticed we do import the ontology. cc @mbrush

[2015-10-23 18:25] kshefchek commented on #1032
Also related: https://github.com/monarch-initiative/monarch-app/issues/1005

[2015-10-23 18:59] nlwashington commented on #1024
presumably this data is coming from a golr call for gene-genotype?  this ought to have subject_taxon and object_taxon in the golr, and then you could get the tax_id and tax_label from that?  or is that what is missing?

[2015-10-23 19:02] nlwashington commented on #1024
we should also think ahead to the case where we have genotypes in one species that include genes from other species.  for example, if a fish gene is inserted into a fly, then presumably if you query the golr with the fish gene id, you will get back a fly genotype.  my feeling is that you still want to show all of the genotypes, regardless of their "host" species.

[2015-10-23 19:14] cmungall commented on #1033
Yes. I suggest forking
https://github.com/monarch-initiative/monarch-ontology/ testing a SG
load and then making a PR

On 23 Oct 2015, at 11:09, Kent Shefchek wrote:

[2015-10-23 19:18] yuanzhou commented on #1024
@nlwashington I got all the associated genotypes of a provided gene using this API that Kent created for this purpose. And I think it's from Golr index. For example:

http://beta.monarchinitiative.org/gene/MGI:96173/genotype_list.json

@harryhoch any thoughts on the second comment that Nicole added?

[2015-10-23 19:42] kshefchek commented on #1024
I can add taxon information to that genotype_list output if that would be useful.

[2015-10-23 20:02] nlwashington commented on #1033
AFAIK, geno.owl is currently loaded via the scigraph configuration file, but not in monarch.owl.

[2015-10-23 20:04] yuanzhou commented on #1024
@kshefchek don't worry about the taxon for now, I've already had a simple workaround. I simply reused the species name associated to the parent gene's, since the expanded genotypes should belong to the same species. Unless there's some exceptions as described by Nicole.

[2015-10-23 20:05] kshefchek commented on #1033
It must only be imported into our data scigraph, it looks like this works:
http://rosie.crbs.ucsd.edu:9000/scigraph/graph/GENO:0000402.json
but not in our ontology graph:
http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/GENO:0000402.json

[2015-10-25 20:19] jmcmurry commented on #1013
In trying to mock this up to just move forward and keep it to a single checkbox, I couldn't find a natural way to say "We won't pester" while retaining the familiar first person checkbox format. We could:

#### A) switch from first to third person:
- [ ]  It is OK to quote my feedback or to follow up with me
(We promise not to pester)

 -- At best this feels disjointed, and at worst confuses who t

[2015-10-25 20:30] pnrobinson commented on #1013
I think Julie's suggestion (D) is logical and that most people would understand it.

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor of Bioinformatics, Freie Universität Berlin
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450566006
Mobile: 0160 93769872
peter.robinson@charite.de
ht

[2015-10-25 20:36] harryhoch commented on #1013
@jmcmurry, (d) is fine. We should discuss whether or not we want to put together a formal plan to do qualitative work with interested users.

[2015-10-25 21:03] jmcmurry commented on #1013
@harryhoch I would love to do something formal, but perhaps we should consider how far we can get informally as well. The formal approach takes more time to plan and execute but is more readily reportable. The informal approach can be done as needed (more frequently and less systematically) to keep feature development from getting off-track.

I've put together a [little spreadsheet skeleton](https

[2015-10-26 13:37] yuanzhou commented on #1030
Can we also set up some API downtime monitoring services? @kshefchek

I was using https://uptimerobot.com/ for a former project, and I got email notifications whenever the server or API experienced down times. Actually this morning I noticed some HTTP 502 form the beta server for a short time of period.

[2015-10-26 17:58] kltm commented on #1030
We like uptimerobot as well for many services. However, as memory usage, downtimes, CPU, and disk seem to be recurring issues  as the software develops, it might be worth spending a little time on a nagios or munin (meh) deployment to keep an eye on things.

[2015-10-27 15:27] #902 closed

[2015-10-27 19:38] DoctorBud commented on #1013
I have a PR up [here](https://github.com/monarch-initiative/monarch-app/pull/1034).

Here's what ./feedback.txt looks like after a few Feedback sessions:

[code]

Here are some sshots:

<img width="747" alt="navbar" src="https://cloud.githubusercontent.com/assets/2450553/10770162/073b5832-7ca7-11e5-9fff-f2669da7d40d.png">

<img width="932" alt="form" src="https://cloud.githubusercontent.com/assets

[2015-10-27 19:48] DoctorBud commented on #1013
Hmmm. looks like the checkboxes OKQuote and OKFollowup are always ON in the datafile, which is incorrect. I will fix that.

Also, I should add a timestamp and the current window.location info to the feedback record.

[2015-10-27 19:50] DoctorBud commented on #1013
Note that feedback.txt is always appended to, so multiple runs of the monarch server will accumulate feedback. Eventually, we probably want to have a feedback rotation and archival process that keeps feedback.txt from growing too large (although that would be wild success for Monarch if our feedback.txt got too large).

[2015-10-27 19:57] jmcmurry commented on #1013
+1 Yay @DoctorBud :) My only suggestions would be to
a) make the background grey smoke in lieu of yellow
b) make the email field a bit narrower and left justified (if possible, not crucial)

[2015-10-27 22:12] DoctorBud commented on #1013
New PR is [here](https://github.com/monarch-initiative/monarch-app/pull/1035).

The feedback.txt has been enhanced to include more metadata, and the checkbox issue is fixed.

The UI has been adjusted as per Julie's feedback, although it was difficult to get the email shortened without the layout looking wonky, so I made the email field a whole-line field like the rest of the text. Also added a bor

[2015-10-27 22:16] jmcmurry commented on #1013
+1 Great! Let's move onto more exciting things :)

[2015-10-27 23:35] jmcmurry opened #1037 "Fancier Collaborators / Partners / Integrations pages"
As a longer-range goal, it might be nice to implement something like this:
Not sure what the relevant categories are...

![screen shot 2015-10-27 at 16 09 55](https://cloud.githubusercontent.com/assets/3658863/10775402/3db5f89a-7cc5-11e5-873f-013fc8000435.png)

[2015-10-28 01:00] cmungall opened #1038 "Add a route for phenotypes identified by unique label"
Scenario:

A group wants to link to a monarch phenotype page; however, they have not stored the phenotype ID, only the string

Solution:

Create a route specific for terms; e.g.

`/lookup/HP/STRING`

This is probably better than overloading the `/phenotype/ID` route

Adding the ontology ID space helps uniquify and determine intent

Behavior:

Note that HP classes change their labels over time. How

[2015-10-28 02:10] kshefchek opened #1039 "Remove duplicate equivalencies from disease pages overview tab"
As an example:
http://beta.monarchinitiative.org/disease/DOID:1932#overview

This is a consequence of having similar equivalentClass edges - these edges have different properties depending on their provenance - but this is not apparent in the bbop graph serialization, see

http://geoffrey.crbs.ucsd.edu:9000/scigraph/graph/neighbors/DOID:1932?depth=1&blankNodes=false&relationshipType=equivalentClas

[2015-10-28 03:38] nlwashington commented on #1038
do they need to know that it has to be in "HP"?  because they can certainly hit ```/search/search string```, which is maybe what the behavior should be anyway?

[2015-10-28 04:02] cmungall commented on #1038
For this particular use case, they know it's from HP, and the desired response is a page about the term, rather than a search

[2015-10-28 13:28] yuanzhou opened #1040 "Disease URL error"
Went to http://beta.monarchinitiative.org/disease/OMIM:105830

and clicked the link:  http://purl.obolibrary.org/obo/OMIM_105830

Got this error message:

![image](https://cloud.githubusercontent.com/assets/195873/10789803/fbf573ea-7d55-11e5-8a3f-d65635c4a546.png)

Not sure if this can be addressed by the monarch team.

[2015-10-28 23:27] #1040 closed

[2015-10-28 23:57] nlwashington opened #1041 "variants of not showing up"
variants coming from AQTL aren't showing up on their gene pages.

for example: http://localhost:8080/gene/NCBIGene:100033832
should show AQTL:32133

These are linked via the relationship GENO:0000418.  Need to verify if this relationship is included in the graph paths.

[2015-10-29 00:14] nlwashington opened #1042 "can't see traits as phenotypes"
None of the associations between genes/variants/etc and traits show up in the various pages/tabs.  This is generally a problem with the ontology not knowing how to bridge traits with UPheno.  See ticket https://github.com/obophenotype/upheno/issues/150.

For example,
this feature: http://localhost:8080/variant/dbSNP:rs109617015
should indicate that it is related to the trait AnimalQTLTrait:1425 ==

[2015-10-29 00:52] mellybelly commented on #1042
@cmungall can we get @balhoff to help?

[2015-10-29 18:40] mellybelly commented on #1008
I love this.
please add species to genes and diseases.

[2015-10-29 18:44] cmungall opened #1043 "ontology classes-as-entities missing in golr"
Any idea why the annotation_class can't be queried on?

/solr/golr/select/?q=*:*&rows=0&facet=true&facet.field=annotation_class&wt=json

It's in schema.xml

cc @kshefchek @jnguyenx

[2015-10-29 18:46] mellybelly commented on #1008
longer term, you could collapse up to a taxon, or list # of species that we have data for (e.g. Pax2 (four species)) or (Pax2 (vertebrata))

[2015-10-29 19:12] cmungall opened #1044 "Ensure routes with a trailing slash still work"
The examples here don't work:

http://beta.monarchinitiative.org/page/services

When we switched from ringo to nodejs, it got more particular about routes

So this fails:
/score/?annotation_profile={%22id%22%20:%20%22MONARCH:Example2%22,%22features%22%20:%20[{%22id%22:%22HP:0000505%22},{%22id%22:%22HP:0000479%22},{%22id%22:%22HP:0001010%22},{%22id%22:%22HP:0000044%22}]}

The solution is to remove

[2015-10-29 19:14] nlwashington opened #1045 "consider disease<-->phenotype page linking"
since we may have different content for disease pages vs phenotype pages for terms with the same name (but different id/category), maybe we should have a link near the top that says something like, "view this as a disease" (when on a phenotype page), and visa versa.  there should be a clear (?) that also explains why there may be different results.

for example, "cleft palate" matches both as a ph

[2015-10-29 19:54] jmcmurry commented on #1038
in the spirit of CURIES, if relaxed, we could also do /lookup/HP:STRING

[2015-10-29 20:23] jnguyenx commented on #1043
I can't see it here
http://persei.monarchinitiative.org:8080/solr/golr/admin/file/?contentType=text/xml;charset=utf-8&file=schema.xml

On Thu, Oct 29, 2015 at 11:44 AM, Chris Mungall <notifications@github.com>
wrote:

[2015-10-29 22:38] nlwashington commented on #803
FYI, this nice guy made markdowns of all the CC licenses:
https://github.com/idleberg/Creative-Commons-Markdown

[2015-10-30 03:10] #1044 closed

[2015-10-30 14:45] yuanzhou opened #1047 "Internal Server Error after a fresh installation"
Did a fresh installation of monarch-app this morning in order to fix some phenogrid-related issues, and saw this error in browser when accessing to the server:

[code]

But the beta.monarchinitiative.org is still running fine.

[2015-10-30 15:20] yuanzhou commented on #1013
Can we add a simple form validation to the feedback form? I was checking out this form and hit the submit button without filling in anything and it showed me the Thank You message.

[2015-10-30 15:24] jmcmurry commented on #1013
+1, also, I would prefer that the button be styled consistently with our other buttons (standard blue one). Thanks

@DoctorBud could you perhaps handle both of these? Thanks :)

[2015-10-30 17:31] jmcmurry opened #1048 "Simplify Monarch record URLs so that they do not rely on type (gene, disease, etc)"
It would be great if we could make a decision on where we would like to go with simplified URLs for our records.

Users would like not to have to know what the type is for the identifier they're looking for. The resolver is great, but it would be better if folks didn't *need* to know about its existence.

Options for consideration below; thoughts? @cmungall @nlwashington @kltm
I prefer  monarchini

[2015-10-30 18:26] kshefchek opened #1049 "Resolver - redirect ids with type "organism" and "cell line" to model page"

[2015-10-30 18:46] kshefchek commented on #1047
@yuanzhou can you tell me about your setup, what was the output from running ./install.sh?

[2015-10-30 19:22] yuanzhou commented on #1047
@kshefchek I just did a git clone of monarch-app first, then ran './install.sh' and './start-server.sh'.

[2015-10-30 19:28] yuanzhou commented on #1047
@kshefchek  I just did the fresh installation again to verify, and got the same error.

Here are my steps:

![capture1](https://cloud.githubusercontent.com/assets/195873/10855927/b4ee2dea-7f1a-11e5-834a-8a37662da8c3.PNG)

and I could see the server running message in console:

![capture](https://cloud.githubusercontent.com/assets/195873/10855940/c432920a-7f1a-11e5-8b9a-54477fe33a80.PNG)

But the e

[2015-10-30 20:00] hambone06 opened #1051 "Add SSL certificate to GOlr and SciGraph servers"
When I visit the site http://monarchinitiative.org using Google Chrome the graphs never load on the browse pages.

[2015-10-30 20:18] cmungall commented on #1051
Thanks for reporting this. I'm not able to reproduce - can you give the URL of the page you're looking at (and also the version of Chrome).

Many thanks!

[2015-10-30 20:54] DoctorBud commented on #1017
I've been working around some of these issues in my PR and with autocomplete. Firefox is very strict about interpreting the 'visibility' of an element and the screen size matters. In tests/behave/environment.py, months ago I had installed this in the before_all function:

[code]
Recently, I found that during the test run, something shrinks Firefox and causes fails in later tests. So I currently us

[2015-10-30 21:49] jmcmurry commented on #1051
also, if you could a) send a screenshot of what you do see, and b) let us know whether this is also the case on beta.monarchinitiative.org, that would be great.

Thanks

[2015-10-31 15:09] hambone06 commented on #1051
Hi again,

I am using google chrome  Version 46.0.2490.80 (64-bit) and I have trouble
loading the graphs on all of the "browse" pages for example
https://monarchinitiative.org/phenotype and
https://monarchinitiative.org/gene. I attached screenshots of these two
urls as well. The good news is that the graphs do load on
beta.monarchinitiative.org.

Let me know if there is anything else you want me t

[2015-11-01 18:39] mellybelly opened #1052 "Incorrect citation link?"
For some reason, on this page:
http://monarchinitiative.org/disease/OMIM:138930
(same on beta)
the phenotype references are linked to a record in Orphanet (which is relatively unpopulated, rather than to the PMID, which should be http://www.ncbi.nlm.nih.gov/pubmed/3742858
according to the OMIM record.

[2015-11-02 16:09] kshefchek commented on #1052
The phenotype profiles for OMIM are pulled from HPO.  It doesn't look like we get this information from OMIM directly, is it available? cc @nlwashington

[2015-11-02 16:56] jmcmurry commented on #765
Related to this is that we need a URL whereby those who use us and reference us can also use our logo.

[2015-11-02 18:08] nlwashington commented on #1048
I personally really like just using an identifier directly after monarchinitiative.org, without "resolve" or "lookup" or "gene" or "disease" or any other verb.

[2015-11-02 18:53] kshefchek commented on #1048
*meant for this to be a pull request* - I've duplicated the functionality of /resolve/{id} to /{id} and moved /sources to /about/sources.  Behave test updated for the sources page and added new tests for /{id} resolving.

[2015-11-02 19:13] yuanzhou commented on #1047
@DoctorBud did you notice the same issue with this HapiJS server?

[2015-11-02 19:24] jmcmurry commented on #1048
Great; if we are not concerned with the technical scalability about having everything under the homepage directly, this is absolutely fine by me. Though I would say it would be fantastic if we could do away with the redirection to /gene/ pages unless we really need to.

[2015-11-02 21:04] yuanzhou commented on #968
Just a side note here, I'll be fixing the ''compare" and "upload" of this phenotype analyze page since they are two cases that should be supported by Phenogrid, it's mentioned here: https://github.com/monarch-initiative/phenogrid/issues/203

[2015-11-02 21:16] jmcmurry opened #1053 "info@monarch email procedure"
@harryhoch just received a notification that he is unsubscribed from notifications to info@monarchinitiative.org. Does anyone know what may have triggered this?

What is the current process whereby these emails are triaged? Perhaps each email could be issued as a ticket within the operations repo (which is private)?

@cmungall @kshefchek @DoctorBud ? As we are now trying to do more to solicit this

[2015-11-02 21:19] jmcmurry commented on #1051
Thanks Will, glad to hear that on beta it is behaving. These fixes will be released to production soon. cc: @kshefchek

[2015-11-02 21:21] mellybelly commented on #1053
i would very much like to have a tracking system, what we have now is pretty broken and reliant on me.

[2015-11-02 21:25] yuanzhou commented on #1048
In terms of RESTful URI design, every single URI represents a resource. Based on this point of view, static pages and record pages are both resource pages. I like the way that some of the current URIs are designed. For example, `http://monarchinitiative.org/disease` is the entry point of the disease page, `http://monarchinitiative.org/disease/OMIM:305400` indicates a specific disease page. These U

[2015-11-02 21:35] kshefchek commented on #1051
I've tested in a few chrome versions and operating systems and cannot replicate.  @hambone06 when you noticed the different behavior between beta and production, were you using the same network connection?  It's possible a firewall could block the ajax calls that power the graph.

[2015-11-02 21:41] jmcmurry commented on #1048
You bring up good points, though ones we could still address in other ways aside from the URL.
1) Traversability could be achieved in terms of breadcrumbs
2) SEO... I agree that dropping 'disease' probably causes a lower rank, but the real issue is probably how close a match is with the google search term. I'm not sure 'disease' would be a specific enough search term to put monarch in the first pa

[2015-11-02 21:59] #1017 closed

[2015-11-03 11:10] tudorgroza commented on #765
This is what we did with PA - the Monarch logo is in the footer of every page.

[2015-11-03 13:13] hambone06 commented on #1051
Hi Kent,

I don't think there was a change in the network connection. I tested the
two instances back to back in the same window. I have been able to
replicate the issue on three computers so far two macbooks and a pc.
However, the issue is definitely caused by a pop-up blocker. If I unblock
the script in one of the macbooks and the pc the graphs loads for
https://monarchinitiative.org/disease and

[2015-11-03 14:18] yuanzhou commented on #1047
Interesting, I tried it again this morning and it worked all of sudden. Has anyone fixed this?

[2015-11-03 16:42] kltm commented on #1051
It may be of some interest, we've had all kinds of fun with various safety plugins. A quick search from recent days gives:

 https://github.com/geneontology/noctua/issues/201
 https://github.com/geneontology/noctua/issues/190

If it does turn out like these, you have to be very very careful so as not to trigger all kinds of identity and XSS blocks--it turns out that a complicated webapp acts a lot

[2015-11-03 17:14] kshefchek commented on #1051
I just noticed the https versus http and now can replicate the problem.  It seems to be an issue with loading the page with https and then calling services over http to generate the graph.

[2015-11-03 17:16] kltm commented on #1051
Yes, that's disallowed in a lot of browser/configurations now. Sigh.

[2015-11-03 17:23] kshefchek commented on #1051
@kltm so essentially we need our golr and scigraph servers to have https certs?

[2015-11-03 17:25] kltm commented on #1051
Possibly, but I haven't looked at this for your case. That's actually not so hard to do even if--for the GO setup, they just put an https proxy in front and it worked a treat.

[2015-11-03 17:25] kshefchek commented on #1051
Note that when connecting to the production site via https many services do not work (phenogrid, data/golr tables).

[2015-11-03 18:36] kltm commented on #1051
Yeah:
[code]
from phenogrid-bundle.js.

That's the typical http/https issue.

https://developer.mozilla.org/en-US/docs/Security/MixedContent/How_to_fix_website_with_mixed_content

With http(s), you either have to be all in or all out these days. Welcome to the new normal, if https is required, it's time to cert up. If you can hold on a bit, maybe: https://letsencrypt.org/

[2015-11-03 21:16] yuanzhou commented on #1024
Not sure what's going on with theis API, the same URL

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746+HP:0001300+HP:0002367+HP:0000012+HP:0000716+HP:0000739+HP:0001332+HP:0001347+HP:0002063+HP:0002067+HP:0002172+HP:0002322+HP:0007159+HP:0009466+HP:0001972+HP:0003502+HP:0005190+HP:0001763+HP:0003318+HP:0001371+HP:0001380+HP:0001394+HP:0001156+HP:0001159+HP:0001004+HP:0010886+HP:000

[2015-11-03 21:21] kshefchek commented on #1024
We're testing out a new GOlr load.  IDs starting with an underscore or prefixed with MONARCH: do not persist across different scigraph loads - I think, @nlwashington could you confirm?

[2015-11-03 21:25] yuanzhou commented on #1024
I also tried this one:

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746/NCBIGene:388552,NCBIGene:12166

and it only returns

[code]

[2015-11-03 21:30] kshefchek commented on #1024
It looks we get the same output on production:
http://monarchinitiative.org/compare/HP:0000726+HP:0000746/NCBIGene:388552,NCBIGene:12166

The compare example on our docs page is working:
http://beta.monarchinitiative.org/compare/OMIM:270400/NCBIGene:5156,OMIM:249000,OMIM:194050.json

[2015-11-03 22:51] jmcmurry opened #1056 "Consider DOVEgraph/Phenogrid hybrid"
Now that we have loads of species (yay!), it has become difficult to browse less populous associations at a glance in Dovegraph (sad). The top 3 species eclipse virtually all of our other holdings in other species.  I really do like the Dove Graphs and a lot of engineering has gone into them, however, while it worked brilliantly with 3 species it seems to work much less well with 12+ species becau

[2015-11-03 22:56] nlwashington commented on #1056
i think this is a really interesting possiblity, but we just need to make sure we distinguish it's look&feel to make sure people understand the difference in meaning of the colors.  hover/click functionality on a given intersection point could give some interesting results before drilling down.  we should think about how we might select whole rows/columns to look at.

[2015-11-03 23:30] jmcmurry commented on #1056
@nlwashington agreed. We could even think about the ternary filled circle approach (no data, some data, lots of data) here so that it is clearly distinct from phenogrid. It depends on how much nuance we want to convey in each 'cell'. The ranking of phenotypes should remain as it is now (with most populous at the top). The species should be ranked left to right if possible.

[2015-11-03 23:31] jmcmurry commented on #1053
lot of balls in the air but labeling this blocked so that we are sure to follow up asap

[2015-11-04 02:28] harryhoch commented on #1056
@jmcmurry, we've explored ideas along these lines in the past. Attached are a few mockups that we kicked around a while back....

![by organism](https://cloud.githubusercontent.com/assets/174707/10927913/b613b10e-8271-11e5-8f51-64fe57dc27e9.png)
![monarch-front-page-category-coverage-20140429](https://cloud.githubusercontent.com/assets/174707/10927915/bad58096-8271-11e5-9cde-b55b0eb1322c.png)

![m

[2015-11-04 05:19] jmcmurry commented on #1056
Thanks for this Harry. It is very helpful background; my feeling is that any histogram-based view, no matter how well designed, will not work to highlight the data we actually have. The scales are just so vastly different, unfortunately. I also prefer to not repeat the species labels if we don't need to. I am intrigued by the ortholog and phenotype data co-existing; perhaps there's a way we could

[2015-11-04 06:12] nlwashington opened #1057 "variants in phenogrid"
as per original ticket https://github.com/monarch-initiative/dipper/issues/174
originally from @pnrobinson:
When I go to the Variants tab for Disease Group: Charcot-Marie-Tooth disease
http://beta.monarchinitiative.org/disease/DOID%3A10595
and I click on one of the variants, I am taken to the Phenogrid page and the variant is associated with a set of phenotypes. I am not sure this is the correct/d

[2015-11-04 13:20] harryhoch commented on #1056
Understood about the limitations. These were design ideas aimed at identifying straightforward ways to show off some data.  I agree that the gene by ortholog view is the most intriguing, if we can pull the data together...

[2015-11-04 13:22] harryhoch commented on #1051
@kshefchek , @kltm, didn't we go through some of this discussion earlier? I thought we had had phenogrid working over https...

[2015-11-04 14:05] yuanzhou commented on #1024
Awesome! I'll use beta for the testing. Also noticed that it works without that `.json` extension.

http://beta.monarchinitiative.org/compare/OMIM:270400/NCBIGene:5156,OMIM:249000,OMIM:194050

[2015-11-04 14:07] yuanzhou commented on #1024
But I'll still need to query with a list of phenotypes and a list of genes. The working example you pasted here is a different format.

[2015-11-04 14:11] yuanzhou commented on #1024
I tried this one and it returned the desired simsearch JSON

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746+HP:0001300+HP:0002367+HP:0000012+HP:0000716+HP:0000739+HP:0001332+HP:0001347+HP:0002063+HP:0002067+HP:0002172+HP:0002322+HP:0007159+HP:0009466+HP:0001972+HP:0003502+HP:0005190+HP:0001763+HP:0003318+HP:0001371+HP:0001380+HP:0001394+HP:0001156+HP:0001159+HP:0001004+HP:0010886+

[2015-11-04 14:17] yuanzhou commented on #1057
It looks like those 11 phenotypes are used to render the phenogrid view. I don't see it does anything with variants.

![capture](https://cloud.githubusercontent.com/assets/195873/10940538/e95f3cb4-82d4-11e5-851e-b8872db39958.PNG)

[2015-11-04 14:30] yuanzhou commented on #1051
I just updated my chrome to Version 46.0.2490.80 m and I did reproduce the reported issue if I use `https://`. No issue with `http://`

![capture](https://cloud.githubusercontent.com/assets/195873/10940824/69bab388-82d6-11e5-82cb-4e81af196362.PNG)

![capture](https://cloud.githubusercontent.com/assets/195873/10940857/96beb758-82d6-11e5-82c1-15488b2d9b70.PNG)

[2015-11-04 16:27] kshefchek commented on #1051
@harryhoch Phenogrid should be easy to fix, you just want to call https://monarchinitiative.org/simsearch/phenotype rather than http://monarchinitiative.org/simsearch/phenotype cc @yuanzhou

[2015-11-04 16:37] kshefchek commented on #1057
@nlwashington if we can't reliably say that a variant is associated with a phenotype, shouldn't we remove this from the solr association table?  Or is there an advantage to showing the inferred phenotype relationships from the genotype/organism to phenotype associations.

[2015-11-04 16:49] jmcmurry commented on #1051
Thanks Zhou, this is useful. On a related note, what do you use for your
screenshot markup? Can anyone recommend something? I am not up on the
current offerings. Skitch?

On Wed, Nov 4, 2015 at 6:30 AM, yuanzhou <notifications@github.com> wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1 805 455 5877 skype: mcmurry.julie git: jmcmurry
----------------------------------

[2015-11-04 16:59] yuanzhou commented on #1051
@jmcmurry On windows I use the default/builtin Snipping tool.

On mac, you can use

![capture](https://cloud.githubusercontent.com/assets/195873/10945438/6ea23d0c-82eb-11e5-8c67-523f1bccbb39.PNG)

[2015-11-04 19:05] kshefchek commented on #1056
On paper it's not huge task.  Quite a bit of code can be reused from the barchart view.  The biggest thing is adding species to the y axis and having things line up, but I imagine we can borrow a bit from the phenogrid here.  I think given a week to work on it I could knock it out.  But this would only be for basic functionality, the ability to scroll horizontally, add/remove species would take mo

[2015-11-04 20:55] #1047 closed

[2015-11-04 21:15] harryhoch commented on #1056
two thoughts here:

1. Should be possible to imagine different approaches to the viz here, but I'd suggest taking a step back to talk about goals, use/cases, etc. I can dredge up some of our old notes on the topic if needed.

2. If a quick fix is wanted, might be possible to go to a model of % of annotations  for each organism in each phenotype group.I.,e, if human are 50% nervous system, 25% etc.

[2015-11-04 21:21] kltm commented on #1051
The browsers and ad-blockers are getting more aggressive (for the Good of All), but that means more headaches for what these types of apps would like to do. Breakages are expected now and then, even if something worked before (assuming no code/arch regression).

The most obvious way forward is either http-for-http/https-for-https or all https. It's probably easiest from the developers point of vie

[2015-11-06 19:53] jmcmurry commented on #1051
Hi Zhou, Thanks, but sorry to have been vague. I do screenshots all the time; I just noticed you had used what looked like a pen on *top* of the screenshot and wondered whether you had a good tool for that kind of additional annotation feature?

[2015-11-06 20:04] jmcmurry opened #1059 "Better integrate 'Analyze phenotypes' with 'Browze phenotypes' eg: grid and graph"
I seem to recall we have had some discussions before about integrating the similarity score into browse portion of the app. However, I don't see any tickets open regarding this. I think it is somewhat unfortunate that someone who
 1) browses phenotypes from the dovegraph and
 2) finds one of interest
...is then unable to meaningfully rank results in the way that we already have working in phenogri

[2015-11-06 20:06] jmcmurry commented on #1059
cc: @DoctorBud @harryhoch thoughts?

[2015-11-06 20:10] nlwashington opened #1060 "add object ids to page"
(from email to info list today)

I think it would be useful to be able to see the HPO ID number on the actual page (perhaps right below or next to the heading)

When I visit a page (e.g. http://monarchinitiative.org/phenotype/HP:0000707), in order for me to determine the ID number, HP:0000707, I have to either hover over the disease tab and then copy it down by manually, which is error-prone, or I

[2015-11-06 20:30] yuanzhou commented on #1051
@jmcmurry I was just using Windows PC's snapping tool, very handy with the anotation pen. When I use my mac at home, I miss this tool. I'll let you know if I find any similar tool for Mac.

[2015-11-06 20:37] jmcmurry commented on #1060
+1

[2015-11-06 20:56] jmcmurry opened #1061 "Re-organize tool navigation"
### Our partner tools:
* exomizer
* patient archive
* pubmed browser
* biolark

Ultimately they will need to be more tightly integrated, but in the meantime we can do a lot better.

### Where should these tools be organized in the site?
I'm finding it a bit strange to have browse and analyze as two separate navbar options. Consider instead:

#### Tools
 * Explore phenotypes**
  *  Browse
  *  Anal

[2015-11-06 21:12] mellybelly commented on #1061
Seems like mining text and exploring pubs could be on the same page, with descriptions and links to those two options

similar for patient archive and exomiser

[2015-11-06 21:14] mellybelly commented on #1061
for homepage:
clinical tools
literature tools

these could go to more descriptive overview pages

[2015-11-06 21:35] harryhoch commented on #1059
ok. sounds interesting, @jmcmurry. It's almost as if you are suggesting that we rank each single phenotype in terms of similarity to a range of models? Certainly possible, but that might take some non-trivial precomputation...

[2015-11-06 23:23] jmcmurry opened #1062 "Consider hive diagram for network analysis visualization?"
Saw this in my travels looking for a nice visual way to relate our data sources to species. Anyway, I don't quite understand it yet and don't have time to dig in. Just parking it here for future consideration. No particular feelings on it one way or the other except darn it is pretty.

http://mkweb.bcgsc.ca/linnet/

![image](https://cloud.githubusercontent.com/assets/3658863/11011145/1585efba-849a

[2015-11-09 19:04] nlwashington opened #1064 "improved footer and links"
i was checking out http://www.xnat.org/, and i noticed their footer.  i think they did a good job with it.  I particularly like that they call out a "case studies" section, and it lays out all the contact information front and center without the links buried in a menu item.

can we do this?  we can probably reuse a lot of what we already have.

[2015-11-09 21:49] nlwashington opened #1065 "VT is not resolving"
terms in VT aren't resolving.

i can go here directly:
http://beta.monarchinitiative.org/phenotype/VT:0000001

but the resolver indicates it isn't found:
http://beta.monarchinitiative.org/resolve/VT:0000001

[2015-11-09 22:03] kshefchek commented on #1065
We're still running off of production data scigraph, is beta scigraph stable?  If so I'll make the switch which should fix this.

[2015-11-09 22:13] kshefchek commented on #1065
Looks like we're currently loading beta data scigraph, and stage is down.  Blocked until I can test on one of these servers.

[2015-11-10 07:30] jmcmurry opened #1067 "Set up alert on BioStars & Quora for keywords we should be looking out for"
Just came across this question about Exomiser.
https://www.biostars.org/p/114691/

Related to github.com/monarchinitiative/impact

[2015-11-10 07:34] pnrobinson commented on #1067
strange tha they send a question to this list and did not ask us. In any case that should work perfectly...

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor of Bioinformatics, Freie Universität Berlin
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450566006
Mobile: 0160 93769872
pete

[2015-11-10 17:45] kshefchek commented on #1065
@nlwashington, this issue here is that the class is not typed as a phenotype.  Does it make sense to categorize VT:0000001 and all subclasses as phenotypes?  If so I'll make a ticket in configs.

[2015-11-11 01:37] jmcmurry opened #1068 "Broken example service link for annotation sufficiency service"
https://monarchinitiative.org/score/?annotation_profile={%22id%22%20:%20%22MONARCH:Example1%22,%22features%22%20:%20[{%22id%22:%22HP:0000505%22},{%22id%22:%22HP:0000479%22},{%22id%22:%22HP:0001010%22},{%22id%22:%22HP:0000044%22}]}

On production I get a "Sorry. Your page could not be found."
On beta I get a "Your connection is not private"...

[2015-11-11 01:49] kshefchek commented on #1068
On production: I believe this is the same issue as #1044 (fixed), but hard to test because
On beta: We don't have an ssl cert

[2015-11-11 13:39] yuanzhou commented on #1032
`metadata` issue has been addressed in PR #1069 , my question is even if there's no matches `b`, why we still have `metadata.maxMaxIC` (used to generate color scale for Uniqueness calculation method in Phenogrid)? Does this mean the `metadata.maxMaxIC` is a fixed value? If so, we don't even need to get the `maxMaxIC` from `metadata` from each owlsim result. @harryhoch any thoughts?

Example:

http

[2015-11-11 13:49] #1005 closed

[2015-11-11 13:54] yuanzhou commented on #1032
I also tested several other compare URLs and noticed that the returned `metadata` content are the same. I'm guessing the `metadata` is fixed value. @kshefchek can you confirm this? The `metadata.maxMaxIC` is always 14.74287.

There's also an email from @nlwashington a while ago:

Correct

On 31 Jul 2015, at 10:21, Hochheiser, Harry Stewart wrote:

[2015-11-11 14:48] yuanzhou commented on #1032
![c976ad3a-726a-11e5-9d34-180a359f7f2b](https://cloud.githubusercontent.com/assets/195873/11093623/4d6ae1e8-8859-11e5-9389-eaa41a8e7fc5.PNG)

[2015-11-12 00:04] nlwashington commented on #1032
yes, the metadata is concerning the entire owlsim server, and it's the stats on the entire corpus.

[2015-11-12 00:10] nlwashington commented on #1032
while the same no matter what compare or analyze call you do, it may change from build to build.

[2015-11-12 00:30] yuanzhou commented on #1032
@nlwashington what do you mean by "it may change from build to build"? Does this mean it's a fixed value but may vary sometimes? So hard code it in phenogrid is not a stable solution? I think as long as I can find it from each owlsim JSON, there's no need to hard code it. Chances are it may not be used if there's non"b".

[2015-11-12 01:19] nlwashington commented on #1032
no, you cannot hardcode these values.  anytime there is new data on our end, we restart the server and the values will be recomputed.  the content is added to the owlsim JSON before returning the result, so you should always get it back.

[2015-11-12 02:15] jmcmurry opened #1070 "Collect web applications we really like"
The problem with modeling our site after basic search-based websites is that we do way more. WAY MORE, team. :)

We have lots and lots of new data and that has changed the way we need to present to users. I like some of what Google Consumer Barometer https://www.consumerbarometer.com/en/ is doing. If you have other inspiration for things that I would truly refer to as a web application (not just a

[2015-11-12 03:02] #1032 closed

[2015-11-12 13:49] yuanzhou commented on #1032
@nlwashington got it, thanks a lot for the info.

[2015-11-12 20:20] harryhoch commented on #1061
@jmcmurry, I think your proposal is a good start. A couple of changes that I might suggest:

1.the word "explore" doesn't add much. Consider removing it.
2. combining text items into one item might make some sense
3. similar for patient.

This leaves us with the following

Phenotypes
   browse
  Analyze (agree that these choices aren't great, but for now..)
Diseases
Models
Genes
Publications & tex

[2015-11-12 21:43] jmcmurry opened #1071 "Data metrics for homepage"
Users currently don't have any reason to go to the homepage really.
Consider something like this... https://www.bootstrapzero.com/blocks/ to expose some metrics about the delicious data that @nlwashington is serving up for us to render.

[2015-11-13 01:40] jmcmurry commented on #1061
@mellybelly how is this? Note we can't do anything easy about BioLark right now except put a link to it from our /annotate/text page with an explanation of intended integration.

<img width="920" alt="screen shot 2015-11-12 at 5 36 17 pm" src="https://cloud.githubusercontent.com/assets/3658863/11136531/257b8974-8964-11e5-8520-e1d57bf0fd63.png">

[2015-11-13 01:50] mellybelly commented on #1061
I like it. maybe relabel "publications" to "literature"
@pnrobinson @damiansm @drseb will have to comment on what they want to see on the genomic analysis tools. Maybe relabel that to "variant analysis tools" as data isn't always exome?

[2015-11-13 22:59] kshefchek commented on #746
I'm not able to get this information from the current golr instances.  There may be an issue at load time.

[2015-11-13 23:34] DoctorBud commented on #1061
I branched from 'stage' and created 'home-page-tweaks-for-demo'. The PR for it is here:
  https://github.com/monarch-initiative/monarch-app/pull/1073

Note that the PR is towards 'stage' and not 'master'. Later, we can figure out how to get the changes into 'master' (e.g., rebase the 'home-page-tweaks-for-demo' branch to master and then create a new PR from that).

If it passes TravisCI tests, it

[2015-11-13 23:36] jmcmurry commented on #1061
Thanks Dan!

[2015-11-14 01:20] kshefchek commented on #154
The target_species parameter is required for the html table/json button.  The phenogrid renders as it most likely has a default to fall back on.

This seems to be an issue with coming to this page from annotate text.  I will update the url so that we automatically set the target_species parameter to all.

[2015-11-14 02:17] #154 closed

[2015-11-14 02:17] #974 closed

[2015-11-14 02:17] #1039 closed

[2015-11-14 07:28] jmcmurry commented on #1013
Now that styling is done and is being merged today, I'm closing this.

[2015-11-14 07:28] #1013 closed

[2015-11-15 01:00] jmcmurry commented on #1018
New species are currently showing up on stage, but this needs a rethink about how to represent the data as the bar graphs really don't do it justice with such different scales. Ultimately, something closer to the below would be good (though correspondence to the source database is proabably not worth visualising for the average user; that aspect is more of a powerpoint kind of message about the co

[2015-11-15 01:43] jmcmurry commented on #999
Provisionally closing this, it is now up on stage.monarchinitiative.org

[2015-11-15 01:43] #999 closed

[2015-11-15 01:56] #785 closed

[2015-11-15 02:00] #865 closed

[2015-11-15 02:00] #876 closed

[2015-11-15 02:01] #851 closed

[2015-11-15 02:07] jmcmurry commented on #605
@nlwashington  I looked at all tiers for the example you provided and can no longer see the 137% in phenogrid. Has this been addressed?

[2015-11-15 02:18] jmcmurry commented on #503
A cursory check of this on beta seems to indicate that this has been addressed. @kshefchek please confirm.

[2015-11-15 02:28] jmcmurry commented on #489
Closing as this is a duplicate.

[2015-11-15 02:28] #489 closed

[2015-11-15 02:31] jmcmurry commented on #777
@cmungall please advise what needs to be done to close this ticket; thanks

[2015-11-15 04:42] jmcmurry commented on #542
@DoctorBud can we close?

[2015-11-15 22:20] cmungall commented on #777
My general strategy is to open the ontology in Protege and investigate
from there; if there are links that look incorrect I get an explanation
from the reasoner.

On 14 Nov 2015, at 18:31, Julie McMurry wrote:

[2015-11-15 23:17] #503 closed

[2015-11-16 13:31] yuanzhou commented on #154
@kshefchek just a side note: the "search" mode uses "+" instead of the "," in the URL to separate the phenotypes.

[2015-11-16 13:44] yuanzhou commented on #1024
@kshefchek just to check that if this "Species not specified" has been addressed?

Do I still need to filter out MONARCH prefixed genotypes from the resulting `genotype_list.json`? Right now the genotype expansion feature has been disabled in Phenogrid due to these api related issue. I'll check with Harry to see if this feature should be enabled for the Thanksgiving release.

[2015-11-17 10:50] drseb commented on #777
@cmungall could you clarify which ontology you mean by *the ontology*?

[2015-11-17 13:57] yuanzhou commented on #1012
@kshefchek just to follow up with this API change idea, as you suggested earlier, I tried to use the scigraph neighbors service to get labels for a list of phenotype ids. But sometimes it took a long time to get the JSON so I heisted to merge that change. Right now Phenogrid is still using individual ajax calls for each phenotype id to grab the corresponding label. Wrapping them into the simsearch

[2015-11-17 13:59] yuanzhou commented on #1012
And we also need this for the compare api results.

[2015-11-17 14:07] yuanzhou opened #1081 "Having trouble loading data with monarch API"
This is for ontology expansion:
http://monarchinitiative.org/neighborhood/HP:0004388/10/OUTGOING/subClassOf.json

This is for getting the phenotype label:
http://monarchinitiative.org/phenotype/HP:0430010.json

Got 502 status code.

[2015-11-17 15:33] nlwashington commented on #1081
hmmm.  when i try those links, they also just spin and spin for me.
but when i try running prod on my localhost it works just fine... not sure what the issue is here.  maybe @jnguyenx or @kshefchek has an idea?

[2015-11-17 15:36] nlwashington opened #1082 "bad url fetched"
i noticed that trying to load on a localhost version of prod:
http://localhost:8080/neighborhood/HP:0004388/10/OUTGOING/subClassOf.json
gives this error:

FETCHING: undefined http://duckworth.crbs.ucsd.edu:9000/scigraph/graph/favicon.json

that's just a bad url.

[2015-11-17 17:37] jnguyenx commented on #1081
It seems that [sirius](http://sirius.monarchinitiative.org:8080/solr/golr/select?defType=edismax&qt=standard&indent=on&wt=json&rows=1000&start=0&fl=*,score&facet=true&facet.mincount=1&facet.sort=count&json.nl=arrarr&facet.limit=25&facet.method=enum&fq=subject_closure:%22MGI:2676312%22%20OR%20object_closure:%22MGI:2676312%22&facet.field=subject_category&facet.field=subject_taxon&facet.field=subject

[2015-11-18 00:30] #941 closed

[2015-11-18 00:41] kshefchek commented on #878
This is fixed see http://stage.monarchinitiative.org/gene/NCBIGene:672

[2015-11-18 00:41] #878 closed

[2015-11-18 05:11] nlwashington commented on #878
we're getting lots of duplicates on this page; do we know why?

[2015-11-18 05:16] nlwashington opened #1084 "biogrid is (incorrectly) evidence for everything"
on here:
 http://stage.monarchinitiative.org/gene/NCBIGene:672

on the genotype/model/pathway/homolog/variant/etc tabs, biogrid shows up, along with all kinds of evidence types.  biogrid doesn't belong in any of those cases.

need to figure out why it's showing up.  @jnguyenx this may be a golr-generation issue, or @kshefchek may need to comment on where it's coming from in golr.

[2015-11-18 05:18] nlwashington opened #1085 "non-unique associations on gene-model pages"
on models tab here:
http://stage.monarchinitiative.org/gene/NCBIGene:672

we can see non-unique associations, and also associations that ought to disappear as a result of the clique merge.  @jnguyenx let's verify the cypher query and golr generation.

[2015-11-18 05:21] nlwashington opened #1086 "duplicated equivalent ids listed"
on http://stage.monarchinitiative.org/gene/NCBIGene:672

the equivalent IDs is a non-unique list.  why not show a unique set, say alphabetized?

[2015-11-18 13:49] yuanzhou commented on #1081
I tested the two URLs on beta server and got 503 error. I think the first URL has something to do with SciGraph. The second one is just getting detailed info of a specific phenotype ID.

[2015-11-18 14:14] yuanzhou commented on #1081
Turned out that the beta server is down: http://beta.monarchinitiative.org/

[2015-11-18 20:53] kshefchek commented on #1084
These are generated from the "is_defined_by" field.

[2015-11-18 23:07] #1068 closed

[2015-11-19 00:29] nlwashington opened #1089 "genotypes missing for MGI:1888378"
the inferrence between the genotype-phenotype and variant is there, but the genotypes are not found for MGI:1888378

[2015-11-19 00:38] nlwashington commented on #1089
the golr appears to have this, not sure why it isn't populating the tab correctly.  @kshefchek should verify that the config for the variant page:genotype tab is correct.

for example:
http://localhost:8080/variant/MGI:1888378

[2015-11-19 01:16] #1089 closed

[2015-11-19 02:35] jmcmurry commented on #872
@nlwashington  it looks like this can be closed now that monarch-initiative/dipper#171 has been fixed. Is this your understanding?

[2015-11-19 02:37] jmcmurry commented on #935
@kshefchek and @yuanzhou please advise what needs to be done to close the ticket. Thanks

[2015-11-19 04:00] #1086 closed

[2015-11-19 13:52] yuanzhou commented on #935
@jmcmurry I think as long as #1012 get addressed, we can close both.

[2015-11-19 15:00] jmcmurry commented on #1014
@cmungall @kltm just a gentle nudge that you were going to compare technologies for this release so that we can implement for Christmas. Any insights yet, perchance?

[2015-11-19 15:00] jmcmurry commented on #1014
Implicit in this is that we first investigate and leverage all that Google Analytics can offer.

[2015-11-19 18:56] kltm commented on #1014
Drop-in Google Analytics works great for things like page transitions, but is quite weak on things like clicks and exits. They do allow more invasive tracking, but that requires essentially tying tracking codes to every button and link.

Separately, especially since you offer an API, you'll need to have server-level tracking to see what kinds of data is being grabbed, either by directly link-in or

[2015-11-19 19:12] #1081 closed

[2015-11-20 00:59] mellybelly opened #1093 "consider using bio-lark in scigraph text annotation tooling"
@tudorgroza @cmungall @kshefchek
we should discuss might work best, but should avoid different versions of HPO in particular. Does bio-lark leverage Uberon logical defs?

[2015-11-20 01:13] cmungall commented on #1093
Architecturally, the solution I favor is to integrate the bio-lark algorithm into the SciGraph core. This could be either an option or some kind of plugin (which may require a plugin architecture). The latter allows more flexibility with licensing.

If bio-lark involves some learning step this complicates it. The SG annotator is currently driven purely from lexical information derived from the ont

[2015-11-20 03:12] cmungall commented on #1014
I have had no chance to do this, and not really an area I have much
experience in

On 19 Nov 2015, at 7:00, Julie McMurry wrote:

[2015-11-20 09:08] tudorgroza commented on #1093
The plugin architecture works best for me - especially since I will start working on negation and other aspects, which will require updating, etc. ...

On the other hand, since you already have an annotator, it might not make sense to put them together. We can definitely run some sort of evaluation to see where we stand.

@mellybelly - no, biolark doesn't use logical definitions.

[2015-11-20 21:58] cmungall commented on #777
https://github.com/monarch-initiative/monarch-ontology/

However, you can start from deeper within the import hierarchy. Here http://purl.obolibrary.org/obo/upheno/vertebrate.owl would work

[2015-11-20 22:03] cmungall opened #1095 "Remove dependence on federation for spotlight"
We discussed either

 0. removing spotlights
 1. hardcoding a single spotlight
 2. Doing a one time cache of all the legacy json to support rotating spotlights
 3. rewriting spotlight code to use golr/sg

If nothing is done we will have to default to 1

[2015-11-20 22:22] kshefchek commented on #1095
3. Doing a one time cache of all the legacy json to support rotating spotlights - is currently implemented, if you see issues locally it is likely from clearing your local cache.

[2015-11-21 00:46] #849 closed

[2015-11-21 00:46] #989 closed

[2015-11-23 20:06] jmcmurry opened #1100 "proxy errors on beta"
Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /search/smad2.

Reason: Error reading from remote server

Apache/2.2.15 (CentOS) Server at beta.monarchinitiative.org Port 80

[2015-11-23 20:14] kshefchek commented on #1100
I'm not able to replicate, @jmcmurry could you try again and see if it's resolved?

[2015-11-24 15:12] jmcmurry commented on #1100
This was when I was at Harvard; now that I'm at home, I can't replicate
either.
By way of this email, I can ask Richard Pearse to try again when he's on
campus.
Same search on production worked fine; that is what is a bit odd. Are the
ports different?

On Mon, Nov 23, 2015 at 3:14 PM, Kent Shefchek <notifications@github.com>
wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1

[2015-11-24 18:52] jmcmurry commented on #1100
I’m still getting a “Proxy Error” when connecting from the Harvard ethernet port (Proxy errors are showing on both “prod” and “demo”
-Richard

From: Julie McMurry <mcmurry.julie@gmail.com<mailto:mcmurry.julie@gmail.com>>
Date: Tuesday, November 24, 2015 at 10:12 AM
To: monarch-initiative/monarch-app <reply@reply.github.com<mailto:reply@reply.github.com>>
Cc: monarch-initiative/monarch-app <monarch

[2015-11-24 19:08] kshefchek commented on #1100
I'm getting the same errors as well now, we will likely need to involve sys admin.

[2015-11-24 19:17] kshefchek commented on #1100
See https://support.crbs.ucsd.edu/browse/CRBS-10729

[2015-11-24 20:02] kshefchek commented on #1100
crbs marked it as fixed, please reopen if you are still having issues.

[2015-11-24 20:02] #1100 closed

[2015-11-24 21:04] jmcmurry commented on #1100
Per Richard: "It seems to be working much better at the moment. I was still getting the block a couple hours ago, but whatever’s been done since then has cleared up performance for now."

[2015-11-24 23:32] nlwashington opened #1102 "rosie (scigraph services) dies about once a day"
from vicky (crbs support)

our scigraph services seems to die about once a day, resulting in the frequent occurrence of the 502 proxy errors that we've all been experiencing.  this requires a manual restart.

the most recent iteration was after the query http://monarchinitiative.org/search/shh

here are some dates/times that it has recently occurred:
11/16 1:34pm
11/22 9:55am
11/23 7:36pm
11/23  1

[2015-11-25 00:26] nlwashington commented on #932
this also seems to be a higher priority now that we are creating associations between things that might be "looser" in their nature (like polygenic traits from gwas, or computed over quantitative data).

[2015-11-25 09:06] drseb commented on #777
thanks @cmungall

The first thing I see are unsatisfiable statements in *monarch.owl*. See this screenshot:
![screen shot 2015-11-25 at 09 55 10](https://cloud.githubusercontent.com/assets/5172897/11392523/a4d6169e-935a-11e5-9f89-0879b7aaf0c8.png)

Is it correct that **part of** is a subproperty of **happens during**?

Another thing that I see in *vertebrate.owl*, is that the imports are not worki

[2015-11-30 23:35] jmcmurry opened #1109 "Integrate with Reactome Widgets"
This is a high level placeholder for integration with new reactome widgets in Monarch.
More to follow.

[2015-12-01 00:31] jmcmurry commented on #1109
@guanmingwu to advise; copying him on this thread

[2015-12-01 19:07] cmungall commented on #746
We have this in the latest golr load on persei, I suggest we deploy this first, then we can add the column to the config

[2015-12-02 18:30] jmcmurry opened #1110 "Write a page about all of the standards work we do"
Not sure how best to organize this, so it is stream of consciousness for now. Feel free to flesh out. @mellybelly

Phenotype Standards:
- phenopackets
- minimum phenotype standard
- Annotation sufficiency

Identifier Standards:
- prefixcommons
- bd2k
- biocaddie

- Ontologies:
all the ontologies we contribute to, use, or own

- Data Models: HCLS, GMOD, others?

Attribution?...

[2015-12-03 22:38] cmungall opened #1115 "Some OMIA pages fail to resolve"
Species-specific ones work, e.g
http://monarchinitiative.org/disease/OMIA:001158-9796

But try navigating to parent in the hierarchy

gets routed to 404 via
http://monarchinitiative.org/resolve/OMIA:001158

[2015-12-03 23:00] kshefchek commented on #1115
Node not found: http://rosie.crbs.ucsd.edu:9000/scigraph/graph/OMIA:001158?project=*

But it's in the ontology graph:
http://kato.crbs.ucsd.edu:9000/scigraph/graph/OMIA:001158?project=*

Right now the resolver only looks at that the datagraph, is there a reason why this isn't loaded into the datagraph?

[2015-12-04 01:20] nicolevasilevsky commented on #1115
On a related note, I can't search for some of the species that were added from OMIA, for example, if I search for American Flamingo, I get an error: http://monarchinitiative.org/search/american%20flamingo

[2015-12-04 01:24] nicolevasilevsky opened #1116 "OMIA source has wrong URL"
The source on this page has the wrong URL: http://monarchinitiative.org/disease/OMIA:001461-9217

![image](https://cloud.githubusercontent.com/assets/6722114/11579401/acc0697a-99e2-11e5-9ca2-cbecbd15b351.png)

It should link out to: http://omia.angis.org.au/OMIA001461/9217/
Not 'http://omia.angis.org.au/001461-9217'

[2015-12-04 01:25] nicolevasilevsky opened #1117 "Phenogrid not loading for OMIA pages"
Phenogrid is not loading on this page:

http://monarchinitiative.org/disease/OMIA:001461-9217

[2015-12-04 01:27] nicolevasilevsky commented on #1117
same issue with this page: http://monarchinitiative.org/disease/OMIA:000185-452646

[2015-12-04 01:58] kshefchek commented on #1117
We had to take down one of our services briefly, this should be working again.

[2015-12-04 01:58] #1117 closed

[2015-12-04 02:00] kshefchek commented on #1115
Our production scigraph server had not properly updated, this should resolve now.

[2015-12-04 02:01] #1115 closed

[2015-12-07 22:58] kshefchek opened #1118 "Determine proper versioning on monarch-app"
We've released a few versions of the monarch-app as well as our datasets without providing release notes.  Currently our June 2014 release is labelled 1.0.  We've also had releases in August and December 2015.

TODO
- [ ] Determine correct versioning for past releases (@jmcmurry)
- [ ] Update release page (@kshefchek)

[2015-12-10 18:27] cborromeo opened #1120 "URL for autocomplete"
We need a URL for the autocomplete functionality.  In an earlier discussion with Chris and Nicole, I told them the autocomplete used the following URL: http://geoffrey.crbs.ucsd.edu:9000/scigraph/vocabulary/autocomplete/parkin.json params={"limit":20,"category":["gene","Phenotype","disease"],"searchSynonyms":true}

They suggested I use an alternative URL: http://persei.monarchinitiative.org:8080/s

[2015-12-10 19:52] yuanzhou commented on #1024
@kshefchek tested the URL again

http://beta.monarchinitiative.org/compare/HP:0000726+HP:0000746+HP:0001300+HP:0002367+HP:0000012+HP:0000716+HP:0000739+HP:0001332+HP:0001347+HP:0002063+HP:0002067+HP:0002172+HP:0002322+HP:0007159+HP:0009466+HP:0001972+HP:0003502+HP:0005190+HP:0001763+HP:0003318+HP:0001371+HP:0001380+HP:0001394+HP:0001156+HP:0001159+HP:0001004+HP:0010886+HP:0006530+HP:0004792+HP:000

[2015-12-10 19:56] kshefchek commented on #1024
The IDs you are comparing agaisnt (_:genid, MONARCH:1234) are unstable IDs and may change across scigraph versions, I suspect that is the issue.

[2015-12-10 19:59] yuanzhou commented on #1024
I filtered the `MONARCH:` prefixed IDs, I'll go ahead and also filter out the `_:genid`

[2015-12-11 19:44] kshefchek commented on #1118
For the latest release:
SciGraph: 1.5
Golr-Loader: 0.0.1

[2015-12-11 20:12] jmcmurry opened #1122 "Solicit feedback and letters of support"
@DoctorBud pointed out that Protege is doing a nice job (re: this kind of soliciting).
Let's consider implementing something similar.
<img width="974" alt="1449864450" src="https://cloud.githubusercontent.com/assets/3658863/11754407/0771597e-a000-11e5-9c11-4a673506287d.png">

They also offer an amazon cash incentive for feedback.

@mellybelly @cmungall thoughts welcome

[2015-12-17 02:57] DoctorBud commented on #899
I'm not sure which species facets you are referring to, but I recently cleaned up the species filtering in the phenotype pages. I don't know if there was a ticket, I just recall Nicole saying they looked bad, so I fixed them. They may have been disabled around the time this ticket was created.

Here's a Screenshot of production:

<img width="752" alt="a" src="https://cloud.githubusercontent.com/as

[2015-12-17 07:11] jmcmurry commented on #899
Thanks @DoctorBud, looks much better also on mac / chrome which was the most problematic environment.

- [ ] Please comment out the top filter box if possible as we are not including multiple groups of filters at this time anyway.
- [ ] Longer-term, the group had at one point discussed doing away with the bbop widget altogether in favor of a more customized solution. Proposed design below for disc

[2015-12-17 07:13] jmcmurry opened #1124 "Identifier manifesto blog post"

[2015-12-17 14:50] cmungall commented on #1120
We have two autocomplete solutions

 * SciGraph
 * Solr, following the GOlr design patterns

Your first URL is querying a SciGraph instance. BTW, for SicGraph documentation, use /docs/, e.g. for this instance: http://geoffrey.crbs.ucsd.edu:9000/scigraph/docs/

The second instance is a Solr instance. You can consult generic Solr docs here, but for consuming this I would recommend using the bbop js

[2015-12-17 15:14] cmungall commented on #899
+1

[2015-12-17 16:45] kltm commented on #1120
While the selectize code is fresh in the bbop-widget-solr-autocomplete, the use of the managers from the bbop side is stale (previous version). This is on the short-term update list.

[2015-12-17 19:35] mellybelly commented on #899
I'd also love a more taxonomic selector-  one that could subdivide the choices based on larger taxonomic groups. eg. amniotes, vertebrata, rodentia, etc. and also include common taxonomic names for non-experts.

[2015-12-17 19:42] cmungall opened #1125 "Test Dmel and Celegans data with owlsim"
We have new data loaded in stage, test this in owlsim

[2015-12-17 19:45] cmungall commented on #899
larger taxonomic groups can be handled with a model selector analogous to https://github.com/geneontology/amigo/issues/247

[2015-12-17 21:18] jmcmurry opened #1126 "Definitive list of Taxonomic Groupings for Facets"
We have so many species that it is sometimes too long a list to digest. Meaningful taxon groups are required.

For the GO (in https://github.com/geneontology/amigo/issues/247) @cmungall had suggested

Mammalia
Vertebrata
Fungi
Metazoa
Viridiplantae
Eukaryota
Archaea
Bacteria

In https://github.com/monarch-initiative/monarch-app/issues/899#issuecomment-165480261 @mellybelly you had suggested

amnio

[2015-12-18 21:10] kshefchek opened #1130 "Font awesome errors with phenogrid 1.2.3"
We're getting font awesome when loading the phenogrid:

        "NetworkError: 502 Proxy Error - http://beta.monarchinitiative.org/fonts/fontawesome-webfont.woff2?v=4.5.0"

        "NetworkError: 500 Internal Server Error - http://beta.monarchinitiative.org/fonts/fontawesome-webfont.woff?v=4.5.0"

        "NetworkError: 502 Proxy Error - http://beta.monarchinitiative.org/fonts/fontawesome-webfont.

[2015-12-18 21:31] jmcmurry opened #1131 "Engage users with "advisor" status?"
I rather like this idea.

<img width="912" alt="screen shot 2015-12-18 at 1 29 56 pm" src="https://cloud.githubusercontent.com/assets/3658863/11907757/85a50454-a58b-11e5-962a-e40bf769c798.png">

Does anyone know if it works?

[2015-12-19 03:26] yuanzhou commented on #1130
I noticed this error today and talked to @DoctorBud, monarch-app doesn't use font awesome. Must be the assets loading path rewriting caused this issue. We also noticed that some fonts couldn't be delivered by the nodejs server, we prob just need to add some new content-types.

[2015-12-19 03:43] yuanzhou commented on #1130
In the updated phenogrid v1.2.3, after bundling we'll have all the font files placed in "phenogrid/dist/fonts" folder and they are only used by phenogrid-bundle.css. In monarch-app, probably in the webapp.js, we have some path parsing rules when loading phenogrid bundled assets.

Similarly, there's a "phenogrid/dist/images" folder that contains all the images used in jquery-ui.css (phenogrid uses

[2015-12-21 00:41] cmungall opened #1132 "Install fails on OS X due to fibers dependency"
`npm install` fails for me on Yosemite

[code]

this was after removing `node_modules` and doing a fresh install. When I try and install it explicitly I get the following:

[code]

Why do we need fibers anyway? We shouldn't be doing anything that requires threading in the monarch app.

[2015-12-21 00:50] cmungall commented on #1132
Looks like an Xcode issue. Ah, feels like another century tracing down odd C compiler linker errors

[2015-12-21 00:50] #1132 closed

[2015-12-21 16:02] kshefchek opened #1133 "Add content to overview tab"
Related ticket for variants and genotypes: https://github.com/monarch-initiative/monarch-app/issues/755

We want to add more content to our overview tabs and have this be the default/landing tab on all pages.

Some ideas:
- download buttons to id specific datasets (#1022)
- graphs/visualizations such as an ontology browser, charts, etc.
- Phenogrid icon/short explanation that links to compare tab

[2015-12-21 16:12] kshefchek commented on #1125
One idea is to use golr to get the phenotypes, that way we can use the monarch API to automate testing of any source(s).  To get the phenotypes we could

- Query out phenotypes using the source field, dependent on this working properly
- Query them out with filters/query strings, for example:
"fq": "subject_category:\"phenotype\" OR object_category:\"phenotype\"",
"q": "object:WBPhenotype* OR subj

[2015-12-21 18:27] jmcmurry opened #1134 "Source for educational resources in domain?"
There are a variety of initiatives around that are doing things in the "training" space in lifesciences (Goblet, BD2K, Elixir etc). Do any have a concise listing of resources relevant to G2P and or personalized medicine?

If so, perhaps worth mentioning it somewhere on our site. If not, perhaps worth putting together to pull a shortlist for our own purposes. Whether for people interested in using

[2015-12-22 14:37] kshefchek commented on #1125
@cmungall is there a way to check if a phenotype is known by owlsim by using REST API?  I've generated a list of ids that do not return results in owlsim using Monarch simsearch, but I'm assuming this is incorrect since we may have phenotypes without disease or gene associations.
[flybase-ids.txt](https://github.com/monarch-initiative/monarch-app/files/69801/flybase-ids.txt)
[wormbase-ids.txt](htt

[2015-12-22 23:50] jmcmurry opened #1137 "Use Apache CTAKES mailing list to request feedback"
Apache CTAKES mailing list might have representation from enough of the right people to get a Monarch user feedback group together.

[2015-12-23 00:45] harryhoch commented on #1137
@jmcmurry, why cTAKES users in particular?

[2015-12-23 13:45] yuanzhou commented on #1130
This issue has been fixed in PR #1135

[2015-12-23 13:45] #1130 closed

[2015-12-23 15:08] yuanzhou opened #1138 "Additional species data for testing?"
Have we loaded additional species data in the database? I've been using the following species for testing new Phenogrid features:

- Homo sapiens
- Mus musculus
- Danio rerio

I tried Drosophila melanogaster (taxon: 7227) but there's no matches from simsearch. If I have additional species for testing, I could cover some corner cases that can't be captured by the existing three species.

[2015-12-23 21:02] jmcmurry commented on #1137
Well, the best fit use case might not Monarch per se, but web phenote / patient archive. That there is already a list of users interested in open source medical text mining tools seems like low hanging fruit. @tudorgroza may have thoughts on this

[2015-12-24 14:29] harryhoch commented on #1137
ctakes users can be all over the map in terms of what they're looking for, but certainly possible.

[2015-12-24 22:21] tudorgroza commented on #1137
@jmcmurry - Not sure I understand the goal here. Request feed-back on what? cTakes is, to some extent, a competitor to what we're doing - given that they also do concept recognition ... Not sure how does PA or web phenote fit into the picture...

[2015-12-28 16:43] kshefchek commented on #1056
I've been toying around with this is in a [branch](https://github.com/kshefchek/monarch-app/tree/dovechart-heatmap), with the design being something similar to phenogrid and the github contributions grid.  There are still some bugs and I haven't coded the transitions between the barchart view and the heatmap/grid view, but I could continue work on it if we think it's worth pursuing.  I think we wo

[2016-01-04 21:23] nlwashington opened #1140 "500 error for HP:0006862"
i went here:
http://monarchinitiative.org/phenotype/HP:0006862

and after much time, i got a 500 error.

note that this term is an alt id.

[2016-01-05 14:31] cmungall commented on #533
I believe this ticket can be closed. @kshefchek will you open a new ticket if one is required for any under-the-hood refactoring?

[2016-01-05 14:33] cmungall commented on #533
we should also add a unit test for this

[2016-01-05 14:39] cmungall commented on #1095
presumably we need to check these in now, as we will be cut off from the source soon

[2016-01-05 14:58] kshefchek commented on #1095
Everything should be fixed, the cache files are checked in and the app no longer attempts to fetch information from NIF in the case where the files are no available, see 542382d and 7ef60a22.

[2016-01-06 18:22] biodevlab opened #1141 "Phenotype Analysis not working"
Any submission gives error “ {"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred”}”

Tried with Safari, Chrome and Firefox

[2016-01-13 18:25] jmcmurry commented on #1141
+1 This is a problem I just encountered too.
http://monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0000252+HP%3A0003700+HP%3A0000648+HP%3A0002126+HP%3A0005750+HP%3A0001250+HP%3A0004325+HP%3A0002045&mode=search&target_species=all&limit=100

@kshefchek please investigate thanks.

[2016-01-13 18:36] jmcmurry commented on #1141
On stage it is working: http://stage.monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0000252+HP%3A0003700+HP%3A0000648+HP%3A0002126+HP%3A0005750+HP%3A0001250+HP%3A0004325+HP%3A0002045&mode=search&target_species=all&limit=100

[2016-01-13 21:30] jmcmurry commented on #1141
Fixed by switching owlsim to stage server

[2016-01-13 21:30] #1141 closed

[2016-01-13 21:33] jmcmurry opened #1146 "Searching on gene b2b1508Clo yields no results"
[Searching for b2b1508Clo](http://stage.monarchinitiative.org/search/b2b1508Clo) yields no results (autocomplete and site search) however, there is a page for it.

<img width="654" alt="screen shot 2016-01-13 at 1 31 19 pm" src="https://cloud.githubusercontent.com/assets/3658863/12308415/07c30f62-b9fa-11e5-8047-acdfcdbba031.png">

<img width="982" alt="screen shot 2016-01-13 at 1 31 00 pm" src="ht

[2016-01-13 22:02] jmcmurry opened #1147 "stage has bonkers rendering bugs"
Don't even know how to describe this: @DoctorBud thoughts? CC: @kshefchek

<img width="925" alt="screen shot 2016-01-13 at 2 00 33 pm" src="https://cloud.githubusercontent.com/assets/3658863/12309187/25933644-b9fe-11e5-9c8a-f6038fb32026.png">

[2016-01-13 22:03] jmcmurry commented on #1147
Refreshing the page seems to remedy it presently, however @harryhoch had a similar issue about an 3 hours ago on a different page (also stage)

[2016-01-15 21:31] jnguyenx opened #1148 "PhenotypeProfile hash should be disable in dev mode"
I think that the cache should not be enabled in dev mode, otherwise it becomes hard to debug calls and internals.

https://github.com/monarch-initiative/monarch-app/blob/master/lib/monarch/api.js#L4062

[2016-01-16 03:00] jnguyenx opened #1150 "monarch-app packaging"
Instead of rebuilding the monarch-app each time (with ./install.sh), I think that it's a better practice to build the application once and distribute an executable.

The benefits would be:
* faster and smoother deployment
* reproducibility, ensure that the same executable are being used between stage, production, or even locally for example

This webapp example distributes versioned archives:
http

[2016-01-16 03:03] kltm commented on #1150
Are the compiled c libs etc. portable across platforms (e.g. mac vs linux)?

[2016-01-16 03:05] jnguyenx commented on #1150
They seem to cross-compile their stuff for each targeted architecture.

https://github.com/elastic/kibana/blob/76ee5abfcff80a5007a4bf794d3d8ce53a22a2a9/tasks/build/archives.js

On Fri, Jan 15, 2016 at 7:03 PM, kltm <notifications@github.com> wrote:

[2016-01-16 20:19] nlwashington opened #1151 "owlsim down?"
i think that owlsim services might be down.

i was poking hard at it via the /compare functionality wrapper in monarch-app, and now it's not returning the comparisons correctly.  for example:

http://www.monarchinitiative.org/compare/HP:0000006+HP:0000174+HP:0000194+HP:0000218+HP:0000238+HP:0000244+HP:0000272+HP:0000303+HP:0000316+HP:0000322+HP:0000324+HP:0000327+HP:0000348+HP:0000431+HP:0000452+H

[2016-01-18 19:01] jmcmurry opened #1152 "Data sources page is virtually blank"
Not sure what is going on here:
http://stage.monarchinitiative.org/page/sources
http://monarchinitiative.org/page/sources
<img width="1394" alt="screen shot 2016-01-18 at 10 57 55 am" src="https://cloud.githubusercontent.com/assets/3658863/12400014/71434bb0-bdd2-11e5-9e7f-37108b24d2e3.png">

Needs to be reverted to functioning state asap as this page is referenced in R24 proposal. Perhaps somethin

[2016-01-19 19:04] kshefchek commented on #1151
We're running  http://owlsim.monarchinitiative.org/ on production.  It appears to be up, but this brings up the point that we should have some owlsim tests that run periodically to catch any downtime.

[2016-01-19 19:14] kshefchek commented on #1152
My guess is that this has to do with the require.js configuration, which we've since removed in favor of bundling with web pack (see http://monarch1-1.cslu.ohsu.edu/about/sources).  If this is the case it should be fixed with the next release.

[2016-01-19 19:17] kshefchek commented on #1147
I think this has to do with rendering client scripts with requireJS, see https://github.com/monarch-initiative/monarch-app/issues/1152#issuecomment-172955799

[2016-01-20 00:50] nlwashington opened #1153 "LIX1 (cat) should be linked to spinal atrophy"
http://monarchinitiative.org/gene/NCBIGene:751823
should be a homolog to http://monarchinitiative.org/gene/HGNC:18581, but it doesn't show up in the list.

note that i found this: http://monarch1-1.cslu.ohsu.edu/gene/NCBIGene:3615802, listed in our system as LIX1 which is totally wrong (compare to NCBI http://www.ncbi.nlm.nih.gov/gene/3615802).  where is this coming from?

I also notice that the a

[2016-01-20 01:33] nlwashington commented on #1153
this is definitely originating in the OMIA data dump.  they list the gene id to be "3615802", which is their internal id for that gene:  http://omia.angis.org.au/gene3615802/  but unfortunately don't provide an accurate mapping of their internal ids to all NCBIGene identifiers (and often use the same xml-element to mean either).  I'm waiting on clarification now and/or maybe an update to the xml d

[2016-01-20 18:03] nlwashington commented on #1153
cc @astronowanabe if you're curious

[2016-01-21 22:29] harryhoch opened #1154 "auto-complete enhancement via improved semantics"
search autocomplete utility is limited by the lack of semantic organization of matching terms - a search like "parkin" could identify many gene entries scattered across multiple organisms, several diseases, etc.  Some of these entries might link to gene entries without obvious matches - ie, "PARK2", which might mention "parkin" as a synonym.

Custom landing pages that aggregate content for key ter

[2016-01-22 19:03] nlwashington commented on #866
so, for this example.
these have no phenotypes:
ZFIN:ZDB-GENE-101116-1
ZFIN:ZDB-GENE-041008-73
ZFIN:ZDB-GENE-120215-75
ENSEMBL:ENSDARG00000086512

MGI:97770 does have phenotypes:
HP:0004325,HP:0009887,MP:0005332,MP:0003131,HP:0003112,MP:0001488

but no result is returned from owlsim.  i believe this is because there is nothing that is comparable between them.  note, if i add the mp term that is pa

[2016-01-22 19:03] nlwashington commented on #866
cc @cmungall

[2016-01-22 19:05] nlwashington commented on #866
note, here is the resulting owlsim call that is made for the MGI gene above:
http://owlsim.monarchinitiative.org/compareAttributeSets?a=MP:0001399&b=HP:0004325&b=HP:0009887&b=MP:0005332&b=MP:0003131&b=HP:0003112&b=MP:0001488

[2016-01-22 19:32] nlwashington commented on #644
back to harry's question, should the call to scigraph like ```...scigraph/graph/ZDB-ALT-120411-457+ZDB-ALT-980203-1221+ZDB-ALT-980203-1560.json``` result in a 404?

the answer is yes because that is not an identifier for any entity in our system.  also, it isn't a real identifier in the way we need it, as it isn't in the curie format.

note the call originated from
http://monarchinitiative.org/com

[2016-01-22 19:37] harryhoch commented on #644
Thanks, Nicole. Given the age of this issue, and the fact that we've moved forward with the genotype expansion, I think this is probably a closed issue. I think we should close it off and refer back to your notes if there are any questions that arise. ok? Please reopen if not.

[2016-01-22 19:37] #644 closed

[2016-01-22 19:49] nlwashington commented on #1140
Now it doesn't give a 500 error, but it just shows up with a blank page.  since it has an alt id, it should redirect to that page, or give me options.
but i notice that if i query by that id directly by scigraph, i get nothing.  is this node/id even loaded?

[2016-01-22 19:59] nlwashington commented on #1140
when i looked in the hp.owl file, i find the id as an alternative to HP:0002131.  however, looking at the contents of [HP:0002131 in scigraph](http://monarch3-1.cslu.ohsu.edu/scigraph/graph/HP:0002131?project=%2A), that identifier isn't there as an altid.  @jnguyenx, is there trouble with the loading of the ontology?  perhaps it has trouble with the list of things (off by one errors or such)?

[2016-01-22 21:50] nlwashington opened #1155 "add species high-level summary"
being the cross-species people, i think it'd be great to add a high-level summary of the cross-species data that we have in our database.  some basic statistics and/or fun facts.

we could include:
* number of annotated species, and number of genes, genotypes/strains/breeds, and variants annotated
* number of diseases curated with phenotypes
* an (descending) ordered list of diseases (top 10?) and

[2016-01-22 22:12] cmungall commented on #1155
For solr, ideally we'd have the equivalent of the bioentity index we have for GO (one entry per association subject, closure list for object, plus direct objects). Nor do we have an index with one entry per (subj,obj-closure) tuple, what in GO we call the annotation_aggregate (not v informative name).

In theory not so hard to add. I would do this generically for all yaml views, rather than per vi

[2016-01-22 22:51] jmcmurry opened #1156 "Ontology browser peculiarities"
I was looking for an example disease with few phenotypes and so navigated up to [disease, DOID:4](http://monarchinitiative.org/disease/DOID:4) but found that the items underneath it were ... bonkers.

What I expected to see was:
- Nervous System Disease
- Musculoskeletal System Dis...
- Immune System Disease
- Cardiovascular System Dise...
- Integumentary System Disea...
- Gastrointestinal System

[2016-01-22 22:58] nlwashington commented on #1156
somewhere, i believe, i've recommended adding a grouping class for "uncategorized diseases" to place all these orphans.  it would help bunches.

[2016-01-22 23:06] jmcmurry commented on #1156
+1 to that. Perhaps I will assign this to Chris then as the problem stems from MONDO.

[2016-01-22 23:17] nlwashington commented on #1156
this may also require a bit of rejiggering in a couple of the data sources, as i may import their classes and place them as subclasses of DOID:4 (for example, KEGG)

[2016-01-28 19:00] jmcmurry commented on #1150
Any update on this?

[2016-01-29 01:12] nlwashington opened #1159 "species is almost correct in golr views"
the species listed in the golr views is almost, but not quite, right.  in many cases, it isn't as specific as it should be.

for example, on here:
http://monarchinitiative.org/disease/DOID:2730

many of the species are listed as "mammalia", when in fact they should be horse or sheep or something else.

this will need to get fixed in the cypher queries that populate golr.

[2016-01-29 18:25] jnguyenx opened #1160 "fetchURL does not follow redirect"
We stumble an interesting use case, we currently have the subdomain name owlsim.monarchinitiative.org redirecting to monarchinitiative.org/owlsim as a 301 redirect.

The current fetchURL method does not follow the redirect and returns the 301 error instead.

The obvious fix would be to follow the redirect, but I'm not sure that it is the best one.

Any thoughts?

[2016-02-02 15:43] mellybelly opened #1161 "collapse duplicate rows on homologs tab"
On this page:
http://monarchinitiative.org/gene/NCBIGene:2516
on the homologs tab
I see two rows that have the same homolog from the same sources.

[2016-02-02 15:45] mellybelly opened #1162 "Add phenotype comparison for homologs"
I want to somehow see the phenotypes of the the homologs and how they compare to the gene page that I am on. Not sure if this is a new instance of phenogrid or how to display this, but its clear we need some mechanism to have an overview of the phenotypic similarity between orthologs across species.

[2016-02-02 17:22] nlwashington commented on #1162
some related tickets includes #325, https://github.com/monarch-initiative/phenogrid/issues/135, #20, #363, #567.

[2016-02-02 17:23] nlwashington commented on #1162
also, can we reuse the code that produces the ortholog comparison on the analyze page for this, @kshefchek ?

[2016-02-02 17:45] nlwashington commented on #1162
Also, I think this is hugely important as well.  Can this be placed on the homologs tab?

[2016-02-02 17:57] nlwashington commented on #1162
Implementing this properly will enable us to have a flexible grid to display any collection of genes (say, from pathways or drug targets or grouped by any mechanism)

[2016-02-03 02:16] harryhoch commented on #1162
Let's discuss on Thursday's call.

[2016-02-03 20:43] kshefchek commented on #1162
I think we have a few options here, we could have a button that minimizes the table to a two or three column subject object table and generates a phenogrid on the right hand side.  We could also do something similar but instead of a phenogrid have a "minipage" with various tabs where the context is controlled by two column table.

[2016-02-04 18:29] mellybelly opened #1163 "Remove reference gene on homolog tab"
I keep thinking that the genes on the first column are the actual homologs, but they are in fact the gene on whose page I am on.

http://monarchinitiative.org/gene/MGI:97487
Is there a way to phylogenetically or otherwise arrange results better?

[2016-02-04 18:30] mellybelly opened #1164 "gene symbol display error"
On this page I see the human gene on the homolog tab showing as "paired box 3" rather than PAX3

http://monarchinitiative.org/gene/MGI:97487

[2016-02-04 18:32] harryhoch commented on #1163
Remove the first column?

[2016-02-04 20:57] kshefchek opened #1165 "Unable to get all models of Pax3"
This is likely not an app issue but will place this here.

If I go to:
http://monarchinitiative.org/disease/DOID:9258

I can see several models contain the Pax3 gene.  However if I go to the gene page

http://monarchinitiative.org/gene/MGI:97487, only one model shows up.

My guess is that this is an issue with defining patterns for genotypes vs models, so we are capturing these models as genotypes

[2016-02-05 14:22] mellybelly opened #1166 "no models listed on human or mouse Pax3 gene pages"
http://monarchinitiative.org/gene/NCBIGene:5077
http://monarchinitiative.org/gene/NCBIGene:5077

Not only are there models via phenotype similarity on Phenogrid, but there are also orthologs of PAX3 in mouse that have mutant mice models:

http://monarchinitiative.org/model/MGI:2168108

[2016-02-05 14:24] mellybelly opened #1167 "odd model id"
http://monarchinitiative.org/model/MONARCH:4e49c950efb48765384fa647aadad86d

Linked from this page:
http://monarchinitiative.org/disease/DOID:9258
and following the models tab.

[2016-02-05 20:41] kshefchek commented on #1166
We currently don't follow homology to generate model or genotype relationships on gene pages.  Also of note that these MGI ids are mostly stored as genotypes in our system, but show up as models on diseases pages, see #1165

So two questions:
Should these be models?  cc @mbrush
Do we want models and/or genotypes from orthologous genes in these tabs?

[2016-02-05 20:45] cborromeo opened #1168 "502 error accessing scigraph-ontology-dev.monarchinitiative.org/"
On Feb 5 at 3:40 pm, I am encountering 502 Bad Gateway errors on this URL:

http://scigraph-ontology-dev.monarchinitiative.org/scigraph/vocabulary/autocomplete/parkin.json

This URL is specified twice in the server_config_dev.json file:

   "scigraph_url" : "http://scigraph-ontology-dev.monarchinitiative.org/scigraph/",
    "scigraph_data_url" : "http://scigraph-data-dev.monarchinitiative.org/scig

[2016-02-07 15:14] mellybelly opened #1169 "Add ability to filter phenotypes by anatomical category"
When looking at a disease page with very many phenotypes, it might be nice to see an overview of their distribution in different anatomical categories and/or be able to filter on these.

[2016-02-07 15:36] harryhoch commented on #1169
+1

[2016-02-09 14:38] cborromeo opened #1171 "return taxon from scigraph autocomplete method"
In api.js, there is a function called: bbop.monarch.Engine.prototype.getVocabularyByTerm.  This function calls a SciGraph method.

I would like to show the taxon in the Monarch App autocomplete list.  I don't see taxon being returned in the JSON call: http://scigraph-ontology.monarchinitiative.org/scigraph/vocabulary/autocomplete/huntin.json.  Can we add the taxon to the data returned by this call

[2016-02-09 17:34] kshefchek commented on #1171
Right now this requires two calls in scigraph, we implement something similar here:
https://github.com/monarch-initiative/monarch-app/blob/master/js/monarch-common.js#L301
and
https://github.com/monarch-initiative/monarch-app/blob/master/js/search_form.js#L126

[2016-02-09 20:14] nlwashington opened #1172 "sort identifier lists in overview"
please sort the xref and equivalent ids that are shown on any "overview" tab.

[2016-02-10 00:27] harryhoch opened #1173 "Need to clean up display of phenotypes"
Phenotype ontology displays can contain detail that might be confusing to users.  Need to
(a) possibly revise the ontology
(b) change browser displayed to avoid details that might not be clear to some users.

See this example for Hypodontia (HP:0000668):
![phenotype-issues](https://cloud.githubusercontent.com/assets/174707/12935314/bce47f84-cf49-11e5-8972-7b6017ed1c4c.png)

Several issues are prob

[2016-02-10 00:30] harryhoch opened #1174 "add annotation suffiicency score to analyze/phenotypes input"
When providing a set of phenotypes to be analyzed, an annotation sufficiency meter would be helpful for showing users the quality of their annotations.

[2016-02-10 00:48] pnrobinson commented on #1173
There are a lot of odd items visible in this tree. Maybe consider using backbone of MP or HP to provde the backbone and restricting automatic inferences to more specific regions of the hierarchy?

[2016-02-10 23:06] kshefchek commented on #1165
One idea is that we have a blank node for models when a genotype is a model of disease, and show a genotype on the models tab along with this blank node label.  cc @mbrush.  Will require some refactoring in dipper as well.

[2016-02-11 18:29] #1151 closed

[2016-02-11 18:30] #1102 closed

[2016-02-12 00:13] kshefchek commented on #1033
bump

[2016-02-12 20:17] #1030 closed

[2016-02-13 02:00] cmungall commented on #1033
Requires an OBO library purl

[2016-02-16 05:55] jmcmurry opened #1176 "supercool viz transportation"
Not sure if there's anything we can learn from this visualization, but it is absolutely spectacular. Just filing it here for future exploration.

http://mbtaviz.github.io/

[2016-02-16 12:05] harryhoch commented on #1176
yes. very cool. the schedule graph at the top is clearly inspired by Marey’s Paris train schedule, as described by Ed Tufte (http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0003zP), but it’s the coordination of the various visualizations and the use of the shading that really shine here. Definitely some ideas to learn from.

Credits indicate that this was done in Matt Ward’s vis class @

[2016-02-16 22:45] jmcmurry commented on #1176
More examples of nicely done synchronized views that are rich but sensible.
http://casestudies.brain-map.org/celltax#section_explorea

[2016-02-17 00:34] nicolevasilevsky opened #1178 "need to create place on website for HPO layperson synonyms"
would like to showcase our layperson synonyms on the website somehow, when it is done.

@jmcmurry
@mellybelly

[2016-02-17 00:47] jmcmurry commented on #1178
Thanks for bringing this up. Just to clarify, there are two issues really. One is how to showcase the synonym effort more generally, the other is how to engage the lay audience in exploring the data. The former is easy--the latter very hard. We discussed having altogether different UIs for these three basic audiences (researchers, physicians, patients). Regarding the former, Nicole, could you writ

[2016-02-18 05:19] nlwashington commented on #1019
How's this coming along?  Would be very keen to show this off to some folks.
@kshefchek are you able to make a workaround to add info about the pubs?  author/title/year/etc?

[2016-02-18 05:20] nlwashington commented on #1019
i'd prioritize phenotype/disease pages, if possible.

[2016-02-18 05:22] nlwashington commented on #124
@kshefchek would be nice to bring this back as well.
can you add back the display of the abstract, if available?

[2016-02-18 06:07] nlwashington opened #1179 "mixture of gene symbol and gene name is confusing"
the monarch front-end is displaying a mixture of gene full-length names and symbols.  these should be standardized.  i'd recommend on symbol.  @jnguyenx can you figure out what source is contributing the long label?  and then when propagating the labels for the cliqueLeader, either take as the label the synonym that is an abbreviation, or fix the data at dipper time to ensure that the symbol is th

[2016-02-18 17:36] yuanzhou commented on #521
@harryhoch I was working on creating a nodejs server to handle REST API for another project yesterday and discovered this npm package [Async](https://github.com/caolan/async). Maybe I can use it to send parallel calls to get simsearch data back for each species. Since monarch is running on node server, those calls can be handled asynchronously. It'll be still be n separate calls but we don't have