[2016-02-18 17:42] yuanzhou commented on #1012
@kshefchek is this API change still on your list? I've created functionalities around phenogrid unmatched phenotypes for IMPC integration, which all the phenotype labels are provided upfront so no external calls to get the labels for those unmatched phenotypes. And it worked out very well.

[2016-02-18 18:20] kshefchek commented on #521
I think this type of behavior is client driven using promises, although I may be misunderstanding.

[2016-02-18 18:47] harryhoch commented on #521
@yuanzhou, this is interesting, but I don't think it is necessary worth tackling right now. The point of a multi-organism call would be to push complexity from the client to the server. An async call might make some small improvements, but wouldn't address the main issue.

[2016-02-18 18:47] harryhoch commented on #1012
@yuanzhou, is this needed for IMPC? If so, can we prioritize?

[2016-02-18 18:57] yuanzhou commented on #1012
@harryhoch this is not needed for IMPC since we have all the phenotype labels from their JSON, which makes things lot easier in terms of the number of function calls as well as performance. This is another reason why I waned to get this done for monarch-app use case.

[2016-02-18 19:00] harryhoch commented on #1012
ok. @kshefchek,  this would require some changes to owlsim, right? I assume it would be non-trivial?

[2016-02-19 20:07] jmcmurry commented on #1053
This is now set up at OHSU

[2016-02-19 20:07] #1053 closed

[2016-02-19 20:09] DoctorBud commented on #985
I think I fixed it.

[2016-02-19 20:09] #985 closed

[2016-02-19 20:55] mellybelly commented on #1001
@harryhoch does @cborromeo have time to work on this? @jmcmurry suggests there are many related search tickets (see tag), can we define scope for what is next up?

[2016-02-19 21:01] harryhoch commented on #1001
@mellybelly yes. @cborromeo is looking at search/autocomplete right now, where this is directly relevant. Similar concepts might also apply to revisions to the data tables. A bit of help/guidance from those more familiar with the indexing and autocomplete code might be needed. Let's talk on Monday.

[2016-02-19 21:20] jmcmurry commented on #1171
@cborromeo if you have the info you need now, could you close this please? thanks

[2016-02-19 21:24] kshefchek commented on #1168
I've created a status page for our services that should help out in the future:
http://beta.monarchinitiative.org/services/status

We have two scigraph services running, ontology only and ontologies+data.

[2016-02-19 21:25] jmcmurry commented on #1168
I'm not getting a 502 anymore.
As Kent just mentioned, the ontology and data URLs are intentionally different; this isn't a duplication.
I'm going to close, but please reopen and clarify any remaining blockers.

[2016-02-19 21:25] #1168 closed

[2016-02-19 21:35] jmcmurry commented on #1120
@cborromeo please summarize what, if anything is blocking this from being closed. Thanks

[2016-02-19 21:44] kshefchek commented on #1120
I believe @cborromeo is still waiting on a solr index specifically for autocomplete and search.  Theres some alignment with noctua and I think a ticket somewhere.

[2016-02-19 22:04] jmcmurry commented on #1008
@mellybelly There are 8 "Pax" results in the gene category -- each of which has multiple corresponding species; it gets especially complex if you consider case typing variations in the gene name. Blue sky -- How would you like to see taxon represented in cases like this? Is the ideal for EACH result to show the corresponding nearest taxon parent? Keep in mind that the more logic we rely on in auto

[2016-02-19 23:36] kshefchek opened #1181 "Add explanation for IDs that are both diseases and heritable phenotypic markers"
OMIM provides IDs that mapped as both diseases and heritable phenotypic markers, for example
the following IDs are equivalent in our system
DOID:4297, OMIM:106700, HGNC:11567, Orphanet:185, MESH:D012587, NCBIGene:6893

and are typed as both diseases and sequence features (from SO:0001500).  This can lead to tables where the same ID is both the subject (variant) and object (disease)
http://monarchi

[2016-02-22 22:00] #1163 closed

[2016-02-23 01:29] jmcmurry opened #1184 "Bonkers google search result for ZDB-GENE-980526-41"
A [google search result for zfin shh (ZDB-GENE-980526-41)](https://www.google.com/search?q=panther+api&oq=panther+api&aqs=chrome..69i57j0l3.2015j0j4&sourceid=chrome&es_sm=119&ie=UTF-8#q=ZDB-GENE-980526-41&newwindow=1&start=20) yields this page from Monarch, which is...bonkers.
Not a high priority to fix (hits page 3), but curious indeed.

http://monarchinitiative.org/genotype/MONARCH:ZDB-GENO-0008

[2016-02-23 04:41] jmcmurry commented on #1184
Same for google search for HGNC:10848. I get owlsim.monarchinitiative.org/disease/HGNC:10848 which leads to an "oops" page.
I wonder if we are exposing the wrong things to google bot?

[2016-02-23 20:51] yuanzhou opened #1185 "Cross origin error again"
All of sudden, I'm getting this cross origin error again when I was trying to load simsearch data to Phenogrid. I thought it was addressed a while ago.

![capture](https://cloud.githubusercontent.com/assets/195873/13266288/4fa64be4-da45-11e5-9e5a-759965f20d95.PNG)

[2016-02-23 21:35] DoctorBud commented on #1152
This is still a bug on beta and production.
Doesn't have anything to do with requireJS. I'll look into it.

[2016-02-23 21:43] DoctorBud commented on #1147
I'd like to CLOSE this issue. I think that since we are running in bundled mode now, and requireJS is no longer being used, that this should not be happening. Also, there is no stage.m.org right now, there is only beta.m.org and that seems to be working.

[2016-02-24 17:20] yuanzhou commented on #1185
It's working again without the error today.

[2016-02-24 17:20] #1185 closed

[2016-02-24 23:16] DoctorBud commented on #1152
The URL `.../page/sources` is not the correct URL for the Source page. The correct URL is `.../about/sources` which is also where the About/DataSources menu leads. Please forget the `/page/sources` URL and do not distribute it.

I fixed the issue in https://github.com/monarch-initiative/monarch-app/pull/1186, where I redirect from the BAD url to the GOOD one.

Closing this Issue

[2016-02-24 23:16] #1152 closed

[2016-02-24 23:23] jmcmurry commented on #899
Taxonomic groups are addressed in a different ticket https://github.com/monarch-initiative/monarch-app/issues/1126

[2016-02-24 23:39] #899 closed

[2016-02-24 23:49] DoctorBud commented on #542
We are now using the latest (as of a month or so ago) BS3, and we can now use `.less` to customize the Bootstrap behavior via css/themes/monarch.less. We've also adopted the latest jQuery and jQueryUI, rather than the snapshotted versions we previously stored in our repo. We still have a lot of plain-old-CSS files, but that is not really a problem moving forward.

Closing this ticket.

[2016-02-24 23:49] #542 closed

[2016-02-24 23:51] DoctorBud commented on #731
The current README is up-to-date compared to when this ticket was composed. It documents the NodeJS server, how to use WebPack, and how to test/debug. Closing this ticket.

[2016-02-24 23:51] #731 closed

[2016-02-24 23:57] DoctorBud commented on #753
I think this issue is closable. Production monarch uses port 80 for all of its services at this time.

[2016-02-24 23:57] #753 closed

[2016-02-24 23:58] kshefchek commented on #1181
also: http://monarchinitiative.org/disease/NCBIGene:55869#genes

[2016-02-24 23:58] #1147 closed

[2016-02-25 00:57] DoctorBud commented on #1160
Fixed in https://github.com/monarch-initiative/monarch-app/pull/1187 (waiting for tests to pass, then for PR approval).

[2016-02-25 01:27] kshefchek opened #1188 "start-server and npm run styling differences"
There are slight styling differences between launching the server via the start-server script versus npm run start (or dev).  Confirmed with @DoctorBud but can post screenshots if needed.

[2016-02-25 04:36] drseb opened #1189 "Iphone 4, problems homepage"
not sure if this must be fixed or has already been adressed, but this is how the current homeage looks on my iphone 4

![image](https://cloud.githubusercontent.com/assets/5172897/13309894/0a12036a-db81-11e5-982b-791781d36a09.jpg)
![image](https://cloud.githubusercontent.com/assets/5172897/13309895/0a153efe-db81-11e5-9695-11da22e9a4cc.jpg)

[2016-02-25 20:36] jmcmurry opened #1190 "curie identifier case variants (and bogus IDs) resolve in misleading ways"
I came across this while trying to retrace my steps researching parkinsons genes...
Since I could not remember where I was but could remember the NCBI gene ID (6622), I tried typing it in manually but couldn't remember the prefix casing.

Workflows and breadcrumbs is a whole other issue that is much more important but out of scope for this ticket. Though the bug is annoying, not the highest priori

[2016-02-26 01:36] kshefchek commented on #1181
Replacing issue with https://github.com/monarch-initiative/dipper/issues/273

[2016-02-26 01:36] #1181 closed

[2016-02-26 02:06] DoctorBud commented on #1189
I have been gradually improving the behavior of Monarch on mobile devices, but I've also been told that it is low priority (it's high priority for me, because I like narrow windows and the same thing that works for iPhone4 lets me have narrow windows). I think this will gradually be fixed as we evolve the UI, but if there is a driving need (e.g., demoing Monarch on an iPhone 4), I know HOW to fix

[2016-02-26 15:22] drseb commented on #1189
ok thanks!

[2016-02-26 15:22] #1189 closed

[2016-02-26 15:25] drseb opened #1191 "publication list"
Hi,

the publication list ends at 2014. This looks sad. Is somebody taking care of updating this? How can we help?

Especially these would be important:

* Next-generation diagnostics and disease-gene discovery with the Exomiser
  D Smedley, et al.
  **Nature Protocols**
* Computational evaluation of exome sequence data using human and model organism phenotypes  improves diagnostic efficiency
  WP

[2016-02-26 15:26] drseb commented on #1191
I am referring to http://monarchinitiative.org/page/pubs

[2016-02-26 15:33] mellybelly commented on #1191
@nicolevasilevsky can maybe add content, but can we do something more automated @DoctorBud or @kshefchek, i know we had a mendelay feed before but that didn't work because was full of things that were not us.

[2016-02-26 15:54] nicolevasilevsky commented on #1191
I can put together a list of recent publications but can someone else add it to the website (or show me how?)

[2016-02-26 16:07] DoctorBud commented on #1191
The file that currently contains the publications is:

    monarch-app/templates/page/pubs.mustache

This file is a Mustache template, which means it is mostly HTML except for some header/footer material.

The easiest way for @nicolevasilevsky to add entries is to create a 2015 section at the top of the file (by duplicating the 2014 section and editing the year) and add the new titles to that sect

[2016-02-26 16:28] cmungall commented on #1191
Much as I love yaml, most of us cut and paste publications from web
pages, word docs, endnote, mendeley etc, making people convert this to
yaml doesn't really help much

On 26 Feb 2016, at 9:07, Dan Keith wrote:

[2016-02-26 16:47] DoctorBud commented on #1191
A better way for everyone involved would be to use Markdown to specify the page content, and then a Gulp task to generate HTML during the build process. I use this technique in Phenogrid to generate the index.html file from the README.md file and an index.html template.

Here's the code from phenogrid/gulpfile.js:

[code]

and from phenogrid/templates/index.html:

[code]

[2016-02-26 17:30] llui commented on #753
Please unsubscribe llui@ncmir.ucsd.edu

--
Vicky Rowley

IT Manager
Center for Research in Biological Systems, and the
National Center for Microscopy and Imaging Research

University of California, San Diego
9500 Gilman Dr. MC0608
La Jolla, CA 92093-0608
(858) 822-0708 office
vrowley@ucsd.edu

[2016-02-26 22:45] kshefchek commented on #1056
@jmcmurry is there any interest in moving this forward?  The branch is a little stale but I would likely merge it in eventually (without making this view available on the UI) as it contains some other refactors and improvements.

[2016-02-29 13:51] jmcmurry commented on #1191
What are the next steps here?

[2016-02-29 15:11] drseb commented on #1191
https://github.com/monarch-initiative/monarch-app/pull/1193

[2016-02-29 15:17] mellybelly commented on #699
Ping @kshefchek @DoctorBud @jmcmurry can we finalize a plan here?
Probably also need an info page to go along with it that can be highlighted on the front page.

[2016-02-29 16:52] mellybelly commented on #699
see https://docs.google.com/document/d/1onYfXFg9aaFd-DZTaLm6Qd3Wp5JY4EMcaVLmFFY_3JE/edit

[2016-02-29 17:33] yuanzhou commented on #1189
Just wanted to mention that Phenogrid is not designed for mobile phone even if you can view other Monarch website components in iphone.

[2016-02-29 22:01] kevinschaper opened #1194 "Make REST API available via https"
I'm working on getting phenogrid on to ZFIN's disease term pages. I need to call the REST API to fetch HP ids for a DO id, and because we tend to serve traffic under https, I need the API call to happen under https as well.

In particular, I need urls like this to work:
https://monarchinitiative.org/disease/DOID:2355.json

thanks!

[2016-02-29 22:11] kevinschaper commented on #1194
Previously I'd been getting a list of HP ids from that url, but I don't see "phenotype_list" available as a part of that JSON document now.  I guess that strips the urgency for me, but supporting https should just be a small tweak to your apache config.

[2016-02-29 22:16] kshefchek commented on #1194
We are working on getting a new ssl cert and should have the https site working again soon.  To fetch a list of phenotypes for a disease try:
http://monarchinitiative.org/disease/DOID:2355/phenotype_list.json

[2016-02-29 22:17] harryhoch commented on #1194
Kevin:

Great to hear that you're working on this.

@yuanzhou, please help @kevinschaper with any details of the PhenoGrid install as necessary.

[2016-02-29 22:34] jnguyenx commented on #1194
In order to fully support https, we have to enable https on our underlying services as well (scigraph, golr, etc..).

Enabling https only on the monarch-app might be enough for you @kevinschaper but I prefer to do things properly even if it takes more time.

Expect an update in 2 weeks or so.

[2016-02-29 22:59] harryhoch commented on #1194
@jnguyenx, understood. that it's better to do things properly. However, would it be possible to have https working for the monarch api on beta? This would allow @kevinschaper to move forward.

[2016-02-29 23:58] jnguyenx commented on #1194
Yup I can do that this week!

On Mon, Feb 29, 2016 at 2:59 PM, Harry Hochheiser <notifications@github.com>
wrote:

[2016-03-01 00:13] kltm commented on #694
I'm not really working on banners, etc. at this point. This should be passed to somebody else.

[2016-03-01 00:19] kshefchek opened #1195 "Minor styling improvements to filter widget"
The new filter widget is awesome, and would be great to add some styling improvements.

Some issues:
1. Adding a new filter to the golr yaml file still works, but the filter icon is not present in the column header.
2. Should the icon be the three bar menu icon or a downward arrow or filter icon?
3. Remove space between multiple filters (see picture)

![literature-page](https://cloud.githubusercon

[2016-03-01 01:19] harryhoch commented on #1194
thanks!

[2016-03-01 04:28] jxchong commented on #1194
Just writing to 2nd this request. We just realized we need to be able to use the API over https as well.  :)

[2016-03-01 05:38] jmcmurry opened #1196 "Search result failure for uticaria"
A friend's kids have [cold uticaria](http://monarchinitiative.org/disease/OMIM%3A120100) so I was curious to know if I could find it in Monarch. There was no autocomplete suggestion for uticaria so when I just pressed enter to search I got this, which I think we can all agree is bad, but I'm having a hard time working out what could be behind it.

http://monarchinitiative.org/search/uticaria

<img

[2016-03-01 06:31] kshefchek commented on #1196
SciGraph autocomplete/search isn't great with misspellings.  We have a suggestions service that we could use here as a patch:
http://scigraph-ontology.monarchinitiative.org/scigraph/vocabulary/suggestions/uticaria?limit=5

Oddly enough the correct spelling doesn't return the right suggestion:
http://scigraph-ontology.monarchinitiative.org/scigraph/vocabulary/suggestions/urticaria?limit=10

[2016-03-01 14:07] yuanzhou commented on #1194
@kevinschaper maybe we should have an talk before jumping into the details. I'll write you an email to introduce myself and details about Phenogrid. We've been integrating Phenogrid onto IMPC site and made many tweaks in a separate github branch. We haven't merged those changes to the Phenogrid master branch. Let's discuss via emails.

[2016-03-01 18:07] kshefchek commented on #1196
I'll add suggestions in from SciGraph, but we should also add as a TODO for the new solr based autocomplete and search, cc @cborromeo and @harryhoch.

[2016-03-01 23:24] jmcmurry commented on #1122
Another very nice example:

[2016-03-02 23:14] jnguyenx commented on #1194
@harryhoch @kevinschaper  @yuanzhou

https://beta.monarchinitiative.org/

[2016-03-02 23:17] harryhoch commented on #1194
Thanks!

[2016-03-02 23:18] jmcmurry opened #1198 "Circular link to db xrefs in overview tab"
in the equivalent IDs section in the overview here: http://monarchinitiative.org/gene/NCBIGene:6469.

ENSEMBL:ENSG00000164690 links to http://monarchinitiative.org/gene/ENSEMBL:ENSG00000164690
which just redirects to http://monarchinitiative.org/gene/NCBIGene:6469

annoying but low priority

[2016-03-03 01:05] jnguyenx commented on #1179
Can you please provide an example?

As far as I know, in SciGraph we have only one label which is the http://www.w3.org/2000/01/rdf-schema#label rdf property.

[2016-03-03 01:10] cmungall commented on #1179
yep, the issue is that some dipper sources may be putting the wrong thing into the rdfs:label.

An example:
http://monarchinitiative.org/gene/NCBIGene:4137

One of the following has the erroneously long label:
ENSEMBL:ENSG00000186868, OMIM:157140, HGNC:6893, Orphanet:123144, KEGG-hsa:4137

[2016-03-03 01:23] nlwashington commented on #1179
I fear it may be OMIM...start there.
On Mar 2, 2016 5:10 PM, "Chris Mungall" <notifications@github.com> wrote:

[2016-03-03 01:28] kshefchek commented on #1179
@cmungall was this an [attempt](https://github.com/monarch-initiative/dipper/commit/09551878c40c92f3943fb41325afe05db4da7e0c) to fix?  I'm unable to run OMIM until we work out licensing.

[2016-03-03 13:37] yuanzhou commented on #1194
Thanks @jnguyenx . I tested and got the following errors in Chrome console:

![capture](https://cloud.githubusercontent.com/assets/195873/13495840/f0db8200-e11a-11e5-9e53-bd4dc7faf0dc.PNG)

I think as long as I change the config to let Phenogrid point to the https:// then we can address the second error. This also means that we'll need to have the production server running on https:// so we don't

[2016-03-03 20:01] #1196 closed

[2016-03-05 21:39] harryhoch opened #1199 "/annotate misbehaves"
throwing a 504 gateway error.

[2016-03-05 23:05] kshefchek commented on #1199
scigraph-data was down, restarted and should be working again.

[2016-03-07 00:37] cmungall opened #1200 "Add phenopacket exporter"
Each page/tab should have an 'export phenopacket' button (similar to the old export json)

TBD: exporter at the level of golr or scigraph

[2016-03-07 05:49] jmcmurry commented on #1194
Any update on this?

[2016-03-07 05:53] jmcmurry commented on #1174
+1

[2016-03-07 05:59] jmcmurry commented on #1172
@nlwashington What is there could be improved in various ways; could you clarify more precisely what you're looking for? Eg. Do you mean literally sort by alphabetical order or bin in some meaningful way?

[2016-03-07 06:02] jmcmurry commented on #1169
@cmungall could you comment on the degree of difficulty here?

[2016-03-07 06:06] jmcmurry commented on #1162
For now, even something that collapses everything into a single table, visualization aside, would be better than nothing.

[2016-03-07 07:03] cmungall commented on #1169
the anatomical categories are mirrored in upper level phenotype classes. So working with a slim of HPO etc would probably work here.

Analogous to https://github.com/geneontology/amigo/issues/308

(there should probably be a generic golr ticket for this: having a slim for any closure)

[2016-03-07 14:48] yuanzhou commented on #1194
@jmcmurry I'm still getting this error.

[2016-03-07 17:12] jmcmurry commented on #866
@kshefchek any update on this? What is needed to close?

[2016-03-07 17:31] kshefchek commented on #1164
This was tracked to a dipper/omim parser issue, so we are blocked until we can regain access to there or come with an alternative way to fix.  We may be able to patch on the monarch-app side.

[2016-03-07 17:44] kshefchek commented on #866
Let's get the final word from @cmungall on https://github.com/monarch-initiative/monarch-app/issues/866#issuecomment-174013444

[2016-03-07 17:53] kshefchek commented on #1162
If left as a table view what column(s) would we add?  Phenotypic similarity and maybe phenotype count?

[2016-03-07 20:19] DoctorBud commented on #1200
If we allow for the selection of a subset of rows (e.g., phenotype rows within a disease page), then we'll need to enable per-row checkboxes and have the Export button apply to selected rows. This feature exists as an option within the BBOP widget we use, but has been unused for a while and Facet Filters may have ignored support for them.

[2016-03-07 20:24] kltm commented on #1200
As longer as the manager is used (properly), there should be no issue.

[2016-03-07 20:30] jmcmurry commented on #1194
@jnguyenx will implement on Beta, and then switch. May need to coordinate with Ethan.

[2016-03-07 21:46] #1199 closed

[2016-03-07 21:47] kshefchek commented on #1195
There seem to be a few things broken when adding additional filters.  We also want to remove hard coded references to subject_taxon_label and control this with the golr conf files.  I can work on this as I'd like to get it working for literature pages.

[2016-03-08 02:47] satra opened #1201 "linked data browsing on monarch"
it would be great if monarch can be crawled through linked data browsing. this would mean that IRIs in monarch (e.g., http://monarchinitiative.org/disease/OMIM:127750) would return a graph of information hopefully in some serialization of RDF (trig, turtle, json-ld), preferably settable in an accept-header.

this would also help figure out how many of the external links are machine accessible.

[2016-03-08 03:20] jmcmurry commented on #1201
Hi Satra, we do serve Turtle, but on the dataset level, not the individual record. Eg. http://data.monarchinitiative.org/ttl/clinvar.ttl or http://data.monarchinitiative.org/ttl/omim.ttl

Just use the prefix registered in curie-map.yaml to pull each down.

Hope this helps in the meantime

[2016-03-09 21:37] jnguyenx commented on #1194
@yuanzhou

https is activated now on the services. If one tries to access via http, there's a redirect on https.
Phenogrid doesn't seem to follow the redirect and will throw the error you've already observed:
[code]

I'll force the configuration to https to try.

[2016-03-09 21:59] jnguyenx commented on #1194
Ok it seems to work when I force https. I think that it is worth to make Phenogrid to follow the redirects, but I'll leave that decision to you.

Please test and let me know if everything works as intended. If yes we can foresee a switch soon.

[2016-03-10 14:17] mellybelly opened #1203 "Need to update community listserve info page"
On this page:
http://monarchinitiative.org/page/about
we link at the bottom of the box to this link:
http://mail.monarchinitiative.org/mailman/listinfo/users
which does not resolve.

We need more prominent and functional links to our list serves.
info@monarchinitiative.org
community@monarchinitiative.org

@jmcmurry @kshefchek @DoctorBud can you help?
This is important for our GSoC students to acce

[2016-03-11 12:17] julesjacobsen commented on #1194
I think the server can be set directly  in the Phenogrid - clients just need to update it to use the https link as default and then it will work in both http and https sites without issue. I've made the change on the IMPC website so, once deployed it should work ok. Please let me know when https is also enabled on production as I'd obviously prefer to use this!

[2016-03-11 18:03] jnguyenx commented on #1194
@harryhoch @yuanzhou I'm waiting for your blessing to go ahead ;-)

[2016-03-11 21:48] harryhoch commented on #1194
@yuanzhou, please look into the indirect error, or just get it to use https directly.

[2016-03-11 21:53] jmcmurry commented on #1203
There was a strange link in our GSOC organization profile that didn't resolve. I updated to just the info@monarchinitiative.org address. See also above linked issue.

[2016-03-14 15:55] yuanzhou commented on #1194
@harryhoch @jnguyenx Errors are gone! Please pull the trigger to deploy to production. Thanks!

[2016-03-14 18:29] jnguyenx commented on #1194
Hmm I've reached the quota to generate certs. I wasn't aware that there was a quota:

- Rate limit on registrations per IP is currently 10 per 3 hours
- Rate limit on certificates per Domain is currently 5 per 7 days

I still need to generate certs for monarch-app-prod and solr-prod, I'll try later this week.

[2016-03-16 18:23] mellybelly opened #1206 "update architecture doc on website"
We need to have a more up to date version - the version up there now still refers to DIsco.
@jmcmurry can you modify the slide you made for @kshefchek  to replace?

[2016-03-18 15:48] mellybelly opened #1207 "ontologies documentation still points at google code"
https://code.google.com/archive/p/phenotype-ontologies/

need to point at the github site(s)

[2016-03-18 15:54] drseb commented on #1207
point to https://github.com/obophenotype ?

[2016-03-18 18:43] cmungall commented on #1207
Too late to make changes now.

In any case, it already points to upheno

On 18 Mar 2016, at 8:54, Sebastian Köhler wrote:

[2016-03-18 21:44] jmcmurry opened #1208 "HPO cameo on homepage"

[2016-03-18 22:30] jnguyenx commented on #1194
I've made the switch, let me know if you run in any issue.

[2016-03-18 22:30] #1194 closed

[2016-03-20 02:31] TomConlin opened #1209 "monarchinitiative.org appears hostile"
right now going to :
https://www.monarchinitiative.org/

results in:
[code]

[2016-03-20 03:35] TomConlin commented on #1209
Jeremy pointed out it is due to the ```www.```
I am not sure where I picked that link up but adding a redirect will fix it.

[2016-03-20 21:46] TomConlin commented on #1207
see also
[https://github.com/monarch-initiative/dipper/issues/268](https://github.com/monarch-initiative/dipper/issues/268)

[2016-03-21 17:00] julesjacobsen commented on #1194
Works well on my local dev instance. Will switch dev.mousephenotype.org to use this for a while.

[2016-03-21 19:15] #198 closed

[2016-03-21 19:15] #181 closed

[2016-03-21 19:18] #709 closed

[2016-03-22 00:30] kshefchek opened #1210 "Gather requirements for an index for autocomplete"
The goal of this ticket is to gather technical requirements for a solr core to support an autocomplete widget, with outcome being some shared document that outlines these requirements.  Let's limit the discussion to autocomplete and split site search out into a separate issue/document.

My two cents:
We want a solr index of all of the node id, primary label, synonyms, taxon (common name) from our

[2016-03-22 14:04] cborromeo commented on #1008
After several discussions with the folks working on Golr, it was suggested that I use Golr as the source of the autocomplete data.  I have been asked to outline my requirements and assumptions regarding this functionality.
I would like a method that takes a string representing a part of a label (ex: 'parkin', 'alzhe') and returns a list of matching concepts.  The call parameters should be: getAuto

[2016-03-22 18:55] cmungall commented on #1110
See also: https://github.com/phenopackets/phenopacket-format/issues/53

[2016-03-22 19:21] cmungall commented on #1008
Q on requirements:

How would this work? We have to send users to either a disease page OR a phenotype page. Unless we also merge the distinction between these pages more, or make it easy to traverse between them. This is hard, so I would say remove this requirement for the time being

[2016-03-22 19:32] jmcmurry commented on #1008
An autocomplete result in a combined P/D category wouldn't _necessarily_ mean that each option has both a corresponding Phenotype and Disease record. This is more the exception (like cleft palate) than the rule.

Thus agreed, it is fine to punt this requirement and reconsider it later.

For that later conversation ... collapsing in autocomplete doesn't necessarily mean you have to collapse in the

[2016-03-22 19:47] cmungall commented on #1008
For species qualifiers on genes, we have a few different strategies. These are not mutually exclusive.

## including taxon to disambiguate duplicate symbols across species

The simplest is to fold the species into the label ahead of time. This is the strategy we take for neo (https://github.com/geneontology/neo/). It is equivalent to the strategy taken for PRO. This has the advantage of requiring

[2016-03-22 20:22] cmungall commented on #1210
didn't see this when I made my comments here #1008

[2016-03-23 00:28] jmcmurry commented on #1008
In the absence of meaningful collapsing of species, if I had to distill autocomplete improvements into just two things, it would be (i) performance and (ii) "in all results"; are either of these tractable?

[2016-03-23 00:29] jmcmurry commented on #1210
In the absence of meaningful collapsing of species, if I had to distill autocomplete improvements into just two things, it would be (i) performance and (ii) "in all results"; are either of these tractable?

[2016-03-23 19:56] jmcmurry commented on #1208
So here's a wireframe for discussion purposes. Any thoughts? I've overlaid on the homepage screenshot so you can get a sense of scale. We can:
1) Move HPO up to the top and move phenogrid down or
2) Keep phenogrid up top and move HPO down

In either case, the news feed would follow below those two.

At least during this phase of announcements coming up, I favor option 1. Thoughts?

@cmungall @mell

[2016-03-23 19:59] jmcmurry commented on #1208
I would also like to have whichever cameo is up top extend further vertically to avoid this kind of frame misalignment.
<img width="559" alt="screen shot 2016-03-23 at 12 58 46 pm" src="https://cloud.githubusercontent.com/assets/3658863/13998953/07676426-f0f7-11e5-8b5e-d116878e8d20.png">

[2016-03-23 20:24] nicolevasilevsky commented on #1178
Starting a draft of the blog post here: https://docs.google.com/document/d/1MIlKWOUvDO3074MOaLzjIXjnPL3gB7zKJRQ_KpGPbVU/edit

[2016-03-24 00:10] kshefchek commented on #1200
I am thinking variant-phenotype associations would be a good candidate as an example; however, when decomposing these associations they typically fall under the pattern of:
1. Variant inferred to have a phenotype through a disease-phenotype relation
2. Variant inferred through a genotype-phenotype relation

Is it possible to represent this in the level-1 schema, through a  series of 2 or more asso

[2016-03-24 00:34] cmungall commented on #1200
I suggest an iterative approach: let's focus on simple variant-phenotype
associations for a first pass, with minimal evidence

Then let's do another pass, and we can explore extension of the evidence
model, bringing in the work that you and @mbrush have been doing

[2016-03-24 00:47] mellybelly commented on #1208
few comments:
maybe add HPO icon, could be built into HPO project button, or somewhere else
maybe change title of layperson synonyms announcement to something more exciting, Layperson synonyms are here! or somesuch.
I like the examples.
I'd put HPO at the top, especially with the imminent layperson release.

[2016-03-25 03:18] jmcmurry commented on #1208
@mellybelly now up on [beta.monarchinitiative.org](beta.monarchinitiative.org); I suggested making the header clickable too and replacing image with one that has a lighter border. Any other changes?

[2016-03-25 03:37] jmcmurry commented on #1208
https://mail.google.com/mail/u/0/#inbox/153aa9a5266e7ede

[2016-03-25 03:48] mellybelly commented on #1208
I think this looks great. there is a slight misalignment of the blocks in the right column with the other blocks on the left two columns but its not really a big deal.

[2016-03-25 06:04] drseb commented on #1208
will the link be updated?

[2016-03-25 16:23] nicolevasilevsky commented on #1178
Blog post is up: http://monarch-initiative.blogspot.com/

[2016-03-25 16:27] nicolevasilevsky commented on #1208
+1 I think this looks great. I just posted the blog post about the hpo synonyms, @drseb, I'm sure Julie will update the link. :)

[2016-03-25 22:33] DoctorBud commented on #1208
@mellybelly the misalignment of blocks between the left 2 columns and the right columns changes as you resize the window horizontally. The asymmetric layout is an artifact of the Twitter feed's limited width and the carousel; I hate it and would love to reorg the landing page, but was trying to focus on getting the HPO news out.

I'm updating the link to use the one provided by @nicolevasilevsky a

[2016-03-25 23:49] DoctorBud commented on #1208
Latest looks like this... Waiting on feedback before making a PR of it...

<img width="439" alt="untitled" src="https://cloud.githubusercontent.com/assets/2450553/14056459/76c36168-f2a9-11e5-9783-9bebebfa4695.png">

[2016-03-26 00:36] cmungall opened #1213 "Landing pages should provide an overview of the various different types of content"
For any given gene, variation, phenotype or disease page we have a ton of useful information, but this is split across tabs. Even clicking on the tabs is not always informative. Each on a gene page the phenotype tab provides tabular data with lots of metadata about each association. This is useful, but should be one level down. The user should immediately see: oh this gene is involved in polydacty

[2016-03-26 08:44] pnrobinson commented on #1208
Looks great!!
Small thing: Not sure about the lay synonym for craniosynonstosis, should it not be skull deformity due to premature suture closure?

[2016-03-28 17:55] jmcmurry commented on #1208
I wasn't sure whether suture was lay-friendly enough. Can you think of a better word?

[2016-03-28 22:21] jmcmurry commented on #1133
Closing this but merging these comments with Chris' recent ticket. https://github.com/monarch-initiative/monarch-app/issues/1213

[2016-03-28 22:21] #1133 closed

[2016-03-28 22:22] jmcmurry commented on #1213
Relevant bits from #1133:

Related ticket for variants and genotypes: #755

We want to add more content to our overview tabs and have this be the default/landing tab on all pages.

Some ideas:
download buttons to id specific datasets (#1022)
graphs/visualizations such as an ontology browser, charts, etc.
Phenogrid icon/short explanation that links to compare tab

[2016-03-28 22:29] jmcmurry opened #1214 "Most recent blogpost(s) not showing up in news feed on homepage"
https://monarchinitiative.org/

<img width="439" alt="screen shot 2016-03-28 at 3 28 40 pm" src="https://cloud.githubusercontent.com/assets/3658863/14092148/cf36575e-f4f9-11e5-829d-1f404eeb4725.png">

@DoctorBud Any idea why this is happening?

[2016-03-29 06:57] pnrobinson commented on #1208
Nicole V's suggestion of  'Deformity due to premature fusing of skull bones’ seems good!

[2016-03-29 17:20] nicolevasilevsky commented on #1208
@DoctorBud I think this looks good! I like the label 'plain language' (to whoever came up with that).

[2016-03-29 17:21] mellybelly commented on #1208
+1

[2016-03-30 21:29] sdumitriu opened #1216 "Annotation profile scoring service doesn't work when connecting from Java 7"
Since the scoring service at https://monarchinitiative.org/score now requires https, clients running on Java7 (or Java6) can't connect anymore since the https configuration doesn't use any of the ciphers supported by Java7. Consider enabling TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA as well.

More details: https://www.ssllabs.com/ssltest/analyze.html?d=monarchinitiative.org

[2016-03-30 22:17] sdumitriu commented on #1216
Even with Java8, Let's Encrypt certificates aren't trusted: https://community.letsencrypt.org/t/which-browsers-and-operating-systems-support-lets-encrypt/4394

[2016-03-30 22:33] jnguyenx commented on #1216
I've added the configuration for Java7, can you try again?

[2016-03-30 23:22] nicolevasilevsky commented on #1178
I added the blog post, but it is not showing up on the monarch homepage: https://monarchinitiative.org/

![image](https://cloud.githubusercontent.com/assets/6722114/14160772/8c9827a6-f693-11e5-9af5-b1f399bfeff9.png)

[2016-03-31 01:20] DoctorBud commented on #1208
Here's the latest look for the cameo section, incorporating the new blog post link and Julie's new image:

<img width="454" alt="hpocameopic" src="https://cloud.githubusercontent.com/assets/2450553/14162800/2333f3d8-f6a4-11e5-9ba1-8ab7bbbbe410.png">

[2016-03-31 01:23] DoctorBud commented on #1208
Links go to either [HPO](http://human-phenotype-ontology.github.io/) or the [March 25 blog post](http://monarch-initiative.blogspot.com/2016/03/finally-medical-terminology-that.html)

[2016-03-31 01:31] harryhoch commented on #1208
Is there any room for changing the text? The synonyms aren't any more machine comprehensible than the original terms, are they? If the "plain language" is intended  to be comprehensible by people without biomedical training, just say "..includes synonyms explaining medical terms in non-technical language."

[2016-03-31 11:44] DoctorBud commented on #1208
Changing the text currently requires Julie generate a new graphic with text in it. If we have another iteration where we want new words, I suggest biting the bullet and building the HPO Cameo table via HTML/CSS instead of Photoshop. That would simplify future changes to the text.

Meanwhile, I'm going to proceed with my PR https://github.com/request/request/pull/2137, although I'm currently encoun

[2016-03-31 11:54] harryhoch commented on #1208
ouch. yes, please to HTML/CSS instead of Photoshop. Embedding text in an image like that is ugly in many ways.

[2016-03-31 21:26] sdumitriu commented on #1216
Now it works, thanks.

Well, connecting to the host works, but now the whole monarchinitiative.org site appears to be down (502 Bad Gateway).

[2016-03-31 21:34] jnguyenx commented on #1216
Yeah we're upgrading the app, should be back shortly, thanks!

On Thu, Mar 31, 2016 at 2:26 PM, Sergiu Dumitriu <notifications@github.com>
wrote:

[2016-03-31 21:49] sdumitriu opened #1219 "Annotation profile scoring service not working, HTTP 500"
https://monarchinitiative.org/score gives 500 Internal server error.

[2016-03-31 21:54] sdumitriu commented on #1219
Back up, that was quick.

[2016-03-31 21:55] kshefchek commented on #1219
Switching node versions, sorry for the downtime!

[2016-03-31 21:55] #1219 closed

[2016-04-01 00:05] #1216 closed

[2016-04-07 22:38] kshefchek opened #1221 "Fix variant type in phenopacket"
As a first pass I chose to operate on the golr type closure to grab variant "type."  However, this means we also include parent classes which is unnecessary and confusing.  This should be updated pulling type information of all entities from scigraph.

[2016-04-09 02:17] balhoff opened #1224 "'homo sapiens' should be capitalized"
On many pages (e.g. https://beta.monarchinitiative.org/disease/DOID:863), the human label 'homo sapiens' appears. This should be capitalized as 'Homo sapiens'. I'm reporting this here because I'm not sure where this is specified.

[2016-04-11 16:49] harryhoch opened #1225 "bad cert?"
www.monarchinitiative.org throws a cert that firefox and chrome complain about as not being configured properly.

[2016-04-11 17:46] DoctorBud commented on #1225
Lose the `www.`, that's the problem. In general, the `www.` prefix is deprecated.

However, many users will expect www to work, so we need to support it.

Looking at:
   http://serverfault.com/questions/358616/nginx-https-www-redirect-to-non-www?rq=1

Our options are to add `www.` to our certificate, which might be a hassle, depending on how LetsEncrypt works. I think this is the correct way.

Eas

[2016-04-11 18:15] harryhoch commented on #1225
yes. they should be equivalent urls.

[2016-04-11 18:29] harryhoch opened #1226 "replace descriptive pages with wiki links?"
Pages under the about and documentation menus contain descriptive text that is hard to update and is out of date. These pages might be replaced with links into the github wiki -https://github.com/monarch-initiative/monarch-app/wiki - to be more easily updated and managed.

[2016-04-11 18:30] harryhoch opened #1227 "revise about page"
The about page contains out-of-date information about the role of NIF tools in Monarch. Revise to be consistent with current tools.  See also https://github.com/monarch-initiative/monarch-app/issues/1226.

[2016-04-11 18:31] harryhoch opened #1228 "Revise software page"
The software page should be updated to include up-to-date information and architecture diagrams..  See also https://github.com/monarch-initiative/monarch-app/issues/1226

[2016-04-11 18:32] harryhoch opened #1229 "reivse api docs"
restful api docs page should be udpated to be current. Consider removing the javascript api docs.  See also #1226

[2016-04-11 20:59] TomConlin commented on #1225
#1209

[2016-04-11 21:01] harryhoch commented on #1225
thanks, @TomConlin, I should have caught that. @DoctorBud, I think people will be typing www... should be fixed.

[2016-04-11 21:01] #1225 closed

[2016-04-12 13:01] yuanzhou opened #1230 "Data error during testing Fly and Worm data against beta"
I did some testing against the beta server and here is what I found out:

When I was sending the ajax POST calls to https://beta.monarchinitiative.org/simsearch/phenotype for Human, Mouse, and Fish, everything was fine. But when I tried the fly and worm taxon, I got error. For example, if you use one of the following POST body:

[code]

[code]

You will get the following error page returned instea

[2016-04-13 03:50] jmcmurry opened #1232 "Some inferred phenotypes look weird (Flies with writer's cramp)"
The phenotype profile for [an HSP fly gene](https://monarchinitiative.org/gene/NCBIGene:32133#phenotypes) has an inferred association with "writer's cramp"; however, the lack of any transparent basis for the inference makes statements like these look especially weird.

Moreover, the only human homolog listed for the gene is heat shock 70kDa protein 5 (glucose-regulated protein, 78kDa); however, [t

[2016-04-13 15:08] kshefchek commented on #1232
Figuring out where the gene is being linked to parkinson's disease would be a good starting point, and why this genotype is not linked to the disease with "is model of/RO:0003301" as this would prevent the phenotypes from being shown here.  We don't (intentionally) infer phenotypes through homology.

[2016-04-13 15:10] #1230 closed

[2016-04-13 17:18] TomConlin commented on #1232
Neither ```NCBIGene:32133```  nor  ```HP:0002356``` exist directly in the triples produced by my run of the dipper script last night.

Jenkins says the last successful flybase ingest was Feb 9, 2016

The triples in http://data.monarchinitiative.org/ttl/
are dated:
[code]

[2016-04-13 17:46] cmungall commented on #1232
Unfortunately you can't easily debug by looking at the source-specific ttl files in isolation, the value we bring is in merging multiple sources of assertions. But this means we have to pay special attention to the provenance.

In this case you can see the equivalence axioms for the gene:

https://scigraph-data.monarchinitiative.org/scigraph/graph/neighbors/NCBIGene:32133?depth=1&blankNodes=false&

[2016-04-13 17:59] balhoff commented on #988
I just found this issue, I think it might include #1224 which I recently submitted. I think all the scientific names look quite weird in their current capitalization. The BBOP taxonomy slim doesn't have these capitalizations, so is Monarch app transforming them? For example 'homo sapiens' should be 'Homo sapiens', 'Fugu Rubripes' should be 'Fugu rubripes' (buy why is human lowercased?)

And chimp

[2016-04-13 18:00] cmungall commented on #1232
Here is the inferred edge in golr:

https://solr-dev.monarchinitiative.org/solr/golr/select/?q=subject_closure:%22NCBIGene:32133%22%20AND%20object_closure:%22HP:0002356%22&wt=json

we can work backwards from here to the asserted edges in scigraph-data

[2016-04-13 18:07] cmungall commented on #1232
here is what the evidence graph json looks like:

[code]

[2016-04-13 18:17] cmungall commented on #1232
See https://github.com/monarch-initiative/configs/issues/18 for the plan to have better provenance in the evidence graph, which is good to do in general, not just our own data debugging.

[2016-04-13 18:33] jmcmurry opened #1233 "Analyze Phenotypes Table View: Delimit Phenotypes with something other than '.'"
See for instance analyze phenotypes table view [here](https://monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0002322+HP%3A0002067+HP%3A0000726+HP%3A0000739&mode=search&target_species=all&limit=100).

I'm not sure why period was the delimiter of choice, but I think semicolon (or even pipe) would be better as periods look a little accidental. Commas definitely not ok of course as many ph

[2016-04-13 18:34] cmungall commented on #988
minor terminological point - there is no such thing as a bbop taxonomy slim, the purl is http://purl.obolibrary.org/obo/ncbitaxon/subsets/taxslim.owl (it just so happens that this is being served off the central OBO filestore, which just happens to be hosted at berkeley).

taxslim is just a subset of NCBITaxon, there should no transformations. Both taxslim and NCBITaxon should be using the correct

[2016-04-13 18:41] balhoff commented on #988
@cmungall thanks, I got that from a previous comment and didn't really think about what that file was.

It is odd that the labels being displayed seem biased toward synonyms rather than labels. In addition to Bos and Pan, 'Canis domesticus' I think should always be 'Canis familiaris'.

[2016-04-13 18:45] cmungall commented on #1224
SciGraph-ontology is correct:

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/NCBITaxon:9606?depth=0

The source of this is monarch.owl, so all is good with monarch.owl

The problem arises in scigraph-data, which is a larger graph encompassing all data ttl files:

https://scigraph-data.monarchinitiative.org/scigraph/graph/neighbors/NCBITaxon:9606?depth=0

Which means we e

[2016-04-13 18:54] cmungall commented on #1224
Note we have essentially the same issue dotted around the trackers:

https://github.com/monarch-initiative/dipper/issues/282

We should fix this upstream but also be defensive, e.g.

 - [ ] take care in dipper to exclude inclusion of derived assertions that are redundant with a source we already bring in
 - [ ] have better checks to ensure we are doing this
 - [ ] have more sophisticated configura

[2016-04-13 19:36] TomConlin commented on #1232
[code]
![ncbigene_32133](https://cloud.githubusercontent.com/assets/1911895/14506585/67436a16-0173-11e6-97fa-1cd6caad615d.png)

[2016-04-13 20:28] jmcmurry opened #1234 "Analyze Phenotypes Table: Content and sorting"
In Analyze Phenotypes Table, I'm not sure why the column headers have arrows given that sorting appears not to be enabled? (at least on firefox or chrome in mac osx).

Also, it might be good for the report to include evidence type and source (for the comparator g2p association as well as for the 'focal' g2p association.

<img width="1304" alt="screen shot 2016-04-13 at 11 37 05 am" src="https://cl

[2016-04-13 20:33] cmungall commented on #1232
nice chaining together of apps there; but we're looking at the wrong graph. The source assertions may be >1 hop away. The evidence graph is what you should be looking at:

![e](https://cloud.githubusercontent.com/assets/50745/14508322/c2c5ea3c-017b-11e6-9cbd-29f74c5a30da.png)

so we can see that the fly gene Hsc70-3 has a variant which is [a marker for](http://purl.obolibrary.org/obo/RO_0002607) P

[2016-04-13 20:50] kshefchek commented on #1232
In regards to the original issue, should we infer phenotypes 1..n of disease x when gene y is a marker/mechanism of disease x?  This seems incorrect.  I would rather have us link the genes to an anonymous fly model, or through an anonymous variant in an anonymous model and use the "is model of" relation.  But I'm not sure if this can be done for all CTD data where a gene from a model organism is a

[2016-04-13 21:10] cmungall commented on #1232
Need to look in more detail at CTD, but I think your analysis is correct @kshefchek

[2016-04-13 21:16] cmungall commented on #705
is this the ticket for evidence graphs (continuing from #1232)?

it would be good if we could capture the original cypher query used in the meta field (see also https://github.com/monarch-initiative/configs/issues/18).

[2016-04-14 01:31] balhoff commented on #988
I guess this is the problem:
https://github.com/monarch-initiative/monarch-app/blob/master/lib/monarch/api.js#L6116

If there are any synonyms it takes the first synonym in place of the label. But it doesn't look like there is a way to distinguish common names from taxonomic synonyms/misspellings. These are marked by annotations on annotations in the OWL. Do these not have a place in Scigraph? It

[2016-04-14 02:25] cmungall commented on #988
We don't have axiom annotations for literals in SciGraph

The convolutedness is as a result of the mapping to OBO:
http://owlcollab.github.io/oboformat/doc/obo-syntax.html#5.6

We can always define a mapping back to different properties when going into neo4j.

[2016-04-14 03:52] jardrake commented on #1209
I just navigated to your site from your google summer code link (https://summerofcode.withgoogle.com/organizations/6322866404458496/). As @TomConlin mentioned above, this is because your cert is issued for https://monarchinitiative.org/ not https://www.monarchinitiative.org/. Found an article that might help you all (http://www.jasonsamuel.com/2011/03/07/how-to-properly-use-ssl-redirects-without-g

[2016-04-14 08:24] mellybelly opened #1235 "Add LAMHDI citation"
We should add citation to the prior work done by the original LAMHDI implementation:
http://www.jimmunol.org/cgi/content/meeting_abstract/184/1_MeetingAbstracts/144.12

Probably something in the About page, describing the history of the consortium/platform?

[2016-04-19 21:11] TomConlin opened #1236 "software page updates"
Reading
[https://monarchinitiative.org/page/software](https://monarchinitiative.org/page/software)
does not help me understand the current situation.

[2016-04-19 21:44] harryhoch commented on #1236
already noted... https://github.com/monarch-initiative/monarch-app/issues/1228

[2016-04-19 21:44] #1236 closed

[2016-04-20 13:13] mellybelly opened #1237 "missing homologs"
on this page:
https://monarchinitiative.org/gene/NCBIGene%3A494115
autocomplete shows additional species RBMXL1 but these are not on the homolog tab
@TomConlin @kshefchek @cmungall

same on beta.

[2016-04-20 16:52] cmungall commented on #1237
Tom, do you know how to go about debugging this?

First look at panther.ttl, we expect to find the HGNC ID in there. If
it's not, further investigate and report upstream to panther

On 20 Apr 2016, at 6:13, Melissa Haendel wrote:

[2016-04-20 18:45] TomConlin commented on #1237
panther dipper is producing HGNC identifiers in its output
but HGNC:25073  was not produced in the run I have on hand from ~6 weeks ago.
the identifier does not exist in either of the raw input files we have

grep HGNC:25073  RefGenomeOrthologs
grep HGNC:25073  Orthologs_HCOP

will be in meetings for the next while

[2016-04-21 15:29] harryhoch opened #1238 "analyze phenotypes leads to ajax error"
https://monarchinitiative.org/analyze/phenotypes/?input_items=HP%3A0002067+HP%3A0001363+HP%3A0001159+HP%3A0030217+HP%3A0000678+HP%3A0001627+HP%3A0012594+MP%3A0000248&mode=search&target_species=all&limit=100

returns an ajax error  - see figure below.

Performance is generally not great - it looks like it's timing out. Sometimes, but not always, better on the second try.
@cmungall , @yuanzhou, is t

[2016-04-21 17:11] cmungall commented on #1238
To test the underlying owlsim call, this is what gets called:

https://monarchinitiative.org/owlsim/searchByAttributeSet?a=HP%3A0002067&a=HP%3A0001363&a=HP%3A0001159&a=HP%3A0030217&a=HP%3A0000678&a=HP%3A0001627&a=HP%3A0012594&a=MP%3A0000248&limit=100

For me returns in < 0.2s

[2016-04-21 17:18] harryhoch commented on #1238
yes. returns quickly for me as well. @yuanzhou , any idea what's up?

[2016-04-21 17:20] cmungall commented on #1238
could be other API calls that are wrapped

[2016-04-21 17:26] harryhoch commented on #1238
@cmungall, most likely. @yuanzhou, please dig into this.

[2016-04-21 18:12] jnguyenx opened #1239 "Errors reported by GrayLog"
This is a dump of the reported log errors. I don't think that they're all relevant, some should be silent.

[code]

[code]

[code]

[code]

[2016-04-22 14:13] yuanzhou commented on #1238
@harryhoch I just tested and didn't see any error message, it seems the owlsim was not responding very well yesterday.

[2016-04-22 14:56] harryhoch commented on #1238
@yuanzhou, perhaps, but that wouldn't explain why it ran quickly on the direct call, but slowly later...

[2016-04-22 20:49] jmcmurry opened #1240 "Discrepancy between UI and Uberpheno for term label ZP:0000306"
@kshefchek @TomConlin could you please investigate this?

In [the monarch UI](https://monarchinitiative.org/phenotype/ZP:0000306), we display the term label of ````ZP:0000306```` as ````Abnormal(ly) dead whole organism````

[UPheno](http://www.berkeleybop.org/ontologies/upheno.obo) documents it as ````increased occurrence of programmed cell death````

These are loosely related terms, but surely no

[2016-04-22 22:10] TomConlin commented on #1237
On the panther website the HGNC identifier for RBMXL1 does exists now.
http://www.pantherdb.org/genes/gene.do?acc=HUMAN|HGNC=25073|UniProtKB=Q96E39
as a sparse looking record.  Nothing on the page indicates when it was added.

Will try building a current set of panther triples.

[2016-04-22 23:18] kshefchek commented on #1240
The labels come from SciGraph, we just need to figure out where ZP classes are imported in http://purl.obolibrary.org/obo/upheno/monarch.owl

[2016-04-22 23:50] jmcmurry commented on #1237
This thread reminded me to document the inherent complexity in HGNC identifiers. Just want to make sure we are aware of it https://github.com/prefixcommons/operations/issues/19

[2016-04-23 00:35] TomConlin commented on #1237
Will note that after a failed search with an ideal identifier it is routine to repeat with  degenerate identifiers in an ad hoc fashion.

[2016-04-23 01:09] TomConlin commented on #1237
rerunning with currently available data does not change anything w.r.t HGNC:25073

[2016-04-23 08:30] drseb commented on #1240
this seems really old and outdated. probably created before we made the IDs stable.

I guess it is better to look at: http://compbio.charite.de/jenkins/job/zp-owl/

But I is still a mystery how ZP is imported to monarch. Related to https://github.com/monarch-initiative/dipper/issues/283

[2016-04-26 11:03] kshefchek commented on #1240
Sounds like we're comparing against an older version of upheno, so I'm assuming this is a non issue? Please re open if I'm wrong.

[2016-04-26 11:03] #1240 closed

[2016-04-26 23:41] cmungall opened #1242 "HTML escaping issues for fly symbols"
Previous reported and closed in #26.

In this case we *don'* want to escape. This looks ugly:
https://beta.monarchinitiative.org/genotype/:_fbgenotypekey86496

In chado we had two text fields, one for the sgml version and one for plaintext. This was a bit ugly...

not sure if there is a deterministic way to decide whether to escape, perhaps needs to be heuristic?

[2016-04-27 00:19] jnguyenx commented on #1148
@kshefchek Something weird: if the committed cache files are deleted, some pages will fail to load, like /disease, /phenotype, etc...

Is that the expected behavior?

Delete the cache files:
https://github.com/monarch-initiative/monarch-app/pull/1241/commits/6f6ba8b7c6a8cfe4dd1a0a0e567f496139fe1fab

The failing travis build:
https://travis-ci.org/monarch-initiative/monarch-app/builds/125950389

[2016-04-27 00:31] cmungall commented on #866
It appears we have the desired behavior on beta

https://beta.monarchinitiative.org/owlsim/compareAttributeSets?a=MP:0001399&&b=HP:0004325&b=HP:0009887&b=MP:0005332&b=MP:0003131&b=HP:0003112&b=MP:0001488

[2016-04-27 23:59] cmungall opened #1243 "inferred phenotypes for fly on beta are too inclusive"
E.g. https://beta.monarchinitiative.org/gene/FlyBase:FBgn0040074

flies don't hallucinate....

[2016-04-28 00:01] #1243 closed

[2016-04-28 00:02] cmungall commented on #1243
Note: fix was in a private repo, so am showing diff in SciGraph/golr/queries/gene-phenotype.yaml here:

[code]

[2016-05-03 21:36] jmcmurry commented on #1232
Even if the inferences are wrong we should still be listing the source(s); is this hard to do?

[2016-05-03 21:39] jmcmurry commented on #1243
@cmungall  Can this associated ticket (Flies with writers cramp) be closed too then? https://github.com/monarch-initiative/monarch-app/issues/1232

[2016-05-03 21:55] kshefchek commented on #1232
yes, see beta: https://beta.monarchinitiative.org/gene/NCBIGene:32133#phenotypes

[2016-05-03 22:08] jmcmurry commented on #1232
awesome! has the PMID:PMID issue already been logged?

[2016-05-03 22:10] kshefchek commented on #1232
yes but not sure where we are in fixing the parser:
https://github.com/monarch-initiative/dipper/issues/267

[2016-05-05 23:47] cmungall commented on #1243
Let's not close yet, @jnguyenx is investigating one odd case, but we believe https://github.com/monarch-initiative/dipper/issues/303 is at fault

[2016-05-10 19:32] jmcmurry commented on #1008
There's an MGI mouse http://www.informatics.jax.org/allele/MGI:4939486
that has a mutation in Ptpn6 https://monarchinitiative.org/gene/MGI:96055
This mouse is directly reachable in Monarch if we use the ID: https://monarchinitiative.org/model/MGI:4939486
However, if we are searching via the gene by its symbol, we can not get there because:
#### 1. The _Mus musculus_ is not on the autocomplete shor

[2016-05-10 19:35] jmcmurry commented on #1008
ps, interdigitation of "Ptpn6 gene" with "Ptpn6 [species]" is confusing, but based on the search results page missing the taxon, I'm guessing this just reflected in the autocomplete results (so default to the class)? @kshefchek

[2016-05-10 19:43] kshefchek commented on #1008
I have to defer to @cborromeo on any autocomplete/search developments.

[2016-05-10 21:17] jmcmurry opened #1244 "Make the gene family results easier to find and understand"
We have introduced gene families, (yay!) but we haven't yet made UI improvements that would make it clear that these are in fact families and not species-specific instances.

- [ ] Render autocomplete types as 'gene family' rather than 'gene'
- [ ] Make the gene family pages more clearly labeled as such (eg in the way that we do for disease groups)
- [ ] Remove species-specific gene identifiers eg

[2016-05-10 21:18] jmcmurry commented on #1008
@kshefchek Thanks for clarifying. re: uber gene families, it is a little confusing. Going to the result labeled 'gene' gets me to a page for which it is not obvious that it refers to a gene family. Perhaps we could make this clearer? Broke out a ticket to this effect. https://github.com/monarch-initiative/monarch-app/issues/1244

[2016-05-10 21:32] kshefchek commented on #1008
I'm in agreement we should implement this, but this hasn't been implemented.  Right now if taxon information is not available in scigraph, we default back to the category, so in this case, we're missing the mouse taxon information for this gene.

[2016-05-10 22:35] jmcmurry commented on #1008
Ah, I see now that I misunderstood you; gene family pages don't play a role in the weirdness we're currently seeing for Ptpn6.  The equivalent (MOD-specific) genes are the ones with the right taxonomy, however, we're not inferring back to the NCBI gene equivalents (which I guess are the clique leaders and therefore) the ones we are pinging for autocomplete results?

[2016-05-10 23:21] kshefchek commented on #1008
The cliqueLeader nodes will have all edges from equivalent nodes moved to them, so I imagine this is missing in the data.  I can try to track it down.

[2016-05-12 23:14] nicolevasilevsky opened #1245 "searching on string returns an error: 15q13.3 homozygous microdeletion syndrome"
Searching on this string in monarch returns an error:
15q13.3 homozygous microdeletion syndrome

{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}

Using OSX Chrome

[2016-05-12 23:43] nicolevasilevsky opened #1246 "Genes appearing in disease column"
On this page: https://monarchinitiative.org/disease/DOID:11984

genes are appearing in the disease column.

[2016-05-12 23:46] nicolevasilevsky opened #1247 "duplicates on phenotype page"
On this page, there are two duplicates: https://monarchinitiative.org/disease/DOID:11984
Disease: Glycogen Storage Disease 2
has phenotype:	Abnormal EKG

![image](https://cloud.githubusercontent.com/assets/6722114/15233862/d57ec3e6-1860-11e6-84b0-fc803b8a7180.png)

[2016-05-17 23:43] TomConlin opened #1249 "Skolemize the blank-node IRI"
Request the path

https://monarchinitiative.org/.well-known/genid/*

lead to either:
a static page about blank node identifiers in general which says something like:
the supplied identifier is for a "RDF blank node" which has no existence
beyond an organizing convenience within the dataset it is found.
or:
a dynamic page that also includes any additional properties for the blank node
we have (such

[2016-05-19 15:36] yuanzhou opened #1250 "Analyze Phenotype: workflow redesign"
Based on @harryhoch's mockups, I started the redesign. The first thing I did was to clean up the page and related code. I also rephrased the section titles as you can see from the second image. In section of step 2, instead of organizing the search and compare side by side, I made them vertically aligned, so the UI looks cleaner. I've also removed the reset button since it doesn't work well. And m

[2016-05-19 20:35] cmungall opened #1251 "Gene-disease lists are sometimes perplexing in multiple ways"
E.g. https://monarchinitiative.org/gene/NCBIGene%3A2263, diseases tab

This is confusing for anyone coming to the system and confusing to me too.

First of all, the reference is the same for all associations ("Crystal structure of fibroblast growth factor receptor ectodomain bound to ligand and heparin"). This is surely irrelevant.

The relationship for all of them is "inferred", with no explanati

[2016-05-19 20:49] kshefchek commented on #1251
I think part of this is a bug where genes that interact with themselves (from biogrid) show up in the evidence graph.  This was once fixed but is back, cc @jnguyenx

[2016-05-19 21:41] cmungall opened #1253 "paste in a gene list, map to orthologs, return all data"
The UI may be fiddly, but we should at least allow people to do things like this via the command line. It shouldn't be hard using e.g. scigraph-python

[2016-05-20 01:11] cmungall commented on #1251
I don't think an anon node hack is a good idea here. It would be better to have something based on the edge metadata. The anon node to disease edge should be marked as being trivial somehow?

Let's look at what's happening. The source is giving as an association `X R Y`. We are remodeling this as `X R1 z1 R2 z2 ... Rn Y`. But we end up wanting to show the inference to the user as `X R Y` anyway, s

[2016-05-20 04:56] mellybelly opened #1254 "Provide additional guidance for user when a disease has no data"
see https://monarchinitiative.org/disease/Orphanet%3A93564

seems odd to me that a disease leaf node would have no data, @cmungall @drseb

[2016-05-20 14:02] mellybelly commented on #1235
@DoctorBud or @jmcmurry can you make sure this happens before our next release?
I can help with the About page.

[2016-05-23 14:15] kshefchek commented on #1251
I would like to remove direct/inferred from the relationship column, or at least add some documentation of what this means.  This value comes from the qualifier property in solr and moves to the relation column in cases where this is empty (as an attempt to contextualize rows with no relation), but causes confusion.

As far as the overmodeling, you can see the various ways we link genes to disease

[2016-05-24 06:08] jmcmurry opened #1256 "Prefix maps needed in JSON serializations"
These JSON serializations need prefix maps embedded for the XREFS. I don't know where the appropriate repo is for the ticket.

https://monarchinitiative.org/disease/DOID:403.json

[2016-05-24 13:34] cmungall opened #1257 "Information on orthologs should be more visible on gene pages"
This ticket replaces #351 (which I will close as it is specified around the old nif API)

this is something the original lamhdi supported that we don't do too well. we need to fan out first over orthologous-to and then has-phenotype. this could be visualized as a tree or a table, or a faceted view, not really important we just need to do it.

we could in theory do this entirely via scigraph as it'

[2016-05-24 13:34] cmungall commented on #351
replaced by #1257

[2016-05-24 13:34] #351 closed

[2016-05-24 13:43] balhoff commented on #1257
May not be relevant but you have ever tried the joins in Solr 4? https://wiki.apache.org/solr/Join

I used to use them for Phenoscape and they worked well.

[2016-05-24 13:44] mellybelly commented on #1257
@jmcmurry @DoctorBud can you cook up display options, I like the idea of tree or faceting preferable to table

[2016-05-24 13:47] mellybelly commented on #1257
See also on the Amigo tacker: Display options showing all direct annotations to any member of ortholog set https://github.com/geneontology/amigo/issues/355
similar functionality needed for Monarch

[2016-05-24 14:03] cmungall commented on #1257
Good to know. cc @kltm

On 24 May 2016, at 9:43, Jim Balhoff wrote:

[2016-05-25 16:07] yuanzhou commented on #1250
Made some wording changes:

![1](https://cloud.githubusercontent.com/assets/195873/15547268/13433b98-2271-11e6-9210-42e85d1c995e.PNG)

And added the selected inputs on the result page:

![2](https://cloud.githubusercontent.com/assets/195873/15547269/15b7206a-2271-11e6-93c4-eae79a75b76b.PNG)

[2016-05-25 16:44] harryhoch commented on #1250
fine. Are you going to make the selected phenotypes removable?

[2016-05-25 18:37] yuanzhou commented on #1250
@harryhoch I'm going to play with that. Every time we remove one phenotype, the whole page will need to be reloaded to refresh Phenogrid, which also means we'll have to wait for the owlsim querying. Not sure if there's a more efficient way of doing this.

[2016-05-25 18:58] harryhoch commented on #1250
@yuanzhou, not necessarily. Perhaps include a "refresh" button which would only be enabled once someone changes the phenotypes. No update of phenogrid until that button is pressed...

[2016-05-27 19:46] jmcmurry opened #1258 "Remove limit for number of search results in /search/"
I would like to pull this out as a separate ticket as it is extremely important.
It happened again to me yesterday looking for TGF-beta human.

The limitation on autocomplete AND on search results means that for many of the genes that have multiple species there is literally no way to get them right now unless you go to NCBI gene and get the ID.

https://github.com/monarch-initiative/monarch-app/i

[2016-05-31 23:41] mellybelly commented on #1258
I searched for "shh" and could not find the mouse entry. This is a big problem!

[2016-06-01 00:11] kshefchek opened #1259 "Mouse genes don't have taxon in autocomplete and search"
This is a bug from autocomplete and search running from the ontology scigraph, and the taxon completion calling the data scigraph.  It only affects mouse genes because MGI overrides NCBIGene as the cliqueleader in the data scigraph, and therefore taxon information is hanging off the MGI nodes rather than NCBIGene, which are always clique leaders in the ontology scigraph because we only load ncbige

[2016-06-01 00:11] kshefchek commented on #1258
@mellybelly regarding ssh see https://github.com/monarch-initiative/monarch-app/issues/1259, will also increase search limit.

[2016-06-02 09:12] julesjacobsen commented on #1258
@mellybelly I had the same issue with PLOD3. There were missing taxon names for Drosophilla and no mouse. Is this a wider issue? I wanted the mouse gene but wasn't able to find it.

Similarly searching for 'h3' (meaning histone H3) I was overwhelmed with human results. Would it not be better to return a 'generic' gene page using the human symbol as the identifier and then list all the orthologs th

[2016-06-02 11:04] jmcmurry commented on #1258
Agreed @julesjacobsen, it is my strong intuition that rolling up the genes to the human one would be less confusing/frustrating for the user--Both because it avoids the "can't find it" problem and because the human gene is likely to have lots of orthologs and annotations as compared to species specific genes, many of which are entirely dead ends.

I've advocated and even mocked this up on #1008; h

[2016-06-02 12:21] harryhoch commented on #1258
There's a definite tradeoff here. "Broader" menu structures that provide lots of choices and allow users to get to final destinations with fewer clicks are generally preferred. This would argue for having the species listed.

The other issue in a "human" page being the default is that we'd have to make the disambiguation clear - how would users get to genes for other organisms?

Another considerat

[2016-06-02 17:29] kshefchek opened #1262 "Add cypher endpoint in monarch app with UI"
Now that we have a [cypher service in scigraph](https://scigraph-data-dev.monarchinitiative.org/scigraph/docs/#!/cypher/execute), we should add a service in monarch that proxies this, and make a small UI with monarch specific examples (gene-phenotype, ortholog-phenotype).

Depends on pushing the dev scigraph to production.

[2016-06-02 17:30] kshefchek commented on #1258
also see https://github.com/monarch-initiative/monarch-app/pull/1260

[2016-06-02 22:24] #1259 closed

[2016-06-02 23:36] kshefchek opened #1263 "Disambiguate counts on data tabs/tables"
Any given data table has three types of counts
1. Distinct associations between X (and closures) and Y
2. Distinct Y
3. Distinct classes in closure

For example, on a phenotype page: Abnormality of the central nervous system, on the gene table we have:
1. Distinct associations: 51423
2. Distinct genes: 7537
3. Distinct phenotypes in closure: not shown

Right now 2 appears in the tab, and 1 appears

[2016-06-02 23:54] kshefchek commented on #1253
Also see https://github.com/monarch-initiative/monarch-analysis/blob/master/exac/ortholog-phenotype-stats.py

[2016-06-02 23:58] kshefchek commented on #754
cc @cindyJax @sbello

[2016-06-03 00:20] kshefchek opened #1264 "Annotator html markup links not clickable"
See [annotate text](https://monarchinitiative.org/annotate/text?q=Lewis+%281978%29+found+7+affected+males+and+5+affected+females+in+3+consecutive+generations+of+a+Caucasian+kindred.+As+in+the+X-linked+Nettleship-Falls+form+of+ocular+albinism+%28300500%29%2C+the+patients+showed+reduced+visual+acuity%2C+photophobia%2C+nystagmus%2C+translucent+irides%2C+strabismus%2C+hypermetropic+refractive+errors%2

[2016-06-03 00:26] kshefchek commented on #1237
This data is not in panther, so not a bug on our side.

[2016-06-03 00:26] #1237 closed

[2016-06-03 00:30] kshefchek commented on #1065
This is fixed.

[2016-06-03 00:30] #1065 closed

[2016-06-03 14:23] mellybelly opened #1265 "Add reporting functions to web-app"
different types of users would like different reporting structures across the data.

For a program officer, perhaps a graph showing accumulation of model organisms of X,Y,Z species that have asserted+orthology based models of disease.

For a clinician, show all model organisms that have phenotypic similarity to X disease or patient, and are associated with Y pathway.

For an individual researcher,

[2016-06-03 18:28] yuanzhou commented on #1250
@harryhoch One thing I realized is the selected phenotype IDs are in the URL, for example: http://localhost:8484/analyze/phenotypes/?input_items=HP%3A0001937+HP%3A0012594+MP%3A0009235&mode=search&target_species=all&limit=100

There are 3 phenotypes, and when I make the phenotypes removable, we'll also need to update the URL to refresh the result, including Phenogrid.

[2016-06-03 19:48] kshefchek opened #1267 "Phenogrid broken on disease group pages"
For example:
https://monarchinitiative.org/disease/DOID:0060060
-> compare
TypeError: this.state.gridSkeletonData.xAxis is undefined

cc @yuanzhou

[2016-06-03 19:55] kshefchek commented on #1267
This is probably from our DRY violation, which I'm probably responsible for:
https://github.com/monarch-initiative/monarch-app/blob/master/js/phenogridloader-onclick.js
https://github.com/monarch-initiative/monarch-app/blob/master/js/phenogridloader-no-species.js

We should find a way to merge these.

[2016-06-03 20:09] yuanzhou commented on #1267
I think I can get this fixed very easily. I guess I forgot  to update https://github.com/monarch-initiative/monarch-app/blob/master/js/phenogridloader-onclick.js when I pushed all new changes.

[2016-06-03 20:11] harryhoch commented on #1250
would it help to remove the phenotypes from the URL and to go to a PUT instead of a GET? Might require some monkeying on the middleware, but shouldn't be too bad.

[2016-06-03 20:44] jmcmurry commented on #1250
My feeling is that both the original and modified versions of this interface plunge the user in a bit too fast into 'advanced' mode. I would love to see less emphasis on the homologs/species and more on dynamic results and faceting as previously discussed.

![analyzephenotypes_redesign_general_2016-06-03-01](https://cloud.githubusercontent.com/assets/3658863/15792295/60a12388-29aa-11e6-962a-65327c

[2016-06-03 21:00] harryhoch commented on #1250
I don't disagree. Should we rethink efforts/priorities?

[2016-06-03 21:06] kshefchek commented on #1250
In response to https://github.com/monarch-initiative/monarch-app/issues/1250#issuecomment-223682134, I think it makes sense to have this page be completely client driven, the server just provides the table view, and that can easily be moved to the browser - and probably needs some work anyway.

We shouldn't remove the URL params entirely, because this is still used from the annotate text page to s

[2016-06-03 21:11] yuanzhou commented on #1267
Fixed via https://github.com/monarch-initiative/monarch-app/commit/37adec48478526a46fbe0c89c53b11382ab283b1

[2016-06-03 21:18] harryhoch commented on #1250
@kshefchek , it can work both ways, right? we can enter the page with a get and then change content from there based on user interaction...

[2016-06-03 21:23] kshefchek commented on #1250
Yep, we're on the same page!

[2016-06-03 21:33] kshefchek commented on #1267
Thanks!

[2016-06-03 21:33] #1267 closed

[2016-06-03 23:41] kltm commented on #1208
@jmcmurry slightly tangential, but it might be good to generally avoid GNU FDL images texts, as they can easily cause various issues and incompatibilities--they are not considered to meet DFSG, and not even particularly compatible with other GNU licensing.

[2016-06-04 02:02] DoctorBud opened #1268 "IGNORE: Experiment with Bookmarklet Distribution via Issues"
Version 4 experiment, URLEncoded, Markdown-protected bookmarklet, distributed via GitHub Issues. Drag the following link to your bookmark bar:

[MonarchIt](javascript:var%20sel%3Ddocument.getSelection(%29%3B%0Avar%20xhr%20%3D%20new%20XMLHttpRequest(%29%3B%0Avar%20url%20%3D%20%27https%3A%2F%2Fmonarchinitiative.org%2Fsearch%2F%27%2Bsel%2B%27.json%27%3B%0Axhr.open(%27GET%27%2Curl%2Ctrue%29%3B%0Axhr.s

[2016-06-04 02:02] #1268 closed

[2016-06-04 04:00] jmcmurry commented on #1208
Ok I have since then done some hand drawn images we can use instead.
Thx

On Friday, June 3, 2016, kltm <notifications@github.com> wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1 805 455 5877 skype: mcmurry.julie git: jmcmurry
----------------------------------

[2016-06-05 21:27] mellybelly opened #1269 "no way to search for pmids"
pasting the pmid into the search box doesn't work, and gives an error if it is pasted like this: PMID:22860064. (This is in the system on this page: https://beta.monarchinitiative.org/phenotype/ZP:0014325)

<img width="1440" alt="error" src="https://cloud.githubusercontent.com/assets/796636/15808295/1d27ec92-2b29-11e6-8ba0-49863da01826.png">

Searching just the local id itself gives results, but n

[2016-06-05 21:37] kshefchek commented on #1269
Search runs off our ontology graph (no pubmed ids), defer to @cborromeo.

[2016-06-07 01:21] kshefchek commented on #863
Added with b23487c

[2016-06-07 02:38] #1269 closed

[2016-06-07 18:03] jmcmurry commented on #1263
Thanks for bringing this up again. In addition to formally documenting, I wonder if it is better to just disambiguate the number of distinct relationships, versus the number of distinct subjects and objects. For instance, like so:
<img width="747" alt="screen shot 2016-06-07 at 11 01 11 am" src="https://cloud.githubusercontent.com/assets/3658863/15869002/2c675a9a-2c9f-11e6-8185-95f71656e912.png">

[2016-06-07 18:16] cmungall opened #1270 "Gene counts on tab should be updated if facet filters are set"
Otherwise we end up with confusing situations like this:

<img width="1412" alt="screen shot 2016-06-07 at 11 15 19 am" src="https://cloud.githubusercontent.com/assets/50745/15869454/4fa5dd9a-2ca1-11e6-86a8-7eea7440e287.png">

[2016-06-07 18:37] jmcmurry opened #1271 "Anatomy pages"
We need to introduce anatomy pages for classes in UBERON.
Tabs would be:
- Expression (Tissue-specific data from BGee)
- Phenotypes (Where there is an associated anatomical part).

As usual we would use the logical definitions to subsume subclasses; however, there is some question in my mind about the type of relationships that are valuable to traverse. Eg. what does the "Overview" tab look like.

[2016-06-07 18:40] jmcmurry opened #1272 "Ingest expression data, display in tab on gene pages"
We need to bring in the simplest of the BGee expression data and render it on new expression tabs on gene pages.

Let's discuss what it would take to do this. @kshefchek

See also https://github.com/monarch-initiative/monarch-app/issues/923

[2016-06-07 19:09] jmcmurry commented on #770
Case is the right level of abstraction; one or more patients can be in a case. Case will be a special form of disease. We also need some place to put "demographic" data (what is the right term for that in animals?).

- [ ] Create the dipper script
- [ ] UI design
- [ ] Which cypher queries we need to index; we might need new ones
- [ ] Load new data in owlsim
- [ ] Language about IRB approval
- [

[2016-06-07 19:13] jmcmurry opened #1273 "Patient clustering algorithm and visualization"
Think about what algorithms and UI would be needed to explore how the UDP patients may be phenotypically and or demographically clustered.

[2016-06-07 19:21] mellybelly commented on #1273
@cmungall @drseb we need this for our UDP work, but could be the basis for a nice monarch UI feature as well.

Create a tool that can be used by researchers and clinicians that can operate on patient data (for example, data extracted from the UDPICS database). The tool will not be web based,  and is intended to be executed either within the researcher's desktop environment (assuming privacy requir

[2016-06-07 19:23] harryhoch commented on #1273
I've been giving some thought to potential visualizations. The key will be to integrate not just display of the clusters, but some representation of the metrics contributing to the similarity measurements...

[2016-06-07 19:32] cmungall commented on #1263
We should functionally distinguish between 'entities' and 'terms'. Even though these may both be modeled as ontology classes, there is an expected difference in behavior. Entities typically form a disjoint set without any primary classification axis. Terms form a subsumption lattice or similar. So it's meaningful to count entities (e.g. number of genes in the "abnormality of CNS" gene set). It's d

[2016-06-07 19:34] jmcmurry opened #1274 "Where gene summary not available, fetch available summaries from orthologs"
Model genes may not always have a prose summary available. It may be useful to fetch the summary for any available ortholog, with the explicit warning that the summary may not be exactly relevant for the gene in question.

Related to https://github.com/monarch-initiative/monarch-app/issues/863

[2016-06-07 19:49] cmungall commented on #1274
This is almost identical to #1257

And to the ticket @kshefchek and I were discussing yesterday, which I now cannot find...

[2016-06-07 20:02] kshefchek commented on #1274
@cmungall this ticket is for adding gene summaries from mygene.info of the human ortholog if the free text description is not available, thoughts?

[2016-06-07 21:23] cmungall commented on #1271
Depends on https://github.com/monarch-initiative/dipper/issues/147

As a first pass the anatomy page could have the generic ontology info/graph (note: we will need part-ofs in hierarchy), plus a single tab for gene. We may be able to spin separate tabs and populate via scigraph from some extensive metadata in the ontology, e.g. images, species.

The phenotype tab on the anatomy page will require m

[2016-06-07 21:30] cmungall commented on #1274
no, the ticket where you propose adding the ortholog closure

which will also subsume #380...

[2016-06-07 21:34] kshefchek commented on #1274
https://github.com/SciGraph/golr-loader/issues/16

[2016-06-07 21:43] jmcmurry commented on #1250
@yuanzhou what are all the contents of this dropdown menu currently?
<img width="186" alt="screen shot 2016-06-07 at 2 42 03 pm" src="https://cloud.githubusercontent.com/assets/3658863/15875674/171a0894-2cbe-11e6-8334-417c3b9033a8.png">

[2016-06-08 00:13] jmcmurry commented on #1250
It is my opinion that the two most crucial things to fix are:
1) Combine inputs / results on one (dynamic) page
2) Make genes, models, diseases discrete sets of results (each of these solves a different use case). Conflating them is more confusing than needs to be.

Both of these objectives are steps the path to the more comprehensive redesign originally proposed.

I've taken a stab at how we migh

[2016-06-08 02:28] harryhoch commented on #1250
Julie:
A few comments.

1. Goals one and two sound reasonable.

2. Are you suggesting populating the discrete models, genes, and diseases based on search terms? Seems reasonable to me, but I must defer to @cmungall , @yuanzhou , @cborromeo , and @kshefchek  for feasibility.

3. Not sure what you mean by "not having a refresh button for phenogrid." At the moment, I think we can't have an automatic

[2016-06-08 12:14] yuanzhou commented on #1250
@jmcmurry in my branch, the current drop down contains

- All
- Mus musculus (genes)
- Danio rerio (genes)
- Homo sapiens (diseases)
- Drosophila melanogaster (genes)

We disabled the "Caenorhabditis elegans (genes)"

[2016-06-08 12:23] yuanzhou commented on #1250
@harryhoch I agree with you regarding the automatic Phenogrid refresh. Sometimes simsearch calls take more than several seconds.

I'm not positive that I can get this done by July considering I'm also tied to several other projects. I'll try my best. And a clear design goal will definitely be very helpful to avoid miscommunication and guess work.

[2016-06-08 12:30] yuanzhou commented on #1250
@jmcmurry regarding your second point:

Are you suggesting to have a rendered Phenorgrid under the data table at each discrete section?

As @harryhoch mentioned, I'll probably need some input from @kshefchek

[2016-06-08 16:56] cmungall opened #1275 "remove evidence column until cypher queries fixed"
https://monarchinitiative.org/phenotype/MP%3A0000564

Look at genes, evidence views. What is Y2H doing there?

[2016-06-08 19:06] jmcmurry commented on #1250
Yes, that's my proposal but not all three phenogrids in one page at one time. Just one phenogrid, corresponding to whichever tab the user clicks (Genes, Diseases, Models).

[2016-06-08 19:24] jmcmurry commented on #1270
I agree this is confusing. I wonder though whether updating the tab could make it appear artificially sparse. Might it be preferable to document the denominator better?
Eg. Perhaps we could instead display "showing 1-1 selected from 10,457"?

[2016-06-08 19:28] jmcmurry commented on #1270
Related to https://github.com/monarch-initiative/monarch-app/issues/1263

[2016-06-08 19:34] jmcmurry commented on #1258
Going to close this ticket as the main reason for which it was opened is now fixed. Thanks so much, Kent! :)

[2016-06-08 19:34] #1258 closed

[2016-06-08 19:47] cmungall commented on #1250
We need to reduce this. I suspect the owlsim call itself is fast, but the app wrapper is doing other stuff

[2016-06-08 19:51] jmcmurry commented on #1250
@cmungall what is your preference? Should we:
A) Aim to improve response times before July OR
B) Focus on UI improvements and do a "refresh" button as a short-term fix

Without dynamic results, I'm not convinced there's much to be gained by having inputs/outputs on the same tab. Regardless of where we go with the interface, performance would need to be improved anyway.

[2016-06-08 19:55] cmungall commented on #1254
it has no data http://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=en&Expert=93564

I change the ticket title to be something about providing more guidance. E.g. asking if the user wants to go one level up.

But I don't see what else to do here. Is this really a GSA milestone?

[2016-06-08 19:57] jmcmurry commented on #1254
Not necessarily for GSA, but I was trying to identify little things that may need to be fixed that look wrong.

[2016-06-08 20:16] jmcmurry commented on #1254
In this particular case, the term Orphanet:93564 is deprecated. What do we want our policy to be in such cases?

[2016-06-08 20:39] cmungall opened #1276 "obsolete classes should be marked as such"
E.g. https://beta.monarchinitiative.org/phenotype/HP:0000489

the only indication this is deprecated is the label (which is not reliable measure)

use owl:deprecated and oio:consider, iao:replaced_by to provide more info for user

See for example:

https://scigraph-ontology.monarchinitiative.org/scigraph/graph/neighbors/HP:0000489?depth=0&blankNodes=false&direction=BOTH&project=%2A

for a consider

[2016-06-08 20:41] cmungall commented on #1254
Wait, how can you tell it's deprecated? I don't see anything on the source page.  http://www.orpha.net/consor/cgi-bin/OC_Exp.php?lng=en&Expert=93564

If it is deprecated, for orphanet it should come in that way via ordo and into mondo. But it doesn't appear to be deprecated

Treatment of deprecated classes should be uniform across all sources (which is not good, see #1276 )

[2016-06-08 20:44] jmcmurry commented on #1254
I got the obsoleted status from EBI OLS [here](http://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_93564)

[2016-06-08 20:44] cmungall commented on #1250
There is no model search in the current owlsim2 instance. Only human d2p and model organism g2p associations are loaded.

we need more data before making a final decision. Can we simulate the calls required in a typical session in a script and do some benchmarks using that?

[2016-06-08 20:49] harryhoch commented on #1250
@cmungall, I might be able to do something quick and dirty tonight. will see what I can come up with.

[2016-06-08 22:09] harryhoch commented on #1250
@cmungall, just did some rough checks. Saw response times to POSTS to https://monarchinitiative.org/simsearch/phenotype ranging from .001s to .925 sec. We'd like to see < 200ms for perception of instantaneous update.

[2016-06-08 22:31] jmcmurry commented on #1250
Related to https://github.com/monarch-initiative/monarch-app/issues/1238; please check and close if appropriate. Thanks

[2016-06-08 22:50] harryhoch commented on #1250
ok. tried further running against local monarch-app with no cache on results .  I'm seeing calls to https://monarchinitiative.org/owlsim/searchByAttributeSet going from .1 sec to 3.2 sec.
@cmungall, these are the calls that go straight to OWLSim, right?

[2016-06-08 22:50] harryhoch commented on #1238
I think this might have been an anomaly.

[2016-06-08 22:50] #1238 closed

[2016-06-08 23:53] jmcmurry commented on #354
This has been fixed for ages; closing

[2016-06-08 23:53] #354 closed

[2016-06-08 23:54] jmcmurry commented on #951
Just curious whether there is any update on this?  @jnguyenx and @cmungall

[2016-06-09 19:25] jmcmurry commented on #1250
So having spoken, we decided we would aim to
1) Put inputs, phenogrid, and table on one (visual) page
2) Provide a refresh button for phenogrid and table
Ultimately, it would be good to get away from this, but whatever we do, let's not do [as MBTA does](http://www.mbta.com/schedules_and_maps/rail/lines/?route=PROVSTOU): They not only require a click to update but they continue to display data braz

[2016-06-09 19:41] harryhoch commented on #1250
also, @jmcmurry suggests hiding the advanced options in a accordion style display so they aren't seen unless needed.

[2016-06-10 00:01] jmcmurry commented on #1251
Agreed it is tricky to authoritatively "bin" these; could the chain of evidence be transparent without our fussing over what to call it? Is there any way to do that in the short term?

[2016-06-10 06:37] TomConlin commented on #1251
How do we handle attribution here?
I see "Source" and two icons. Are they for the data providers of the ends of the inference chain?
"direct" would be attributed to _A_ data source,
"inferred" would be attributed to us, (or at least to a description of our process ala IEA)

[2016-06-10 17:54] jmcmurry commented on #1251
Even these designations aren't super clear. For instance, we have HPO annotations of OMIM and MP/HPO for OMIA. The actual evidence is from OMIM, OMIA, but the mapping of those free text entries into structured data is what we need to compute the data. Is there no way to just list the steps?

[2016-06-10 18:17] kshefchek commented on #1275
See https://beta.monarchinitiative.org/phenotype/MP%3A0000564

[2016-06-10 18:45] kshefchek opened #1277 "Clean up hover text for column headers"
Many of our column headers contain incomplete textual descriptions.

For example:
Evidence Type: has a question mark at the end
Three fields contain TBD notes - source, qualifier, and and assigned by, although only source is shown in our tables.

Note this adjusted by editing the YAML files here:
https://github.com/monarch-initiative/monarch-app/tree/master/conf/golr-views

[2016-06-10 20:04] jmcmurry commented on #1051
@kshefchek says we can close this

[2016-06-10 20:04] #1051 closed

[2016-06-11 00:58] cmungall commented on #1275
much better!

[2016-06-13 14:31] yuanzhou commented on #1250
Any strong opinion that we should keep the "Orthologs" and "Paralogs" buttons? I made progress with the one page design, I'm also trying to make the comparables section as short as possible. And since we are having that "discrete sets of result" idea in mind, it might be helpful to focus fewer input aspects as a new starting point.

[2016-06-13 15:53] kshefchek commented on #1250
It's an important use case, we need to either leave it in this widget or make the option available elsewhere.

[2016-06-13 16:04] jmcmurry commented on #1250
Agreed we need to keep them. Perhaps hiding within an "advanced" button
though?

[2016-06-13 18:27] harryhoch commented on #1250
+1

[2016-06-14 20:12] kshefchek opened #1280 "Add support to merge owlsim calls from multiple ID spaces"
Owlsim 2 does not have taxon support, so we set taxon limits by limiting ID space (OMIM, ZFIN, etc.)  However, we are currently losing results by only mapping to one ID:
https://github.com/monarch-initiative/monarch-app/blob/master/lib/monarch/api.js#L4015

TODO, for human diseases we need [OMIM, Orphanet, DOID, etc.], for ZFIN genes we need to add NCBIGene.  For wormbase, WB should be Wormbase.

[2016-06-14 20:18] cmungall commented on #1280
Wait, don't we use ZFIN as the clique leader for zebrafish genes?

We don't have any leaf annotations to DOID, only inferred

We should think more broadly about the Orphanet case, what we do about
OMIM overlap

But yes WB should be fixed before next release. Annoyingly WB is used as
prefix in GO

On 14 Jun 2016, at 13:12, Kent Shefchek wrote:

[2016-06-14 21:22] kshefchek commented on #1280
@cmungall see the latest data in https://github.com/monarch-initiative/monarch-owlsim-data/tree/master/data

        We don't have any leaf annotations to DOID, only inferred
I'll have to check these, perhaps we need to adjust the golr loader script?

        Wait, don't we use ZFIN as the clique leader for zebrafish genes?
Apparently not, see https://github.com/monarch-initiative/SciGraph-docker-

[2016-06-14 21:32] kshefchek commented on #1280
Looking at the two column file used to load owlsim, it looks like the DOID ids are for non leaf diseases, so we can continue to filter these out.  Let me know what we should do about Orphanet, also OMIA and MESH ids in there.

[2016-06-14 23:07] kshefchek commented on #1280
per @cmungall, we should try to regenerate the flat files with a preference for the correct ID spaces (for ZFIN).  Holding off on supporting Orphanet in the human disease/phenotype id space.

[2016-06-14 23:07] #1280 closed

[2016-06-14 23:08] jmcmurry commented on #1280
Because local IDs in WormBase collide across types, it is actually better if we uniquify the prefixes with the corresponding type. WB-gene, WB-taxon, for instance.

[2016-06-14 23:18] cmungall commented on #1280
Actually the local IDs (part after ':') don't collide, the CURIEs are of the form

`WormBase:WBGene00000001`

[2016-06-14 23:28] jmcmurry commented on #1280
While it is true that the after-the-colon fragments don't collide for the entity types that we are currently interested in, consider that:

a) They have 20 different types in their corpus
b) Across this entire corpus the after-the-colon fragments do occasionally collide (by their own admission)
c) In any case, no two entity types can be resolved with a single URL pattern anyway

This to me suggest

[2016-06-14 23:33] kshefchek commented on #1280
I think we're over thinking this, for the sake of owlsim we only care about gene IDs at the moment.  But this is good food for thought when we start including variants, genotypes, and models.

[2016-06-14 23:42] cmungall commented on #1280
Yes.

It would be good to get an example of an after-the-colon collision, this
surprises me. It wouldn't surprise me if there was some confusion in
answering the question, and people were thinking purely of the numeric
part, but I don't know

On Tue, Jun 14, 2016 at 4:33 PM, Kent Shefchek <notifications@github.com>
wrote:

[2016-06-15 15:30] yuanzhou commented on #1250
So far I've got the one page working.

![1](https://cloud.githubusercontent.com/assets/195873/16086037/23f3c8b4-32ec-11e6-951f-e462379fcf2e.PNG)

The orthologos and paralogs buttons will show up only when the genes option is selected.
![capture](https://cloud.githubusercontent.com/assets/195873/16086086/4d83b018-32ec-11e6-9758-608d3cb4693e.PNG)

Once the submit button is clicked, the phenogrid and

[2016-06-15 21:00] jmcmurry commented on #1250
Thanks Zhou. This is a great start; I also like the following you added:
- The different language of "Predefined target groups."
- That step 1 is the full width of the screen (This emphasizes the right things first and will make the list of phenotypes less vertically space hungry).

I have a few suggestions in rough order of importance:
- I would suggest making the buttons themselves smaller as it

[2016-06-16 02:53] harryhoch commented on #1250
@yuanzhou, I agree - this is a great start.

@jmcmurry, I like your changes as well. Zhou, do you think you can add these changes in? Thanks.

[2016-06-16 03:43] jmcmurry opened #1282 "Better handling of hyphens, punctuation in search"
["Pallister-Hall Syndrome"](https://monarchinitiative.org/disease/OMIM:146510) is not returned at all when searching for "Pallister Hall Syndrome" (no hyphen)

Same for "Smith-Magenis Syndrome". Moreover, in this case we have two records with identical labels but wildly different data: [OMIM](https://monarchinitiative.org/disease/OMIM%3A182290) and [Decipher](https://monarchinitiative.org/disease/

[2016-06-16 13:19] yuanzhou commented on #1250
@jmcmurry Thanks for the great suggestions, one thing to clarify:

It says "Analyze" in your mockup, which one do you prefer?

@harryhoch I'm working on those changes. And regarding the Step 2, I also think it might be better to display those species in checkboxes instead of dropdown menu. Checkbox allows users to select any combinations they want to analyze against. Right now the dropdown only gi

[2016-06-16 13:26] harryhoch commented on #1250
@yuanzhou Ok.  If space is at a premium, you can put checkboxes in a dropown.

[2016-06-16 14:05] mellybelly opened #1283 "Show blipkit disease merge on disease pages"
I've been getting requests for being able to view and up to date blipkit view of the merged diseases (e.g. https://github.com/monarch-initiative/monarch-disease-ontology/blob/master/src/mondo/images/mdo-doid-14330.png) for any given disease- perhaps it would be nice to generate something for the disease pages in monarch for this purpose? Not exactly the same as an ontology navigation tool, but mor

[2016-06-16 14:37] jmcmurry commented on #1250
Thanks
1) As for submit vs analyze I don't feel strongly. Harry? Others?
2) As for checkboxes, that is a good idea. We can probably spare a little vertical space for a few rows. Expand-collapse dialog with checkboxes could be fine too. Hard to know until we look at it.

[2016-06-16 14:56] harryhoch commented on #1250
I'll go for "analyze", but not for any strong reason

[2016-06-16 18:01] cmungall commented on #1283
Can you say more about the use case?

I think the color coded by source views are not of interest to general
users, but are very useful for people aware of different
ontologies/resources. If this is correct, something in the mondo repo
may be more appropriate?

[2016-06-17 03:27] cmungall commented on #1250
Search?

[2016-06-17 13:46] mellybelly commented on #1250
Well the title of the page is "Monarch Phenotype Profile Analysis", so maybe "Analyze"?

[2016-06-17 16:01] jmcmurry commented on #1250
Sounds good. I don't love 'search' as that sounds a bit pedestrian. OwlSim is anything but :)
Go, OwlSim, Go!

[2016-06-23 09:40] mellybelly opened #1285 "new visualization widget for annotation sufficiency"
It would be great to have a third party widget for implementation of our annotation sufficiency meter. The visualization should help the user understand the current phenotypic profile distribution, perhaps same as/similar to the phenoprint in patient archive. This can come along with some better documentation for use. And we could write a longer paper describing it.

@tudorgroza @drseb @jmcmurry p

[2016-06-23 13:28] harryhoch commented on #1285
I can jump in here if needed.

[2016-06-23 15:58] #1275 closed

[2016-06-23 20:22] yuanzhou commented on #1250
After the demo this afternoon, @jmcmurry suggested to add back the gene helper text as well as link the gene ID section to https://github.com/monarch-initiative/dipper#identifiers.

![capture2](https://cloud.githubusercontent.com/assets/195873/16318812/b4baf1c4-395e-11e6-8b44-1c3f5b26f635.PNG)

I've also made the results grayed out on adding/removing new phenotypes, and changed the submit button c

[2016-06-23 20:23] harryhoch commented on #1250
Nice, @yuanzhou , thanks

[2016-06-23 20:47] yuanzhou opened #1287 "Analyze Phenotypes Gene Autocomplete V.S. Main search results"
@harryhoch noticed this while he was testing the analyze phenotype gene search. If you type "EG" into the gene symbol autocomplete field you'll see this:

![1](https://cloud.githubusercontent.com/assets/195873/16319541/ad7799dc-3961-11e6-8c53-3a92b82bbd92.PNG)

The autocomplete results have terms that don’t string match. That might confuse end users.

And if you go to the monarch main search and e

[2016-06-23 20:47] yuanzhou commented on #1287
I also talked to @cborromeo and he pointed me to a couple of places regarding the differences between Analyze Phenotype gene autocomplete and the global auto search form results of the same "EG" search term.

The main search form is using `https://scigraph-ontology-dev.monarchinitiative.org/scigraph/` to get the edges and nodes while the Analyze Phenotype gene autocomplete is using `https://scigra

[2016-06-23 21:05] harryhoch commented on #1287
ok, @yuanzhou, do you know how to proceed?

[2016-06-30 15:00] yuanzhou commented on #1287
@kshefchek which scrigraph server should I use for the gene autocomplete search in Analyze Phenotypes?

`https://scigraph-ontology-dev.monarchinitiative.org/scigraph/`

or

`https://scigraph-data-dev.monarchinitiative.org/scigraph/`

[2016-06-30 18:22] kshefchek commented on #1287
We should use the server in the global_scigraph_url variable.

[2016-06-30 19:00] yuanzhou commented on #1287
I see, currently the gene autocomplete is using `global_scigraph_data_url`.

[2016-07-07 14:41] yuanzhou commented on #1287
I think I might have fixed the gene autocomplete, https://github.com/monarch-initiative/monarch-app/pull/1286/commits/2fb70e597a3328b9828361852ea2696a1e73923a and https://github.com/monarch-initiative/monarch-app/commit/3ddbbfd48e87192dc412e4373f3876904244354a. After comparing the main autocomplete search and the gene autocomplete search I discovered that

1. The main search sends the user-entered

[2016-07-07 15:19] harryhoch commented on #1287
@yuanzhou, this looks reasonable, but I can't comment on whether this content is correct. @kshefchek ?

[2016-07-07 17:09] kshefchek commented on #1287
In that screenshot it looks like we've lost the taxon information.

[2016-07-07 17:20] harryhoch commented on #1287
Good point, @kshefchek , @yuanzhou, any idea whats up?

[2016-07-07 18:56] yuanzhou commented on #1287
@kshefchek I'll add the species back.

[2016-07-08 14:42] yuanzhou commented on #1287
Taxon added via this commit https://github.com/monarch-initiative/monarch-app/pull/1286/commits/d2144cab2f3296303ef1a0d4a9b1b42b4320da33, and the PR will be merged soon: https://github.com/monarch-initiative/monarch-app/pull/1286

I'm closing this issue now. Will reopen it if there's any unresolved issues around this topic.

[2016-07-08 14:42] #1287 closed

[2016-07-10 14:33] mellybelly opened #1290 "Consider a druggable genome view"
We have a lot of model data relevant to the Illuminating the druggable genome project.
See: The human genome and drug discovery after a decade. Roads (still) not taken
http://arxiv.org/abs/1102.0448
and the program website: http://www.ncats.nih.gov/idg

We had a preliminary analysis of these genes, attached.
![image](https://cloud.githubusercontent.com/assets/796636/16714178/931a1814-4689-11e6-9be

[2016-07-11 15:57] DoctorBud commented on #1017
I ended up needing to re-adjust the window size in `tests/behave/environment.py` in light of the new Analyze UI. One of the `maui_autocomplete.feature` test scenarios was failing because the `phen_vis_svg_group` SVG element was not visible to `xvfb`, Firefox or Selenium during the `behave` tests. So I increased the vertical size of the window. Here's the PR: https://github.com/monarch-initiative/m

[2016-07-11 16:12] DoctorBud opened #1291 "Selenium, xvfb and Firefox `behave` tests need to be aware of window size"
When we execute the `behave` unit tests in `monarch-app/tests/behave/` in the TravisCI environment, the browser emulation is carried out with Firefox, `xvfb` and Selenium. One of these components appears to be very strict about which DOM elements are visible to the web driver. For example, an element `phen_vis_svg_group` that is outside of the virtual window's bounds will not be detected when the

[2016-07-11 16:20] #1291 closed

[2016-07-11 16:30] jmcmurry opened #1292 "Some genotypes are not linked from coriell, not clear why"
<img width="1373" alt="screen shot 2016-07-11 at 9 22 26 am" src="https://cloud.githubusercontent.com/assets/3658863/16738301/fc853b7e-4749-11e6-97d5-ee26834c82a2.png">

Is this is an issue with the resolvability of the genotype identifiers?

[2016-07-11 16:44] jmcmurry opened #1293 "Analyze phenotypes: source ontology interface and taxon configuration"
We currently have confusing scenarios like this one we need species-specific configuration.

<img width="241" alt="screen shot 2016-07-11 at 9 32 48 am" src="https://cloud.githubusercontent.com/assets/3658863/16738631/5f5718e8-474b-11e6-8e77-c5890a2be4e5.png">

1) Is there any scenario in which there would be more than one species in the phenotype profile? I can't think of one.
2) Are there ever d

[2016-07-11 16:47] jmcmurry opened #1294 "Analyze Phenotypes: Duplicate warning messages for missing data"
<img width="572" alt="screen shot 2016-07-11 at 9 39 02 am" src="https://cloud.githubusercontent.com/assets/3658863/16738898/83ddba04-474c-11e6-8930-c73b06186611.png">

[2016-07-11 16:50] jmcmurry opened #1295 "Analyze Phenotypes: Squish gracefully"
<img width="726" alt="screen shot 2016-07-11 at 9 49 43 am" src="https://cloud.githubusercontent.com/assets/3658863/16738972/e51e1fb6-474c-11e6-9fee-e0c462a94a4c.png">

Overlapping text should instead shift to below first option

[2016-07-11 17:07] harryhoch commented on #1293
Agreed that we should indicate source and limit to one set of terms. I think this has been discussed and needs a bit of ontology work along with UI work.

Might want to think about this in terms of a general redesign on the UI side, if we want to add support for ontology navigation as well.

[2016-07-11 17:10] jmcmurry opened #1296 "Analyze Phenotypes: Unclear consequences of selecting a disease when in phenotype"
It is not clear what it means or should mean that certain diseases can be selected (eg. Dementia), but that certain others can not be selected (eg. Charcot-Marie...).

Moreover, what the expected behavior is once those diseases are selected is also not clear.

Parking this here for discussion

[2016-07-11 17:12] kshefchek commented on #1293
It looks like Lewy Bodies from HP and MP are not equivalent in SciGraph, I would check UberPheno to confirm.

[2016-07-11 17:42] jmcmurry commented on #1296
Just realized that here Dementia is both a disease and a phenotype. As they are both HP terms, it was confusing to me. Not sure how to make this more apparent. Changing the title of the issue accordingly.

[2016-07-11 18:09] jmcmurry opened #1297 "Analyze Phenotypes: Confusing gene selection"
We need to think pretty carefully about how to improve the selection/input for gene sets. Hard problem to solve properly. Right now it is very confusing and hard to see the impact of any selection on the gene side as the new text appearing in the box is really too subtle and truly frustrating. I think the UI behavior should ideally be similar for both phenotype and gene selection because both kind

[2016-07-11 18:11] jmcmurry commented on #1296
Results like this make it especially confusing.
This looks like dementia disease versus dementia phenotype when in fact it is dementia phenotype in two different taxa.

<img width="364" alt="screen shot 2016-07-11 at 11 10 32 am" src="https://cloud.githubusercontent.com/assets/3658863/16741448/280f2724-4758-11e6-97d1-b078dd687948.png">

[2016-07-11 18:16] harryhoch commented on #1296
I think his might be an ontology issue. At one point, there had been no call that would let us easily restrict the search to (say) hpo vs. something else .Is this no still the case?

[2016-07-11 18:23] jmcmurry commented on #1297
@harryhoch the changes below would be great.
<img width="884" alt="screen shot 2016-07-11 at 11 23 02 am" src="https://cloud.githubusercontent.com/assets/3658863/16741833/e97573ea-4759-11e6-9aec-5ca430575b0a.png">

[2016-07-11 18:42] harryhoch commented on #1297
Ok, so short term you just want those four pieces of text to be changed to your recommendations in red, right?

@yuanzhou, can you make those changes?

Medium term, I see a couple of possibilities:
1. we might try to improve the parsing so that Gene IDs could be entered alongside gene names, leaving us with something like the phenotype entry. I don't know how hard this would be in terms of validat

[2016-07-11 18:55] TomConlin opened #1298 "'none' as an alias"
From the Home Page search on "None"

Use the browser's built in search on page functionality
on each of the many tabs with results to find the hits.

We give human gene  'FLNB' and the fly gene 'gl'
the alias 'none' which is suspect.
NCBI has lists of "Also Known As" without the 'none'
which we are labeling "AKA" and expanding on.

<tangent>
I do not think using vintage American TV police drama ac

[2016-07-11 18:57] jmcmurry opened #1299 "orphanet logo is cut off"
<img width="181" alt="screen shot 2016-07-11 at 11 56 32 am" src="https://cloud.githubusercontent.com/assets/3658863/16742861/915ae348-475e-11e6-9e04-830767cac898.png">

https://beta.monarchinitiative.org/phenotype/HP%3A0000316

[2016-07-11 19:11] jmcmurry opened #1300 "Hyperlink logo to source record?"
Thoughts?

<img width="181" alt="screen shot 2016-07-11 at 11 56 32 am" src="https://cloud.githubusercontent.com/assets/3658863/16743042/68dad7ce-475f-11e6-8188-017944384126.png">

Along with this idea would be to include the source record / link in the tsv download.

[2016-07-11 19:18] jmcmurry commented on #1296
The former is HPO, the latter is NBO (eg. Neuro Behavior Ontology, used in ZFIN). I think these are legitimately different results. Will be sorted out once we have taxon options available.

[2016-07-11 19:34] TomConlin opened #1301 "OLS is deprecated"
from
https://beta.monarchinitiative.org/disease/Orphanet:280234

clinking on  URI: http://www.orpha.net/ORDO/Orphanet_280234

arrive on a page with big red letters saying to change the url you are using.

May 4th, 2016 -
This version of OLS is deprecated,
please use the new site at http://www.ebi.ac.uk/ols.
We will continue to provide access to this service at
http://www.ebi.ac.uk/ols/v2 until Oct

[2016-07-11 19:55] jmcmurry commented on #1301
1) This is somewhat related to the discrepant links issue filed previously (too busy to find it right now).
<img width="504" alt="screen shot 2016-07-11 at 12 46 28 pm" src="https://cloud.githubusercontent.com/assets/3658863/16744358/9758c18c-4765-11e6-8073-679010691470.png">
Source and URI are different links from the overview page; I personally find this confusing.

2) Further adding to the conf

[2016-07-11 20:44] jmcmurry commented on #1297
1. we might try to improve the parsing so that Gene IDs could be entered alongside gene names, leaving us with something like the phenotype entry. I don't know how hard this would be in terms of validation.

+1, but this is hard, not only in terms of validation but also in terms of UI. Entry of IDs or labels should ideally be possible in both scenarios (gene and phenotype). This is why just not wo

[2016-07-11 20:50] harryhoch commented on #1297
ok. let's discuss these possibilities..

[2016-07-11 21:15] jmcmurry opened #1302 "Three replicates of "Marfan syndrome disease" in autocomplete"
<img width="566" alt="screen shot 2016-07-11 at 2 15 35 pm" src="https://cloud.githubusercontent.com/assets/3658863/16747041/f90838e8-4771-11e6-8c28-9a99c480b6ff.png">

[2016-07-11 21:16] jmcmurry commented on #1302
Also two duplicates of Marfanoid craniosynostosis syndrome

[2016-07-11 21:23] jmcmurry commented on #1300
Perhaps also a "more" button would be appropriate here too, like the way we've done with PMIDs.

<img width="172" alt="screen shot 2016-07-11 at 2 23 14 pm" src="https://cloud.githubusercontent.com/assets/3658863/16747251/15a932c6-4773-11e6-843c-81bcc1660a06.png">

[2016-07-11 21:27] jmcmurry commented on #1300
also related, could we use the proper HPO logo. Though I must admit that the font in the logo is really quite fine and ill suited to legibility at this scale. Could we adapt @drseb ?

Also teeeeeeny tiny suggestion that I can happily postpone indefinitely; any chance of getting the transparent versions of the logos? They look slightly odd with white boxes on the light grey background.

[2016-07-11 21:33] jmcmurry opened #1303 "Analyze phenotypes: autocomplete synonym behavior"
Much of what I've mentioned previously about autocomplete behavior in the homepage applies to it in the context of Analyze Phenotypes.

We should be showing whatever it is that matches the entered text, if that is a synonym, it should show. In this case the match is for "Farsightedness" but you'd never know it.

<img width="335" alt="screen shot 2016-07-11 at 2 30 49 pm" src="https://cloud.githubu

[2016-07-11 21:41] jmcmurry commented on #1303
[Developmental delay](https://monarchinitiative.org/phenotype/HP%3A0001263) is a valid human phenotype, however, does not appear to be an option in the phenotype profile entry.
I might suggest that if there's an exact matching synonym, that be the thing that is shown, rather than the primary label. If the above behavior is achieved, this may be a non-issue.

[2016-07-11 21:47] jmcmurry opened #1304 "Analyze Phenotypes: Phenogrid widget extends beyond page boundaries. C elegans repeated."
<img width="1366" alt="screen shot 2016-07-11 at 2 46 47 pm" src="https://cloud.githubusercontent.com/assets/3658863/16747985/628dbc3a-4776-11e6-80d6-b0d0f8699d09.png">

This makes it virtually impossible to see that there options to be had and thus getting to additional hits within human is also impossible.

[2016-07-11 21:50] jmcmurry commented on #1294
related to #1304

[2016-07-11 21:57] jnguyenx commented on #1304
@jmcmurry can you please include the link to the page?

[2016-07-11 22:14] cmungall commented on #1302
MonDO has two classes with the same label for Marfan: https://github.com/monarch-initiative/monarch-disease-ontology/issues/101

I don't know why the AC is showing 3 though

[2016-07-11 22:26] jmcmurry opened #1305 "space delimited search term should default to a boolean AND"
Stub here for comment/discussion
I couldn't remember offhand whether it was Charcot-Marie, or Marie Charcot, searching for Marie first gives you nothing...
Sort should prefer matches for things at the start
Exact match should float to the top

[2016-07-12 00:06] jmcmurry commented on #1304
It seems to happen anytime there are specific wormbase phenotypes present in the inputs. Eg. https://beta.monarchinitiative.org/analyze/phenotypes?input_items=HP%3A0001263+HP%3A0001363+HP%3A0000316+HP%3A0001166+HP%3A0000369+WBPhenotype%3A0000848&mode=search&target_species=all&limit=100&gene_list=

[2016-07-12 01:09] harryhoch commented on #1303
+1 - this is a modeling issue, and I think perhaps a golr issue. @kshefchek, is that right?

[2016-07-12 01:09] harryhoch commented on #1294
@yuanzhou, do you have any idea what is up?

[2016-07-12 01:10] harryhoch commented on #1304
@yuanzhou ?

[2016-07-12 04:11] jmcmurry commented on #1298
our modern international colleagues. "Alias" being a well defined word may be
more appropriate.

+1 either 'alias' or 'synonym'; hey ...  do those mean the same thing? jk ;)

[2016-07-12 04:57] pnrobinson commented on #1300
I think that we should probably think harder about the HPO logo -- We need to add a doohickey or two that will suggest the connection between DNA and phenotype or whatever. But for now we can just use gimp to get rid of the whiteness. Where did you get the original from Julie, here? (http://human-phenotype-ontology.github.io/img/placeholder.jpg).

[2016-07-12 05:18] mellybelly commented on #1300
we should also make a HPO+Monarch logo for use in attribution in other sites

On Jul 11, 2016, at 9:57 PM, Peter Robinson <notifications@github.com<mailto:notifications@github.com>> wrote:

I think that we should probably think harder about the HPO logo -- We need to add a doohickey or two that will suggest the connection between DNA and phenotype or whatever. But for now we can just use gimp to g

[2016-07-12 05:22] pnrobinson commented on #1300
+1
Anyone wanna take a 1st stab?

[2016-07-12 05:39] drseb commented on #1296
I am not sure what you are trying to achieve, but
- NBO is used in hp and mp as well
- pretty sure users also want to enter a "disease" such as alzheimer, instead of entering every symptom of alzheimer

Sent from my mobile - hence the brevity and misbakes

[2016-07-12 05:51] jmcmurry commented on #994
I think so, but less crucial if we get the species filtering working (eg. autocomplete on only human terms, or only on HPO terms, etc)

I still think this is important but think that scigraph annotator is a better route than building yet another kind of input interface; I hope it would be more forgiving and intuitive.

[2016-07-12 05:52] jmcmurry commented on #1296
Agreed, this is functionality I described in other tickets (https://github.com/monarch-initiative/monarch-app/issues/1250 and . However, this is what we have presently, so worth making sure that the users expectations are appropriately managed.

See also https://github.com/monarch-initiative/monarch-app/issues/994

[2016-07-12 06:39] kshefchek commented on #1303
Correct, which is why I've proposed we consider an index specifically for search and autocomplete requirements, see https://github.com/monarch-initiative/monarch-app/issues/1210

[2016-07-12 06:42] kshefchek commented on #1302
The third is an OMIA class.

[2016-07-12 06:44] kshefchek commented on #1301
Source and URI are different links from the overview page

Now that we can return the curie mappings from [the scigraph service](https://scigraph-data.monarchinitiative.org/scigraph/cypher/curies), we need to replace the legacy xrefs.json file from the amigo pipeline to avoid these differences.

[2016-07-12 06:50] kshefchek commented on #1299
We need to replace the image file, see:
https://github.com/monarch-initiative/monarch-app/blob/master/image/source-orphanet.png

[2016-07-12 13:50] yuanzhou commented on #1297
I've updated the hint text and sent the PR #1306

![capture](https://cloud.githubusercontent.com/assets/195873/16769248/eaae45e0-4815-11e6-9468-74a2d9877307.PNG)

Please merge if everything looks good for the release purpose.

[2016-07-12 16:13] jmcmurry commented on #1300
Probably?

I previously did try to mock up some HPO logos before I knew this one existed. I got nowhere. Normally I have a half way decent idea to start with. In this case, incredibly hard. Plus you need three versions of the logo:

1) Horizontal
2) Stacked
3) Favicon sized

1 and 2 also need to have versions that work on a dark background without looking silly. If you guys come up with any ideas,

[2016-07-12 16:30] jmcmurry commented on #1300
I'm going to close this as it is an approximate duplicate. https://github.com/monarch-initiative/monarch-app/issues/822 is more comprehensive.

[2016-07-12 16:30] #1300 closed

[2016-07-12 18:00] cmungall commented on #1302
The label for all OMIA classes is suffixed "in other animals" to
disambiguate

On 11 Jul 2016, at 23:42, Kent Shefchek wrote:

[2016-07-12 18:04] kshefchek commented on #1302
This class OMIA:000628-9913 ! "Marfan Syndrome"
has a parent OMIA:000628 ! "Marfan syndrome (in other animals)"

See https://monarchinitiative.org/disease/OMIA:000628-9913

[2016-07-12 18:26] kshefchek commented on #770
Dipper script and cypher queries are ready to go, reassigning to @DoctorBud.  Feel free to assign back if you don't have the bandwidth.

[2016-07-13 19:47] kshefchek commented on #1292
The genotype is a blank node and thus not linked out anywhere.  Coriell models of Parkinson's are available in the models tab.  Can we triage this in some "add documentation" ticket?

[2016-07-13 19:47] #1292 closed

[2016-07-14 17:26] kshefchek commented on #1303
This is also important for genes, I've noticed this happening with the latest NCBI gene build, for example:
![screenshot from 2016-07-14 10 21 38](https://cloud.githubusercontent.com/assets/1467299/16849018/5d5e2cd4-49ad-11e6-9af4-d137e9f896e7.png)
![screenshot from 2016-07-14 10 22 17](https://cloud.githubusercontent.com/assets/1467299/16849021/5f612586-49ad-11e6-9b3f-455036ffeaea.png)

[2016-07-14 17:39] harryhoch commented on #1303
@kshefchek, let's try to discuss during the scrum this afternoon

[2016-07-15 20:07] cmungall opened #1310 "taxon association of transgenic elements yields confusing results"
https://monarchinitiative.org/gene/FlyBase:FBgn0014445

FlyBase assigns this to be a Scer (yeast) gene, which is of course correct

But this means that we end up with 6 "yeast genes" with nervous system phenotypes:

https://monarchinitiative.org/phenotype/UBERON:0001020PHENOTYPE

(use filters to see)

[2016-07-15 20:40] mellybelly opened #1311 "missing fly genotypes - bad link"
https://monarchinitiative.org/phenotype/FBbt:00015899PHENOTYPE
this page links to
https://monarchinitiative.org/genotype/http://www.monarchinitiative.org/MONARCH_FBgeno328111

[2016-07-15 20:45] kshefchek commented on #1311
Will be resolved in the next scigraph load.  This is resulting from a combination of using ntriples for flybase, and changing the curie map between updates.

[2016-07-15 20:49] kshefchek commented on #1310
Sounds related to: https://github.com/monarch-initiative/dipper/issues/324
and https://github.com/monarch-initiative/dipper/issues/256

[2016-07-15 21:00] #881 closed

[2016-07-15 23:52] cmungall opened #1312 "Add anatomy page showing genes and anatomy to genes page"
Steps:
1. Load Bgee data into golr, see https://github.com/monarch-initiative/dipper/issues/147
2. Add a new golr view for gene-anatomy (this repo)
3. Ensure golr queries follow part-of https://github.com/SciGraph/golr-loader/issues/17 (e.g. the brain page must show genes expressed in part-of the brain)
4. Add a new tab 'anatomy' to gene pages (no closure)
5. Add a new route `/anatomy/ONT-ID`. Thi

[2016-07-18 20:15] jmcmurry opened #1313 "Default to wildcard endings in search results"
Currently, the search results page leaves out partial matches. This may be by design, but it leads to weird behavior. For instance when searching for "PAX" (free text search in all results) you don't get matches for PAX6, for example.

https://monarchinitiative.org/search/pax

[2016-07-20 21:03] kshefchek commented on #1310
As a patch we could check if the gene and genotype are from the same taxon here: https://github.com/monarch-initiative/configs/blob/master/SciGraph/golr/queries/gene-phenotype.yaml#L18

MATCH (subject)-[:RO:0002162]->(taxon)<-[:RO:0002162]-(genotype)

[2016-07-21 00:42] jmcmurry opened #1314 "Improve display and navigation of disease groups in search and disease pages"
## TLDR: Desired features
- [ ] Distinguish "disease" and "disease group" (in both autocomplete and search)
- [ ] Boost ranking of disease groups
- [ ] Introduce breadcrumbs
<img width="500" alt="screen shot 2016-07-20 at 5 11 36 pm" src="https://cloud.githubusercontent.com/assets/3658863/17007456/caadfcc0-4e9d-11e6-8cae-89f2ef3f8846.png">

## Backstory:

I was searching Monarch for all genes impl

[2016-07-25 17:39] cborromeo commented on #1024
@harryhoch @kshefchek, can you take a look at this again?  It is related to another bug in  phenogrid: https://github.com/monarch-initiative/phenogrid/issues/253.  If I run /compare on genes from multiple species, I can see the taxon name for the Homo sapiens genes, but none of the other species has their taxon data associated (see below).  Gene 19090 is a mouse gene and gene 1804 is a human gene.

[2016-07-26 18:14] mellybelly opened #1316 "add protein interactions to Analyze Phenotypes"
Similar to what is performed in Exomiser, it would be great to be able to expand the comparison to a set of interaction partners/pathways as a target for comparison for a set of phenotypes.

[2016-07-26 20:13] jmcmurry commented on #1314
The breadcrumb part of this is relevant also for phenotypes

[2016-07-26 20:37] jmcmurry opened #1317 "Modifications to site search results Ranking, Representation, and Filtering"
## Ranking
- [ ] rank results according to lexical distance: **Exact matches to complete must be ranked above exact matches to partial string.**
  - [ ] if lexically equivalent, then rank according to richness of available data (?) Not yet sure about this one.
- [ ] weight:
   label matches >> synonym matches >> description matches*
- [ ] handle punctuation sensibly #1282
- [x] enable stemming and

[2016-07-26 20:55] kltm commented on #1317
I'd note that most of these would be covered pretty much out of the box by adopting the the GOlr patterns and working with the upstream. For context, some of the related issues on the other side of the fence:
https://github.com/berkeleybop/bbop-js/issues/16
https://github.com/geneontology/amigo/issues/102

[2016-07-26 21:06] jmcmurry commented on #1317
Thanks Seth

[2016-07-26 21:29] jmcmurry opened #1318 "WS2B records are confusing or improperly classified."
@cmungall, @kshefchek  thoughts?

https://monarchinitiative.org/disease/NCBIGene:7488 and https://monarchinitiative.org/disease/OMIM:600193 seem like they should be equivalent based on their content. However it isn't immediately clear to me why there is a disease described in NCBI Gene instead of somewhere else. Clearly WS2B must be the causal gene for this disease, but something about it still fe

[2016-07-26 22:06] jmcmurry commented on #1317
## What about dead ends?

### TL;DR: Let's make it easier to _back out of_ dead ends rather than hand-wring/mind-read about how to _avoid them_.

Even though I initially raised the "dead end" issue and still do believe it to be a problem (primarily in genes), I've changed my mind about how I think we should approach it. I no longer think that site search results is the best place to embed indicato

[2016-07-26 22:09] kshefchek commented on #1318
This will be fixed when the beta servers are pushed to production.

[2016-07-26 22:22] cmungall commented on #1317
+1 to all these ideas

[2016-07-26 22:29] jmcmurry commented on #1318
Great; can we assume it will also fix the related issues?
<img width="231" alt="screen shot 2016-07-26 at 3 27 30 pm" src="https://cloud.githubusercontent.com/assets/3658863/17157638/8e28beb4-5345-11e6-8f8a-3d153aaf935a.png">
<img width="248" alt="screen shot 2016-07-26 at 3 25 28 pm" src="https://cloud.githubusercontent.com/assets/3658863/17157640/9075240a-5345-11e6-803f-abebfaf722e7.png">
<img w

[2016-07-26 22:47] jmcmurry commented on #1317
@harryhoch do you think that @cborromeo could tackle the representation items above first?

[2016-07-26 22:48] jmcmurry opened #1319 "Make a way out of dead ends"
## What about dead ends?

### TL;DR: Let's make it easier to _back out of_ dead ends rather than hand-wring/mind-read about how to _avoid them_.

Even though I initially raised the "dead end" issue and still do believe it to be a problem (primarily in genes), I've changed my mind about how I think we should approach it. I no longer think that site search results is the best place to embed data pee

[2016-07-27 03:14] harryhoch commented on #1317
@jmcmurry, let's discuss. I thought much of this was only hold until golr was resolved.

[2016-07-28 15:50] jmcmurry commented on #956
Related to #1282 punctuation

[2016-07-28 15:54] jmcmurry commented on #856
This is related to both #1282 (punctuation) and to #1305 (default to boolean AND)

[2016-07-28 16:54] jmcmurry opened #1320 "Reroute failed searches to the closest matching term & include warning / escape hatch"
A big takehome in the recent UX efforts has been that people often don't wait for autocomplete. Moreover, autocomplete is not well suited to hunter-pecker typists. Thus (in addition to improving performance) we need to also improve site search results.

Lots of diseases, phenotypes, and genes have peculiar or difficult spellings/punctuation, and autocomplete is slow. When there are no exact matche

[2016-07-28 17:51] jmcmurry commented on #1008
The need to break down results in categories is underscored by results like this:
<img width="240" alt="screen shot 2016-07-28 at 10 49 58 am" src="https://cloud.githubusercontent.com/assets/3658863/17223379/276100d4-54b1-11e6-9eae-c71f5d42df9a.png">

The result "eyeless Fruitfly", in the absence of categorical clues could be gene, model, or species-specific phenotype.

[2016-07-28 17:52] harryhoch commented on #1320
+1. Solr should help here, as it supports searches within some edit distance

[2016-07-28 18:16] jmcmurry commented on #1320
Actually this scenario is even worse than I originally realized.
a) This includes no site-search hits for any of the hyphenated forms of the disease (eg. related to #1282)
b) Including the hyphen only, and not Dietz gets you no results, but does get you a "did you mean" page, which I didn't even know we had :)
<img width="200" alt="screen shot 2016-07-28 at 11 15 41 am" src="https://cloud.githubus

[2016-07-28 18:25] kltm commented on #1320
@harryhoch Typically the spellchecker component in Solr.
I would suggest building something like "closest" into the API. Low or zero returns would trigger a secondary search to the spellcheck component and offer suggestions.

[2016-07-28 18:30] jmcmurry commented on #1320
@kltm can you think of any scenario where delimiters/punctuation (other than space and colon) should be given special treatment? Seems like if we just normalized both the query and the index to be punctuation-free we might be a lot better off?

[2016-07-28 18:30] TomConlin commented on #1319
I am a fan of always keeping the search field populated with whatever was put in it to get to wherever you are. In the case of no results, altering what is already there is easier than starting from scratch.

[2016-07-28 18:36] kltm commented on #1320
Well, dashes, maybe--distance is not always great, and people who know what they're looking for usually want to nail it right away.

In the end, you may be heading towards a heavier customization of the solr tokenizers, parsers, etc. than the typical out-of-the-box experience. It would probably be good to map tickets more directly onto features and figure out the best way to bring them into the AP

[2016-07-28 18:41] harryhoch commented on #1320
@kltm - good points.

How do we configure solr to search for mouse strain names? :-)

[2016-07-28 18:45] jmcmurry commented on #1320
Sorry, just to clarify my suggestion, I'm not talking about removing the canonical punctuation from what is displayed to users. (That would be a bit bonkers especially in genes with legit hyphenation and periods etc). I'm just suggesting that the ranking algorithm not be trying to ascribe importance to it.

[2016-07-28 18:48] jmcmurry commented on #1319
Yes, excellent point Tom. Just to clarify, you're talking about the fact that we blank out the search box once search is executed, and this is annoying, right?

<img width="957" alt="screen shot 2016-07-28 at 11 47 04 am" src="https://cloud.githubusercontent.com/assets/3658863/17225274/26a4e932-54b9-11e6-8d4d-827646d0d195.png">

[2016-07-28 18:55] kltm commented on #1320
@jmcmurry Correct--my comment is taking that into account.

[2016-07-28 19:00] TomConlin commented on #1319
yep, could flavor it red when there are no results

[2016-07-28 19:10] jmcmurry opened #1321 "Retain the search query term in the box after search is executed"
Related to https://github.com/monarch-initiative/monarch-app/issues/1319

We need to be retaining the text that the user enters in the search box, even after search is executed. This makes refining queries much easier.

<img width="957" alt="screen shot 2016-07-28 at 11 47 04 am" src="https://cloud.githubusercontent.com/assets/3658863/17225420/bb1cb9e6-54b9-11e6-91a8-c6a6879c4a47.png">

[2016-07-28 20:01] cborromeo opened #1322 "simsearch json should return unmatched information"
This is related to phenogrid issue: https://github.com/monarch-initiative/phenogrid/issues/130

We need simsearch to return arrays containing the items that went unmatched (both the unmatched "query" items and the unmatched "target" items) during the simsearch execution.  It should probably be returned as part of the metadata object in the json.  Each unmatched item should contain its id, label, a

[2016-07-29 18:00] kshefchek commented on #1322
Would this work? https://github.com/monarch-initiative/monarch-app/issues/1012  What I've proposed is returning labels for all input rather than just unmatched items.

[2016-07-29 18:52] cborromeo commented on #1322
@kshefchek That's great!  I would also like the input to return its data type so I know if the axis represents diseases, phenotypes, etc.  According to @jmcmurry , we need to return the unmatched targets as well.  Is it possible to return them?

[2016-07-29 22:03] jmcmurry commented on #1314
For future debugging purposes, Crigler-Najjar. One result is the disease group and ostensible duplicate is the disease; labels of parent and child overlap.
<img width="329" alt="screen shot 2016-07-29 at 2 57 51 pm" src="https://cloud.githubusercontent.com/assets/3658863/17264665/5f9992c6-559d-11e6-917d-6a8ae9df8fe4.png">

[2016-07-30 01:10] kshefchek commented on #1322
Could you check the current output and let me know where we need to add type, or where it's not showing up?  My understanding is that type should be returned for the results, but not for the input since they are all phenotypes, except for the compare calls which should give you the type.

[2016-08-01 10:09] liuzhuo14 opened #1323 "I can not start monarch-app using command "npm run start""
I cloned monarch-app from GitHub repo. and installed it in following steps:
1. Install nvm（Node Version Manager）for managing NodeJS
2. Install NPM and NodeJS
3. run "npm version", make sure node version is 0.12.2 and npm version is 3.4.0
4. Download and install Monarch: clone and run ./install.sh in monarch-app root directory
5. run "npm run start"

At the last step I got an error:
`[gulp] Downloa

[2016-08-02 17:34] kshefchek commented on #1323
We recently updated our code to require >node 4.4.1, could you try running the app with 4.4.1?

[2016-08-02 18:37] jmcmurry commented on #1322
We just need to know for any entity, whether query or target, what its phenotypes are, and which of these are matched, and which are unmatched.

[2016-08-02 21:57] jmcmurry commented on #1310
Is this issue primarily with GENO, or APP? Or both?

[2016-08-02 22:01] jmcmurry commented on #1290
Where is the data about which genes are members of these families?

[2016-08-02 22:02] jmcmurry commented on #1301
@kshefchek what is the status of this?

[2016-08-02 22:08] jmcmurry commented on #1285
There are two almost diametrically opposed scenarios.
1) Differential diagnosis
2) Mechanistic exploration
Which of these did you have in mind for the widget?

[2016-08-02 22:26] mellybelly commented on #1290
@nlwashington can you remind us how you generated these gene lists?

[2016-08-02 22:32] kshefchek commented on #1301
afaik no one is working on it, should we assign it to someone?  I should clarify the above, we shouldn't try to fully replace the xrefs.json file, but rather use the scigraph curie service to override prefix to iri mappings, perhaps as a gulp task?

[2016-08-02 22:34] kshefchek commented on #1310
It's a modelling issue, we need to separate out transgenic elements in the model so they are not included in the results of the cypher query.  The above cypher hack didn't work because some genotypes are not mapped to a taxon.

[2016-08-02 23:49] jmcmurry commented on #1162
@mellybelly With the "homolog phenotypes" tab we are now closer to being able to address this. Please discuss requirements for where to go from here.

[2016-08-03 06:07] liuzhuo14 commented on #1323
Thank you @kshefchek. I installed node 4.4.1 and npm 3.4.0, and clone the new repo.
But I got a new error. When I run install.sh, I got
`buffer.js:140
    throw new TypeError('must start with number, buffer, array or string');
    ^
TypeError: must start with number, buffer, array or string
    at fromObject (buffer.js:140:11)
    at new Buffer (buffer.js:62:10)
    at Request.downloadHandler [as

[2016-08-03 10:32] liuzhuo14 commented on #1323
I realized that the last sentence means monarch-app is running. so I try to access http://myServerAddress:8080, but I got an ETIMEDOUT error:

`HapiJS Server running at: http://0.0.0.0:8080
blog: get new results
Debug: internal, implementation, error
    Error: connect ETIMEDOUT 216.58.197.97:80
    at Object.exports._errnoException (util.js:870:11)
    at exports._exceptionWithHostPort (util.js:8

[2016-08-03 23:58] jmcmurry commented on #1318
I think this issue is a duplicate of this one: https://github.com/monarch-initiative/dipper/issues/356 @kshefchek please confirm.

[2016-08-04 06:34] kshefchek commented on #1318
Yes, iirc these are either from omim-ncbi incorrect eqs, or an older version of mondo.owl, either way it should be fixed in the next data release.  We could collapse all of these cases into one ticket if that makes sense.

[2016-08-04 16:18] #1318 closed

[2016-08-04 16:36] jmcmurry commented on #1277
@kshefchek is this closable now?

[2016-08-04 16:38] jmcmurry commented on #1264
This appears to have been fixed? @kshefchek?

[2016-08-04 16:39] jmcmurry commented on #1254
Given that the underlying issue was addressed, the remaining issue is now a duplicate of https://github.com/monarch-initiative/monarch-app/issues/1319 so closing

[2016-08-04 16:39] #1254 closed

[2016-08-04 17:12] #579 closed

[2016-08-04 17:19] jmcmurry opened #1324 "Improve table representation to reduce duplicates / redundancy"
Throughout the tables, we have issues with repeated values being confusing, either to the counts #598  or just generally too busy.

As inspiration for how to improve this, consider BGee's approach with the expand detail in the developmental stage column. Elegant and dead easy to understand.

<img width="1125" alt="screen shot 2016-08-04 at 10 15 46 am" src="https://cloud.githubusercontent.com/asse

[2016-08-04 17:21] jmcmurry commented on #1274
@kshefchek any update?

[2016-08-04 17:40] jmcmurry commented on #1265
These are all things that analyze phenotypes page doesn't do but should be able to. Lets think more systematically about the tool.

[2016-08-04 18:22] jmcmurry commented on #1324
Related to #1263

[2016-08-04 18:24] jmcmurry commented on #739
#738 now closed; I believe this ticket can be too. Please reopen if I'm mistaken

[2016-08-04 18:24] #739 closed

[2016-08-04 18:35] jmcmurry commented on #1246
I'm pretty sure that this is a symptom of https://github.com/monarch-initiative/dipper/issues/356 and therefore a duplicate. @kshefchek please confirm and reopen if needed.

[2016-08-04 18:35] #1246 closed

[2016-08-04 19:08] jmcmurry commented on #1247
I can't reproduce this, but perhaps because I can't even see it as there are thousands of rows. Something might have changed to make duplicate rows discontiguous. I downloaded the data and didn't find a dup there either, however, so going to close this.

[2016-08-04 19:08] #1247 closed

[2016-08-04 19:13] jmcmurry commented on #1245
I believe this is a parsing error with the dot. Eg. 1.1 also fails.

[2016-08-04 19:13] jmcmurry commented on #1245
duplicate

[2016-08-04 19:13] #1245 closed

[2016-08-04 19:14] jmcmurry commented on #1282
another use case to test is searching for things with dots. Below pasted from a duplicate ticket.

Searching on any string with a dot in monarch returns an error:
15q13.3 homozygous microdeletion syndrome

{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}

Using OSX Chrome

[2016-08-04 19:16] jmcmurry commented on #1282
I would like to flag this as the top priority to fix once solr is upgraded. cc: @kltm @jnguyenx

[2016-08-05 01:59] jmcmurry commented on #1242
Is the underlying issue a monarch app one or a dipper one? @kshefchek

[2016-08-05 02:00] jmcmurry commented on #1239
@jnguyenx any update on this? I'm not sure what it means

[2016-08-05 21:33] jnguyenx commented on #1239
These are errors thrown on the monarch-app side reported by GrayLog. I showed that to @DoctorBud and most of them should be silent. The one with the _dist/app_ comes from Webpack but it is unsure how to get rid of that.

Investigations haven't gone further because of lack of time and resources, but these have to be eventually resolved in order to have a proper alert notification system.

[2016-08-08 17:38] kshefchek commented on #1242
@jmcmurry unsure, the page is blank on both beta and production.  I suspect this functionality needs to be added on the app side in handler.js

[2016-08-08 19:28] DoctorBud commented on #1239
The ENOENT occurs because there are browsers who cached an older index.html that refers to an older /dist/app.HEXHEXHEX.js, but that older file has been obsoleted and is no longer available. This is a good thing, called cache-busting. What is not good is the wasted graylog space.

The fix is to modify webenv.js `wrapContent()` method to check for file existence rather than throwing a noisy excepti

[2016-08-08 20:10] kltm commented on #1242
While exploring a data load with @jnguyenx, we ran into some other oddities with escapes and entities. In conjunction with looking at how to use Solr 6, it might be good to think about uniform escaping/entity practices in the various pipelines.

[2016-08-08 21:13] jmcmurry commented on #1249
@TomConlin  Can you provide a specific (rather than general) scenario where this is a problem? What impact, if any, would skolemizing have on performance of our queries?

[2016-08-08 21:25] jmcmurry opened #1325 "Solr6 and uniform escaping"
In conjunction with looking at how to use Solr 6, it might be good to think about uniform escaping/entity practices in the various pipelines.

[2016-08-08 21:26] jmcmurry commented on #1242
just broke the solr6 out as a separate issue. https://github.com/monarch-initiative/monarch-app/issues/1325

[2016-08-08 21:30] jmcmurry commented on #1207
If it is too late to make changes I suggest we close this ticket and instead make sure that all our code is free from Google code references as per monarch-initiative/dipper#268. Reopen this ticket if necessary.

[2016-08-08 21:33] jmcmurry commented on #1169
as https://github.com/geneontology/amigo/issues/308 is now closed, does it make this issue more tractable for Monarch?

[2016-08-08 21:36] jmcmurry commented on #1048
@kshefchek has since implemented resolution at the root level (eg monarchinitiative.org/NCBIGene:6622) so this can be closed.

[2016-08-08 21:36] #1048 closed

[2016-08-08 21:39] jmcmurry commented on #755
@kshefchek @TomConlin as this is an old ticket, just wanted to follow up to see whether this ticket has in the meantime gotten easier to tackle.

[2016-08-08 21:40] kltm commented on #1169
For the GO, with the addition of marked ontologies, we where able to load the slimmed versions for filtering. I'm not sure there is much change on the Monarch side of the fence as you have a different load infrastructure. However, once done, the addition is trivial to expose.

[2016-08-08 21:43] jmcmurry commented on #1301
Perhaps our own xrefs.json file isn't a terrible idea, though. A gulp task could compare the two files on a periodic basis and warn the respective admins of discrepancies. But our use cases aren't going to 100% overlap anyway. I defer to @cmungall

[2016-08-08 22:03] jmcmurry commented on #1206
@kshefchek made an even newer version of the slide. I'm not sure where it is but will ask him to find and post it. Thanks

[2016-08-08 22:04] jmcmurry commented on #1203
I think this can now be closed; reopen if I'm mistaken

[2016-08-08 22:04] #1203 closed

[2016-08-08 22:06] jmcmurry commented on #1201
Could you tell us a little more of what you'd be hoping to get from these visualizations? A specific use case would be tremendous. Thanks

[2016-08-08 22:20] kshefchek commented on #1206
[architecture_tldr_2016-01-20.pdf](https://github.com/monarch-initiative/monarch-app/files/407857/architecture_tldr_2016-01-20.pdf)

I created a minified version of the flow chart for our NCI demo, but we likely want something in between the two.

[2016-08-08 22:20] jmcmurry commented on #1165
@mbrush any thoughts here?

[2016-08-08 22:21] jmcmurry commented on #1138
This is now vestigial

[2016-08-08 22:21] #1138 closed

[2016-08-08 22:40] kltm commented on #1206
"GOlr", "OWL".

[2016-08-08 23:09] cmungall commented on #1301
Can we just reuse the GO one and add to that?

Just checking we're on the same page here:

 - currently we use the same URI for identification as we do for resolution.
 - This is the semantic web way, but leads to some unfortunate cases. For example, some entity URIs have `cgi-bin` in them which is hardly likely to be coupled to permanency of URI
 - we used to use identifiers.org for semantically

[2016-08-08 23:12] harryhoch commented on #1201
@jmcmurry, I have some thoughts on this. we can try to suggest at some point...

[2016-08-09 19:24] jmcmurry commented on #1025
@yuanzhou I've not seen this show up in a long time. Is it still an issue?

[2016-08-09 19:29] jmcmurry commented on #1038
@cmungall was there a particular user you had in mind for this? I assume we'd expect to receive labels pre-encoded, right? Even if the words are identical, what about variants for spaces, capitalization, hyphenation etc. To do this properly for all edge cases would be a potential time sink. Naively, I would think that the search would do just as well here, provided that we do a much better job of

[2016-08-09 19:34] jmcmurry commented on #975
@kshefchek any update? What exactly would be needed to close this?

[2016-08-09 19:35] jmcmurry commented on #12
@kshefchek can this be closed now?

[2016-08-09 19:36] jmcmurry commented on #16
I'm going to close this, not because I think it is a bad idea, but just as it seems out of scope. Feel free to push back.

[2016-08-09 19:40] kshefchek commented on #975
I've taken the approach of commenting out portions and then deleting if all seems fine.  In the literature pages PR I commented a good chunk of the api.js code, and at this point it's probably safe to delete it.  That said there's still a bit more than can be cleaned up on top of this.

[2016-08-09 19:42] kshefchek commented on #12
Sure the above is referencing ontoquest, we've done this with scigraph, I think it's safe to close.

[2016-08-09 19:53] jmcmurry commented on #1116
@TomConlin can you look into this to see if it is a curie expansion rules issue?

[2016-08-09 19:54] jmcmurry commented on #1116
It would also be awesome if we could nix this whole URL versus URI discrepancy on the overview page once and for all. Where are these discrepant links originating from?

[2016-08-09 19:55] jmcmurry commented on #1095
@kshefchek closing this; pls reopen if still an issue

[2016-08-09 19:55] #1095 closed

[2016-08-09 19:57] jmcmurry commented on #1082
@kshefchek could you please check whether this is still an issue?

[2016-08-09 20:44] TomConlin commented on #1116
The curie_map.yaml  has the purl    ```http://purl.obolibrary.org/obo/OMIA_```' as the expansion
https://github.com/monarch-initiative/dipper/blob/master/dipper/curie_map.yaml#L52

the persistent URL  base  http://purl.obolibrary.org/obo/  has moved to:  http://purl.oclc.org/obo/  which has moved to:  http://www.berkeleybop.org/ontologies/
which has nothing obvious related to OMIA.

Why are we sys

[2016-08-09 21:35] jmcmurry commented on #1116
PURLS (if they are purl.org) are in read-only mode now.

As long as they resolve and are persistent, I'm less bothered about whether we use the direct links or the purls. I'm more concerned with there being a discrepancy without an obvious purpose.

[2016-08-09 21:46] jmcmurry commented on #746
The column is there, but the content is not (both [beta](https://beta.monarchinitiative.org/disease/OMIM%3A227650#variants) and [prod](https://monarchinitiative.org/disease/OMIM%3A227650#variants)). @kshefchek please describe what needs to be done, thanks.
<img width="1385" alt="screen shot 2016-08-09 at 2 43 56 pm" src="https://cloud.githubusercontent.com/assets/3658863/17534823/f986c5fc-5e3f-11e

[2016-08-09 21:57] jmcmurry commented on #883
This particular bug seems no longer to be present; however the underlying disease is a gene stuff has cropped up in other tickets so I will close this one.

[2016-08-09 21:57] #883 closed

[2016-08-09 22:00] kshefchek commented on #746
I think https://github.com/SciGraph/golr-loader/commit/c88693a2d7ec64a20011f215292d098fddfd7f68 should fix it, but let's leave open to make sure.

[2016-08-09 22:16] jmcmurry commented on #746
ok; will flag with[ 'revisit in testing'](https://github.com/monarch-initiative/monarch-app/labels/revisit%20in%20testing).

[2016-08-09 22:25] jmcmurry commented on #1257
As we now have [ortholog phenotypes tabs](https://monarchinitiative.org/gene/NCBIGene:6622#ortholog-phenotypes), I'm not sure what remains to be done on this particular ticket. @cmungall please advise.

[2016-08-09 22:27] jmcmurry opened #1326 "Fix Inconsistent tab label and URL"
`https://monarchinitiative.org/gene/NCBIGene:6622#ortholog-phenotypes` vs tab title which says `homolog phenotypes`.

Are we including paralog phenotypes in the results? If so we should change https://monarchinitiative.org/gene/NCBIGene:6622#ortholog-phenotypes to https://monarchinitiative.org/gene/NCBIGene:6622#homolog-phenotypes

If we are not including paralog phenotypes, why not?

[2016-08-09 22:34] #725 closed

[2016-08-09 22:36] kshefchek commented on #1326
See https://github.com/SciGraph/golr-loader/issues/16#issuecomment-231207027

[2016-08-09 22:44] #1257 closed

[2016-08-09 22:47] jmcmurry commented on #1085
This is definitely still an issue. The redundancy is clearest if you download the tsv:

![image](https://cloud.githubusercontent.com/assets/3658863/17536215/4040ce2c-5e48-11e6-84da-d5a7b0d5548a.png)

There are the coriell IDs and also some blank nodes? @jnguyenx can you investigate?

[2016-08-09 22:50] jmcmurry commented on #1085
If it is useful for debugging purposes, using [NCBIGene:6622](https://beta.monarchinitiative.org/gene/NCBIGene:6622#models) as a comparison, it seems that we're seeing the duplication only for the coriell/OMIM rows.

[2016-08-09 22:52] jmcmurry commented on #1084
This is no longer an issue, but for this particular example, biogrid doesn't show up on any of the source columns (for any of the tabs). Going to close this, but @kshefchek please reopen if the lack of any appearance of biogrid is a bug.

[2016-08-09 22:52] #1084 closed

[2016-08-09 23:00] kshefchek commented on #1085
Is this on solr-dev or production? I fixed this recently but it has likely not made it's way to the production branch, see https://github.com/monarch-initiative/configs/commit/a65910270e349b06c32c0beedd5c91da69ce0b11

[2016-08-09 23:09] #777 closed

[2016-08-09 23:18] jmcmurry commented on #1085
@kshefchek It doesn't seem to be fixed on either NCBIGene:6622 [dev](https://beta.monarchinitiative.org/gene/NCBIGene:6622#models) or [prod](https://monarchinitiative.org/gene/NCBIGene:6622#models).

[2016-08-09 23:25] kshefchek commented on #1085
I may be misunderstanding, where are the duplicates on dev?

[2016-08-09 23:27] jmcmurry commented on #1085
If you look at the screenshot, you'll see:

_:genid-nodeid-_:person-GM13705
and *also*
Coriell:GM13705

Are these not duplicates just rendered in different ways?

[2016-08-09 23:34] kshefchek commented on #1085
This is by design, one is the cell line and one is the patient.  I agree it's a bit confusing, I'm not sure we need to display the patient here.

[2016-08-09 23:36] cmungall commented on #1038
The use case here was some sources of annotations, e.g. the CSH MCS case studies seem to only store labels. It's probably better this plugs into search

[2016-08-09 23:36] #1038 closed

[2016-08-09 23:40] cmungall commented on #975
I'm not sure how easy it is to see a call tree in javascript, but `fetchDataFromResource` must die, and along with it any code that calls it.

Similarly, any method name with ontoquest in it.

Note the landing pages no longer have a dependency, so this should be much easier

[2016-08-09 23:45] jmcmurry commented on #1085
Ah; I see. I agree then, this is unnecessarily confusing to materialize. @mellybelly?

[2016-08-09 23:47] mellybelly commented on #1085
well it seems to be a label issue in part. There can be more than one line per patient. We don't want to have patient pages for these, do we? similar to our case pages? seems a bit different but they are also instances. Perhaps just needs to go into some column and have a autogenerated label "patient X with Y disease" or something like that?

[2016-08-09 23:50] cmungall commented on #975
I'll do this

[2016-08-10 00:08] jmcmurry commented on #1011
I can't replicate either; closing

[2016-08-10 00:08] #1011 closed

[2016-08-10 00:17] jmcmurry commented on #987
Can't reproduce

[2016-08-10 00:17] #987 closed

[2016-08-10 02:02] cmungall commented on #975
@kshefchek is generateHistogram used? It has a bunch of dependencies to federation

[2016-08-10 02:22] cmungall commented on #975
I believe these are no longer used:

[code]

I will get these on the next pass

[2016-08-10 03:36] kshefchek commented on #975
@cmungall no it has been replaced, feel free to remove.

[2016-08-10 06:12] jmcmurry commented on #874
This still doesn't autocomplete, and at first glance appears not to be in search results (unless synonym matched versus label matched). @kshefchek any idea why? This is potentially related to #1282

[2016-08-10 06:13] jmcmurry commented on #872
@kshefchek any thoughts on this?

[2016-08-10 06:17] jmcmurry commented on #1322
Related tickets:
https://github.com/monarch-initiative/monarch-app/issues/1012
monarch-initiative/phenogrid#130
https://github.com/monarch-initiative/monarch-app/issues/935

[2016-08-10 06:22] jmcmurry commented on #80
I believe that this can be closed; TSV and JSON are now available. Please reopen if necessary and clarify what needs to be done.

[2016-08-10 06:25] jmcmurry commented on #648
@cmungall would INCA speak to any components of this? If so what exactly?

[2016-08-10 06:26] jmcmurry commented on #745
@kshefchek any chance this is now in SciGraph or Golr?

[2016-08-10 06:35] #860 closed

[2016-08-10 06:39] #968 closed

[2016-08-10 06:42] jmcmurry commented on #670
@kshefchek any thoughts?

[2016-08-10 06:46] jmcmurry commented on #757
both resolve and the bare id now work

[2016-08-10 06:46] #757 closed

[2016-08-10 06:47] jmcmurry commented on #521
done

[2016-08-10 06:47] #521 closed

[2016-08-10 06:55] jmcmurry commented on #523
relevant for renewal

[2016-08-10 06:59] jmcmurry commented on #605
if it was previously addressed this error is now back
@kshefchek ?

<img width="635" alt="screen shot 2016-08-09 at 11 59 14 pm" src="https://cloud.githubusercontent.com/assets/3658863/17544633/51ed9e4e-5e8d-11e6-9c93-1390083c1512.png">

[2016-08-10 07:09] jmcmurry commented on #1326
@jnguyenx does your yaml fix in  SciGraph/golr-loader#16 (comment) include changing tab title "homolog phenotypes"?

[2016-08-10 09:31] pnrobinson commented on #523
I am not sure I see the  action item here, but I think the questions is whether the annotation frequencies documented here (http://human-phenotype-ontology.github.io/documentation.html#annot) should be made into full-fledged classes? Another important issue is that Orphanet has a smaller list of categories, and we have been considering either adopting them or meeting in the middle. I think in retr

[2016-08-10 12:02] drseb commented on #523
I think this is a valid candidate for a new sub-ontology. Should we do this?

[2016-08-10 12:45] pnrobinson commented on #523
Well, I think it is OK, but remember we were speaking with Ana about agreeing to use the same frequency categories, and we still need to make a decision there. So let's talk about this before making anything public!

[2016-08-10 12:55] mellybelly commented on #523
what is the reason to not use a data property?

On Aug 10, 2016, at 5:45 AM, Peter Robinson <notifications@github.com<mailto:notifications@github.com>> wrote:

Well, I think it is OK, but remember we were speaking with Ana about agreeing to use the same frequency categories, and we still need to make a decision there. So let's talk about this before making anything public!

—
You are receiving thi

[2016-08-10 16:45] drseb commented on #523
I remember that, but I think we already agreed upon a new standard

why do we not use a data property for the age of onset then?

[2016-08-10 16:55] jmcmurry commented on #523
I don't have a particularly strong feeling about which way to go with this, but we should settle on a plan and either flesh it out or close this ticket if it has been OBE.

[2016-08-10 17:06] jnguyenx commented on #1326
No I didn't touch the UI. But we're not capturing paralogs anymore, it was a mistake. It should be fixed with the next load.

[2016-08-10 17:23] jnguyenx commented on #1323
@liuzhuo14 can you please delete the generated folder `node_modules/` and start over by running the `install.sh` script? I guess that there are some leftovers from your previous try.

[2016-08-10 17:24] pnrobinson commented on #523
Seb, should we confirm with Ana first that we will coordinate on one system of frequencies? And document this on the HPO website?

[2016-08-10 17:27] jmcmurry commented on #1326
Thanks @jnguyenx that's fine. @kshefchek can you change the tab title please?

[2016-08-10 17:32] kshefchek commented on #1326
Sure thing, will update the tab title when the solr table only contains orthologs.

[2016-08-10 18:22] mbrush commented on #1165
Yes. several thoughts.  We discussed the many issues related to how disease models are handled  in the data and displayed in the app with Nicole W at the Feb hackathon before she left, and settled on the approach Kent alluded to above.   Will take some work, but we will try to find time soon to address this.  Noting some more specific ideas/proposals for implementing below.

- We first need to ide

[2016-08-15 17:07] jmcmurry opened #1328 "Missing taxa"
https://monarchinitiative.org/phenotype/HP%3A0000708

<img width="1394" alt="screen shot 2016-08-15 at 9 48 46 am" src="https://cloud.githubusercontent.com/assets/3658863/17672052/17f237b8-62cf-11e6-83b1-e18c4cd95375.png">

This makes it look as though there are only three species, when I suspect the real issue is that species are missing. Below is a list of the subject IDs corresponding to the mi

[2016-08-15 17:08] jmcmurry commented on #1328
cc: @cmungall @jnguyenx

[2016-08-15 17:17] jmcmurry commented on #1310
https://monarchinitiative.org/phenotype/HP%3A0000708

<img width="1394" alt="screen shot 2016-08-15 at 9 48 46 am" src="https://cloud.githubusercontent.com/assets/3658863/17672052/17f237b8-62cf-11e6-83b1-e18c4cd95375.png">

This makes it look as though there are only three species, when I suspect the real issue is that species are missing. Below is a list of the subject IDs corresponding to the mi

[2016-08-15 17:18] jmcmurry commented on #1328
closing this and moving to a comment in https://github.com/monarch-initiative/monarch-app/issues/1310#issuecomment-238366812

[2016-08-15 17:18] #1328 closed

[2016-08-15 22:14] kshefchek opened #1329 "Add reactome icon for sources column"
We need to add a reactome logo, see
https://monarchinitiative.org/gene/NCBIGene%3A9820

[2016-08-15 22:57] jmcmurry opened #1330 "Overlap map for phenotype tabs on disease groups pages"
The phenotype page for disease groups is really hard to make sense of; unless you download, you can't sort to figure out which phenotypes cut across diseases (or don't as it were).

It would be good to have some kind of heatmap showing in rows the superset of all phenotypes, and in columns, the individual members in the disease group. This would go above (or below?) the table we already have.

![i

[2016-08-16 17:49] jmcmurry commented on #1329
Their logo is unusable for our purposes (no stacked version and too detailed for this size).
I've done one that is as faithful as possible to their original.

[2016-08-17 00:18] #1329 closed

[2016-08-17 17:35] kshefchek commented on #690
Should this be moved to the owlsim3 tracker?

[2016-08-17 17:40] mbrush commented on #1310
Related to the original issue from @cmungall, we should decide on rules of when to propagate phenotypes to genes represented in a transgene expressed in some model organism.  A simple approach here is to follow @kshefchek proposal and say that if the transgene derives from a different species than its host, we dont propagate the phenotype to this gene.  But I think we would still want some way to

[2016-08-17 18:13] kshefchek commented on #1162
Both phenogrid and monarch app support this, it is similar to analyzing a set of phenotypes against orthologs on the analyze page.  However, with 5 species in phenogrid, another column may add some clutter, so we should think carefully about how to display this.

Another option would be to run an analysis every time we load our data and cache cases where phenotypes are conserved across species (vi

[2016-08-17 18:50] jmcmurry commented on #1297
I'm going to close this particular ticket as short-term fixes are done.

[2016-08-17 18:50] #1297 closed

[2016-08-17 18:53] jmcmurry opened #1333 "Incorporate Text Annotator within Analyze Phenotypes pipeline"
Consider this: detect whether user is typing or pasting (mouse or keyboard paste). If pasting, activate scigraph annotator. If typing, activate autocomplete instead. In the pasting scenario, show a PatientArchive-like interface with the recognized entities highlighted, and recognized entities in the selection interface.

[2016-08-17 18:53] jmcmurry commented on #1297
Longer term goals broken out here: https://github.com/monarch-initiative/monarch-app/issues/1333

[2016-08-17 18:57] jmcmurry opened #1334 "Site search failing for anything that is two or more words"
https://monarchinitiative.org/search/wilson%20disease
https://monarchinitiative.org/search/wilson%20cattle

[2016-08-17 20:38] jmcmurry commented on #1319
ps TLDR:
 - [ ] retain dead ends in browser
 - [ ] make dead end classes not clickable
 - [ ] remove dead ends from search

There are loads of classes for which we have no data at all (not even a description) [Wilson disease (in other animals)](https://monarchinitiative.org/disease/OMIA:001071) has 5 leaf nodes of which 4 have no data whatsoever. This may be a bug with orthology representation but

[2016-08-17 21:37] jnguyenx commented on #1313
Cause by how the labels are defined:

https://monarchinitiative.org/search/some%20of%20variant%20PAX6 will return PAX6's.

Fix: search for `*PAX*` instead of `PAX*`.

[2016-08-17 22:06] jmcmurry opened #1335 "Remove hyperlinks on genotype from phenotype tab on genotype page"
This is a circular link pattern.

https://monarchinitiative.org/genotype/MONARCH:950b86895c62f72a8897d0f144a79cc5#phenotypes

<img width="1144" alt="screen shot 2016-08-17 at 3 03 58 pm" src="https://cloud.githubusercontent.com/assets/3658863/17754951/0ae1d218-648c-11e6-9154-6efe81bfc631.png">

[2016-08-17 22:35] jmcmurry commented on #1313
whoa, wildcard search actually does work; changing the phrasing of this ticket accordingly.
https://monarchinitiative.org/search/pax*

[2016-08-17 22:58] mbrush opened #1336 "Reagent targeted genes should get 'variant' pages in the app"
Reagent targeted genes are genes that are variant in virtue of their being targeted/downregulated by things like morpholinos or siRNAs.  Sources like ZFIN have phenotypes linked to these reagent targeted genes. At present however, we don’t create pages for these in the app. This is due to the fact that these are bnodes in the data (as ZFIN doesn’t provide resolvable identifiers from which to build

[2016-08-18 00:30] jmcmurry opened #1337 "Inconsistency / error in gene/genotype relationships"
Links from genotype to genes are frequently missing even when reciprocal links exist.

[Genotype](https://monarchinitiative.org/genotype/MGI:2653759)|[Gene](https://monarchinitiative.org/gene/MGI:3590178)
---|---
<img width="1398" alt="screen shot 2016-08-17 at 5 23 15 pm" src="https://cloud.githubusercontent.com/assets/3658863/17757882/5b80374c-649f-11e6-8b02-d4cfeb22edd7.png"> | <img width="1396

[2016-08-18 00:44] jmcmurry opened #1338 "Genotype MGI:5759474 appears not to be a valid identifier"
MGI:5759474 found [here](https://monarchinitiative.org/genotype/MGI:5759474). I thought it was odd that there were no phenotypes so I tried looking at the source but it failed; even a google search failed.  It appears to come from IMPC; @ are they given placeholder a block of private MGI IDs or something? Any idea what is going on? @TomConlin?

<img width="932" alt="screen shot 2016-08-17 at 5 35

[2016-08-18 01:01] kshefchek commented on #1338
It's coming from MGI, but unclear why it doesn't exist.

[2016-08-18 01:07] kshefchek commented on #1337
I've fixed the second half of the ticket, see https://beta.monarchinitiative.org/genotype/dbSNPIndividual:14829

[2016-08-18 16:28] jmcmurry opened #1339 "Abbreviated tree view for phenotypes / diseases"
Warning: This is a non trivial ticket, but just capturing it as it has come up recently.

It would be nice to be able to view an entire phenotype profile according to its abbreviated hierarchy, whether affected anatomical region, or other relevant typing. The abbreviated tree would be nice to have in the following places:

- Phenogrid
- Phenotype tabs on disease pages
- Phenotype tabs on gene page

[2016-08-18 16:49] jmcmurry commented on #1338
Apparently the ID didn't come from IMPC but from MGI? This was an ID sourced from MGI but which was marked as being from IMPC? @kshefchek ?
The reason I thought it was from IMPC was because it was in the source column of the tsv and [here](https://monarchinitiative.org/gene/NCBIGene%3A67946).
<img width="1341" alt="screen shot 2016-08-18 at 9 47 22 am" src="https://cloud.githubusercontent.com/asse

[2016-08-18 17:33] harryhoch commented on #1339
@jmcmurry, some of this could be interesting for the patient-patient comparison as well, as we might want to compare patients along specific axes...

[2016-08-18 17:36] jmcmurry commented on #1339
Exactly; that was part of my thinking with the triptych :)

[2016-08-18 17:51] kshefchek commented on #1338
The source column represents additive or corroborative evidence for an association, in this case between a genotype and gene.

In this case:
Spata6<tm1b(KOMP)Wtsi>/Spata6<+> [C57BL/6N-Spata6<tm1b(KOMP)Wtsi>/Ucd](MGI:5759474) - has_variant_part -> Spata6<tm1b(KOMP)Wtsi>/Spata6<+>(_:genid1182014) -
has_variant_part -> Spata6<tm1b(KOMP)Wtsi>(MGI:5548554) - has_allele -> Spata6(MGI:1915196)

[2016-08-18 18:29] jmcmurry commented on #1338
So let me see if I understand correctly:
- ````  Spata6<tm1b(KOMP)Wtsi>/Spata6<+> [C57BL/6N-Spata6<tm1b(KOMP)Wtsi>/Ucd]```` came from IMPC
- ````MGI:5548554```` came from MGI
- The only reason we integrated these two entities was because both correspond to[ Spata6 (NCBIGene:67946)](https://monarchinitiative.org/gene/NCBIGene:67946)?

[2016-08-18 18:36] kshefchek commented on #1338
Spata6<tm1b(KOMP)Wtsi>/Spata6<+> [C57BL/6N-Spata6<tm1b(KOMP)Wtsi>/Ucd](MGI:5759474)
was fetched from MGI, gxd_genotype_summary_view, on June 29th.

I'm unclear on the provenance of the rest the json evidence graph doesn't differentiate at the moment, but I can look into it.

[2016-08-18 22:50] jnguyenx commented on #1305
Should be solved with Solr6 default tokenizer.

[2016-08-19 21:39] jnguyenx commented on #1305
marcie charcot will return with Solr if we use edismax query parser.

[2016-08-19 23:24] jmcmurry commented on #1339
Was researching a particular gene which associated with 5 diseases and I found myself wondering what these diseases have in common aside from this gene. How closely related are they? Do they involve similar pathways? It is impossible to do that kind of analysis easily right now, but the tree view might be part of the solution.

[2016-08-19 23:28] mellybelly commented on #1339
conversely, there is also no way to see the differences. For example, what are the non-matched phenotypes in the best matching diseases/models? no way to examine the differential diagnosis. a triptych view could help potentially but there should be some way to see them even in a hover over.

[2016-08-20 00:10] jmcmurry opened #1340 "Collapse duplicate PMIDs when pulling from multiple sources"
Probably the result of overlapping annotations from mulitple sources but the list of PMIDs has lots of duplicates. Eg here https://monarchinitiative.org/gene/NCBIGene%3A4591

<img width="1368" alt="screen shot 2016-08-19 at 5 05 36 pm" src="https://cloud.githubusercontent.com/assets/3658863/17827290/3822ee66-662f-11e6-8f4c-f37142964da0.png">

I don't know which is the best place to uniquify the li

[2016-08-22 18:42] jmcmurry opened #1341 "gene symbol doesn't show up for the reactome row"
[Here](https://beta.monarchinitiative.org/gene/NCBIGene%3A4609:pathways) the gene symbol doesn't show up for the reactome row.
<img width="1389" alt="screen shot 2016-08-22 at 11 34 38 am" src="https://cloud.githubusercontent.com/assets/3658863/17866749/951cfb14-685c-11e6-98f4-94ee4c5488ad.png">

[2016-08-22 18:59] jmcmurry commented on #1310
Another example to test when fixing this is that human alleles from OMIM are missing the propagation of taxon. I don't know if we are systematically not representing alleles properly, or not representing OMIM properly or both.

https://monarchinitiative.org/gene/NCBIGene:5290
<img width="400" alt="screen shot 2016-08-22 at 11 57 59 am" src="https://cloud.githubusercontent.com/assets/3658863/178675

[2016-08-22 20:08] cmungall opened #1342 "Update services documentation to remove description of federation-based services"
The top part of this is not useful
https://monarchinitiative.org/page/services

All the `/section/` stuff was removed in #1327 (was dependent on old federation queries)

In fact the pages are largely golr-driven at the moment

[2016-08-22 20:26] kshefchek commented on #1341
Ticket opened in dipper, see https://github.com/monarch-initiative/dipper/issues/364

[2016-08-22 20:30] jmcmurry commented on #697
Now that https://github.com/monarch-initiative/monarch-app/issues/809 is closed; wondering if we can revive the brainstorming on this.

[2016-08-22 20:42] jmcmurry commented on #1341
indeed odd; what do you think the underlying issue is?

[2016-08-23 15:47] cmungall commented on #1228
At the very least remove outdated material - better nothing/minimal than completely wrong

https://monarchinitiative.org/page/software

[2016-08-24 21:50] jmcmurry opened #1343 "Missing Gene Symbols on Variant pages and Variant Tabs"
<img width="1388" alt="screen shot 2016-08-24 at 1 53 33 pm" src="https://cloud.githubusercontent.com/assets/3658863/17947833/3ba9e85a-6a03-11e6-94a4-e0c051a27010.png">

The data seems to exist but is not rendered

[2016-08-24 22:17] jmcmurry opened #1344 "Evidence type missing"
@mbrush do you know why evidence type is missing from the display; is it because it isn't in the graph? Do we have enough ECO codes to cover our needs for this?

<img width="1388" alt="screen shot 2016-08-24 at 1 53 33 pm" src="https://cloud.githubusercontent.com/assets/3658863/17950071/b72d19de-6a0d-11e6-9f13-44cc396d86a1.png">

[2016-08-25 19:43] TomConlin commented on #1249
@cmungall this ticket starts with where the Skolemize IRI should go

[2016-08-26 00:45] kshefchek commented on #1344
I don't see it in the RDF model.  Clinvar is an odd source since we've implemented the SEPIO model, but this won't be captured and indexed in the golr loader yet. @TomConlin may know what's going on.

[2016-08-26 00:53] TomConlin commented on #1344
In a non exportable comment in the clinvar  cmap @mbrush wrote:
[code]

[2016-08-26 01:04] kshefchek commented on #1344
Unless we hang these off the association node directly, it won't be indexed in golr.   Regardless we likely do not want ECO:000000 showing up anyway.  Seems like a non-issue until we implement this in dipper.

[2016-08-26 01:32] cmungall commented on #1249
what is this .well-known URI?

one option is to add support for blank nodes in SciGraph and Golr. Worthwhile in the long run, but not minor.

Can we catalog the cases where blank nodes are used? Maybe we can just mint URIs, eg using UUIDs, pseudo-skolemization patterns. Of course we still need to build the UI templates that will display something useful for these.

I suspect many of the blank node

[2016-08-26 02:54] TomConlin commented on #1249
I interpret the the spec to be literal.

"http://host/.well-known/genid/"
not unlike   "http://host/robots.txt"

seems I may not be the only one who interpreted it this way

[google search](https://encrypted.google.com/#hl=en&q=%22%2F.well%2Dknown%2Fgenid%22)

[2016-08-26 03:24] cmungall commented on #1249
Wasn't aware of that, thanks.

Another reason to avoid them (except in positions where they will not be
exposed, e.g. OWL Restrictions)

On 25 Aug 2016, at 19:54, Tom Conlin wrote:

[2016-08-26 17:44] jmcmurry opened #1345 "Less dicing, more faceting"
We have a lot of data in the system, but the way it is displayed makes it hard to see the bigger picture. I don't have a grand vision for how this would look, but I would love to see us do less dicing up the data ourselves (pages/tabs) and more empowering the user to do it for themselves through facets.

## 1) Uber genes
The way that the data is currently displayed, it is difficult to get a meta v

[2016-08-26 19:09] cmungall commented on #1345
OK, but let's do the uber-gene thing properly, using ancestral nodes from panther. We'll loop @kltm in after next week.

[2016-08-30 22:23] jmcmurry opened #1348 "Phenogrid and the table results should be synchronized"
In /analyze/phenotypes, phenogrid ui should be synchronized with the results table. Otherwise it is confusing. This definitely applies to the specified gene targets as often the specified target doesn't show up at all. For an extreme case, see below.

<img width="1367" alt="screen shot 2016-08-30 at 3 09 46 pm" src="https://cloud.githubusercontent.com/assets/3658863/18109324/7082e18c-6ec5-11e6-947

[2016-08-31 02:00] harryhoch commented on #1348
Yes, this is something that we should synchronize…

From: Julie McMurry
Reply-To: monarch-initiative/monarch-app
Date: Tuesday, August 30, 2016 at 6:23 PM
To: monarch-initiative/monarch-app
Subject: [monarch-initiative/monarch-app] Phenogrid and the table results should be synchronized (#1348)

In /analyze/phenotypes, phenogrid ui should be synchronized with the results table. Otherwise it is conf

[2016-09-01 20:40] jmcmurry opened #1349 "Relationships aren't phenotypes"
I discovered that the /annotate/text endpoint is detecting terms from RO. See for example [here](https://monarchinitiative.org/annotate/text?q=+Fanconi+anemia%2C+complementation+group+D2+pseudogene+2).

<img width="1354" alt="screen shot 2016-09-01 at 1 37 00 pm" src="https://cloud.githubusercontent.com/assets/3658863/18183427/3dfe06da-7049-11e6-93bf-904ee9a8f272.png">

Following that link brings

[2016-09-02 06:18] cmungall opened #1350 "Make it clear that the ontology browser is combining multiple ontologies"
Should provide a link to methods of construction and/or cite to:

Köhler, S., Doelken, S. C., Ruef, B. J., Bauer, S., Washington, N., Westerfield, M., … Mungall, C. J. (2013). Construction and accessibility of a cross-species phenotype ontology along with gene annotations for biomedical research. F1000Research, 1–12. doi:10.3410/f1000research.2-30.v1

[2016-09-02 11:16] drseb commented on #1350
just an idea: for the non-experts I suggest to make to figure. maybe @jmcmurry can do her magic on a figure like the one attached. I did for a poster once. IMHO this explains this a bit more easily.
[uberpheno.pdf](https://github.com/monarch-initiative/monarch-app/files/451870/uberpheno.pdf)

[2016-09-02 22:50] jmcmurry opened #1351 "Beta vs prod data is massively different"
I know that there were some issues with Marfan modeling that were recently cleaned up. Is this difference legit? Even the title is different... @pnrobinson, @cmungall

### [Beta](https://beta.monarchinitiative.org/disease/OMIM:154700)
<img width="885" alt="screen shot 2016-09-02 at 3 48 50 pm" src="https://cloud.githubusercontent.com/assets/3658863/18220234/c9ffd63c-7124-11e6-9951-06e2f31d33c4.png

[2016-09-02 22:54] pnrobinson commented on #1351
Much better. But...
1) The cow model of Marfan is well known and should be there. There are also a bunch of different mouse models that are missing.
2) LTBP2 is related to the "Marfan gene" FBN1 but does not cause Marfan (see: http://omim.org/entry/602091?search=ltbp2&highlight=ltbp2  -- the diseases are phenotypically similar but not the same thing)

[2016-09-02 23:08] jmcmurry commented on #1351
How is this much better? This entry has no phenotypes?

[2016-09-02 23:17] pnrobinson commented on #1351
I mean that 14 genes is a massive error. Some of the genes are not related at all...

[2016-09-02 23:23] jmcmurry commented on #1351
I think you're confusing beta and production? Beta seems broken for all kinds of reasons to me:
1) 15 genes
2) no phenotypes, no models, no variants, etc

[2016-09-03 00:47] cmungall commented on #1351
The label issue is red herring (we expect labels to change). In fact Marfan is a red herring.

There are __no__ phenotypes loaded on Beta. I don't know if this is intentional, e.g due to known downtime/reload, @jnguyenx or @kshefchek may have the answer, is it to do with beta being temporarily repurposed for udp demos?

We have behave tests - if this was unintentional it should be caught.

[2016-09-03 00:51] kshefchek commented on #1351
@cmungall correct we are reloading and did not change the beta configuration.

[2016-09-03 00:51] #1351 closed

[2016-09-07 20:13] jmcmurry opened #1353 "Analyze Phenotypes using only comparables (autofetch phenotype profiles of each)"
It would be nice to not have to enter a list of phenotypes if all you are looking to do is to compare a bunch of entities that have phenotype profiles. Eg. all orthologs of a gene. We should be able to fetch the superset of all phenotypes represented by a bag of genes and show the overlap across them. In cases where the phenotypes are equivalent but have different labels, collapse them. In cases w

[2016-09-08 00:17] jmcmurry commented on #1353
For the especially broad-spectrum phenotypes of some genes, the category view would be the most useful one. Ignore the data here, it is not exactly right, just get the general gist.

<img width="502" alt="screen shot 2016-09-07 at 5 15 27 pm" src="https://cloud.githubusercontent.com/assets/3658863/18332868/dab83e26-751e-11e6-807e-5d6beec1ec7c.png">

[2016-09-08 18:56] yuanzhou commented on #1304
I think it's because the rendered SVG is wider than the viewpoint of the page. I tried to resize the page and could reproduce the overflow. The web page is using fluid layout, while the rendered SVG is fixed width.

[2016-09-08 21:27] harryhoch commented on #1304
So, we probably need to limit the number of species shown by default I thin that would be easiest. @yuanzhou, what do you think?

[2016-09-09 16:18] jmcmurry commented on #1304
I think it works with the 5 species x 10 hits each; the main issue in the above is that worm is repeated.

[2016-09-09 22:08] jmcmurry opened #1354 "Smarter sets of tabs"
Related to https://github.com/monarch-initiative/monarch-app/issues/1345 (Diseases by orthology / phenotype matching) the way we are currently displaying disease information on non-human gene pages is unhelpfully spare.

Take for instance Fbn1 (mouse); the page for this makes it seem like there are no disease associations, when what the person is probably expecting to see there are the human disea

[2016-09-13 14:05] mellybelly opened #1355 "update attribution on bottom of pages"
It currently says:
The Monarch Initiative is a collaboration between Oregon Health & Science University, University of California, San Diego, Lawrence Berkeley National Laboratory, the University of Pittsburgh, Sanger Institute, Charité - Universitätsmedizin Berlin, and Garvan Institute of Medical Research and is supported generously by a NIH Office of the Director Grant #5R24OD011883.
Except wher

[2016-09-13 15:59] jmcmurry opened #1356 "schema.org markup of pages (for SEO)"
Parking this here for discussion so we don't forget

[2016-09-15 16:43] #216 closed

[2016-09-20 02:09] mellybelly opened #1366 "out of date doc on website"
see: https://beta.monarchinitiative.org/page/about

[2016-09-20 07:57] #1366 closed

[2016-09-21 19:41] jmcmurry commented on #1162
Related to https://github.com/monarch-initiative/monarch-app/issues/363 and https://github.com/monarch-initiative/monarch-app/issues/1353

[2016-09-21 20:12] cmungall opened #1369 "Add functional annotations"
I suggest doing after #1312

# Import

(make this a dipper ticket?)

Pull functional annotation from GO. Various choices

 1. We have existing dipper code for GAFs, extend this. Should be 1hr work?
 2. Pull straight from GO triples (@balhoff working on this). See https://github.com/cmungall/go-graphstore README

Probably best to just start with 1

# Species

We'd want to start with human, main MOD

[2016-09-21 21:20] #1337 closed

[2016-09-21 22:31] mellybelly commented on #1345
I'm finally resolved that I really want uber gene pages

[2016-09-21 23:21] cmungall commented on #1345
@selewis how is the panther scrape pipeline coming along?

[2016-09-23 19:34] larrybabb opened #1371 "familial hypercholesterolemia omim mapping concern"
https://monarchinitiative.org/disease/OMIM:144010
is a parent of
https://monarchinitiative.org/disease/OMIM:143890

in the emerge network we are trying to settle on an id that is the "group" term for familial hypercholesterolemia, so naturally I picked the parent above. However, geneticists using omim directly pick 143890 the child to represent this concept and then have the parent map to "Hyperch

[2016-09-24 00:23] cmungall commented on #1371
This issue was moved to monarch-initiative/monarch-disease-ontology#157

[2016-09-24 00:25] cmungall commented on #1371
Thanks @larrybabb -- this is a concern. I've moved this over to our disease tracker

[2016-09-25 02:55] larrybabb opened #1372 "nested OMIM diseases & equivalent ids that don't seem to be equivalent concepts"
I notice that occassionally there are parent-child or "is a" relationships between two omim concepts. Can you explain when and why this may happen?  The OMIM concepts I am specifically referring to are gene-specific concepts and thus it does not make apparent sense to me how one could be a subset or child of another.

For example,
Jervell and Lange-Nielsen syndrome OMIM:220400 (called Jervell and

[2016-09-25 03:44] cmungall commented on #1372
The short answer is that we were assigning high weight to assignments orphanet makes about whether an OMIM and Orphanet pairing is likely to be exact vs narrower-to-broader. It turns out this was a bad idea, because often Orphanet treats the first entry in the phenotypic series as being the broader concept.

If we take your example Orphanet:90647 'Jervell and Lange-Nielsen syndrome', we can see th

[2016-09-26 15:05] cmungall commented on #1372
Hi @larrybabb - I'm going to close this ticket, but the discussion will be carried on over on this ticket in the MonDO tracker

https://github.com/monarch-initiative/monarch-disease-ontology/issues/157

(apologies for any confusion, I tried moving the ticket with the github issue mover but it didnt seem to quite work)

[2016-09-26 15:05] #1372 closed

[2016-09-27 01:52] kshefchek opened #1373 "Fix filter widget when selecting "more" in filter dropdown"
When on https://monarchinitiative.org/phenotype/UPHENO:0001001#genes, selecting "Filters" then "more" opens up a bbop filter widget that is not compatible with the monarch filter widget.  We should keep the functionality of the more button, but update the monarch filter widget to drive this.

[2016-09-30 05:57] jmcmurry commented on #1317
Now that golr is resolved, we can start revisiting search results. Poking around, I think MGI has some nice patterns for us to consider if we go the table route, rather than the blob route for results. I like that they have two separate sections for "genome features" and "vocabulary terms". We have the multi-species problem to solve though so couldn't adopt their pattern outright. We might also co

[2016-09-30 18:31] cmungall commented on #1019
It seems this is virtually done

We have pages
https://monarchinitiative.org/literature/PMID:7852544

The assoc tab doesn't work but AFAICT everything should be in golr. E.g. https://github.com/monarch-initiative/configs/blob/master/SciGraph/golr/queries/literature-disease.yaml

Maybe best to wait til after @DoctorBud does any refactoring to consolidate mustache templates?

For comparison:
http://

[2016-10-04 18:17] kshefchek commented on #1019
I can fix the association tab and start linking pubs internally, although I've only tested the page on pubmed IDs.  For publication tabs, we need to implement the indexing of title, author, and pub info in solr.  We can either do this as a post processing step after creating our RDF files, or this could be part of the dipper ingest, as a module that runs at the end of each ingest.

See https://git

[2016-10-06 03:09] cmungall commented on #931
any more on this?

We should also release this as a separate component too

[2016-10-06 23:51] DoctorBud commented on #1239
I address all of these issues in https://github.com/monarch-initiative/monarch-app/pull/1374, which may allow this ticket to be closed after that PR is merged.

[2016-10-10 18:50] yuanzhou opened #1375 "Installation Error"
I'm using nvm to manage different versions of nodejs. So today I installed nodejs 4.6.0 via nvm, and then updated the npm to 3.10.8 since  nodejs 4.6.0 comes with npm 2.15.9.

And I verified the versions:
[code]
Upon running `./install.sh`, I got the following error:

![screenshot from 2016-10-10 14-41-20](https://cloud.githubusercontent.com/assets/195873/19247135/af1d2630-8ef7-11e6-8b1f-ecb6018dd

[2016-10-11 00:48] kshefchek commented on #1375
Looks like a C compiler issue, could you try installing g++ (GNU C++ compiler)?

[2016-10-11 20:36] yuanzhou commented on #1375
Thanks a lot @kshefchek, I installed `gcc-c++` on my fedora23 and the errors are gone.

I thought nodejs and npm are all I need, how come I'll need to install g++ separately?

[2016-10-12 15:12] yuanzhou commented on #1317
I looked at the main search and noticed that there are two behaviors. For instance, I type "p53" in the search box and the autocomplete will show a list of related items.

- If I click one of them items, I'll be redirected to the target gene page.
- If I click the "Go" button instead of selecting from autocomplete list, I'll see all the search results (gene, diseases, phenotypes, and models) in a

[2016-10-12 15:46] jmcmurry commented on #1282
@jnguyenx The hyphen issue has been solved but on beta, ```15q13.3 homozygous microdeletion syndrome```` is failing and ````Tg(SMN2)2Hung```` doesn't return the relevant result. Thoughts?

[2016-10-12 16:24] jmcmurry commented on #1317
Correct, this whole ticket is just about site search (not autocomplete, though related). The most important things to fix on the UI side at this point are:
- [ ] facets (on species, datatype).
  - [ ] Facets // Note that we will need some inference / closure as certain things may not be species-specific (eg. GO:0030330PHENOTYPE).  For now, because that backend may be missing esp w/r/t inference, i

[2016-10-12 17:36] jmcmurry commented on #1313
This is now live on beta. Provisionally closing it

[2016-10-12 17:36] #1313 closed

[2016-10-12 22:05] jnguyenx commented on #1282
There was an existing bug with searches that contain dots, I've just fixed that.

Concerning the other issue, I think that it's just a data source issue. MGI:3514027 nor MGI:3056903 are on the ontology graph.

[2016-10-13 12:32] harryhoch commented on #1304
This is fixed.

[2016-10-13 12:32] #1304 closed

[2016-10-13 15:03] yuanzhou commented on #1317
Just a quick update with my question. I installed the monarch-app 3 days ago and started poking around, the search looked as this:

![capture1](https://cloud.githubusercontent.com/assets/195873/19354150/c3995a50-9133-11e6-8e9d-1d69a149e99f.PNG)
The table was rendered based on the JSON structure:

![1](https://cloud.githubusercontent.com/assets/195873/19354326/47c1535a-9134-11e6-854a-3468dd82ff66.P

[2016-10-13 19:52] jmcmurry commented on #1282
Regarding punctuation, on beta now, the autocomplete works, but the site search does not. For instance,
https://beta.monarchinitiative.org/search/ncbigene:6622 redirects to https://beta.monarchinitiative.org/false/ncbigene:6622

underscores get you at least to a non-error, but don't include the right results
https://beta.monarchinitiative.org/search/ncbigene_6622

What I think makes the most sense

[2016-10-13 20:03] jmcmurry commented on #1317
yes, it is. A big step in the right direction, but we are still missing some results from the list, and we still have no way to facet/sort etc

[2016-10-14 13:08] kshefchek commented on #1375
It must be a requirement for one of our dependencies (looks like the sleep module).  We should add it to our documentation.

[2016-10-14 20:13] kltm commented on #1375
@kshefchek This may be of interest to you:
https://github.com/geneontology/noctua/issues/364
Essentially, once the gcc/++ dependencies get in there to a certain version, it starts to get harder (sometimes impossible) to maintain that across platforms.
Be wary of library upgrades--security against balancing against whoever has the most recent libs.

[2016-10-14 20:15] kltm commented on #1375
Also, upstream of that: https://github.com/geneontology/noctua/pull/319#issuecomment-249338272

[2016-10-14 22:03] jnguyenx commented on #1282
The first use-case is a redirect derived from SciGraph. I left it but was
tempted to remove it. It is case sensitive so you have to search for
NCBIGene:6622, which is quite whacky.
Since nobody reported that before, I guess that nobody uses the search box
this way, I'll remove that.

Concerning the _, I thought that it was taken care by solr's
StandardTokenizer. I added a pattern to process _.

On

[2016-10-17 22:29] kshefchek commented on #1282
@jmcmurry is there a reason we want to autocomplete on fragments and full iris?  In my opinion we should just enable autocompletion on curies.

[2016-10-17 22:33] kltm commented on #1282
Hm, I'd think that IRIs and and the like are more for identifiers rather than anything that should be targeted for autocomplete, etc--curies are what most users would try to be searching on.
(Note, that if one tokenized on ":" or "/" you'd still get useful results.)
It's not something that has ever come up on the GO side of things.
@cmungall any thoughts.

[2016-10-17 23:21] jmcmurry commented on #1282
Auto complete need not support any identifiers searches however site search
should

On Monday, October 17, 2016, kltm <notifications@github.com> wrote:

--
----------------------------------
mcmurry.julie@gmail.com +1 805 455 5877 skype: mcmurry.julie git: jmcmurry
----------------------------------

[2016-10-18 00:40] cmungall commented on #1282
I agree with @kltm. I personally find it useful to paste in an ID and
see what comes up. Many AmiGO users paste in IDs or ID fragments and get
upset if nothing comes up. Seems no harm in adding

On 17 Oct 2016, at 15:33, kltm wrote:

[2016-10-18 16:56] yuanzhou commented on #1317
Just to update my progress. I redesigned the search results page based on the Isotope demo: http://isotope.metafizzy.co/

(Click the picture to view full size version)
![capture](https://cloud.githubusercontent.com/assets/195873/19487600/80b24420-9531-11e6-82d8-621e240e4ff0.PNG)

Now we can filter the results by using these two combination filters. The filter buttons are parsed from the result JSO

[2016-10-18 18:26] harryhoch commented on #1317
Interesting, Zhou - thanks! I'm not sure what I think of it. It's very interesting , and uses space reasonably well. I agree that we might want to think about the rendering.

Is this in a branch suitable for installing and trying it out? I'd like to give it a run...

[2016-10-18 18:53] yuanzhou commented on #1317
@harryhoch here is the branch of a working demo: https://github.com/monarch-initiative/monarch-app/tree/site-search-zhou

[2016-10-19 01:34] harryhoch commented on #1317
thanks, @yuanzhou. A few comments:

1.  In addition to the need for a rework of the rendering, would it be possible to (a) indicate the
total number of matches, and (b) add the number of matching items to each of the filter buttons?

2. How does "any" differ from "not specified"? we should probably not have both of these.

3. is it possible to make the selections into conjuncts, so that I might, f

[2016-10-19 12:57] yuanzhou commented on #1317
@harryhoch thanks for your suggestions. To answer your questions:
1. (a) it's fairly simple to add the total number of matches. (b) adding the number of matching items to each button is also simple, but we may have to think about the combination use case. E.g., species button "Danio rerio(10)" indicates there are 10 results whose taxon is Danio rerio. And category button "gene(30)" indicates there

[2016-10-19 14:53] harryhoch commented on #1375
I'm seeing similar problems on my OS X machine, even with gcc/g++ installed

[2016-10-19 16:50] jnguyenx commented on #1317
@yuanzhou I don't think that you're using the right service to retrieve the docs from a search.

You should uncomment that line: https://github.com/monarch-initiative/monarch-app/blob/site-search-zhou/lib/monarch/web/webapp.js#L1091
and delete this one:
https://github.com/monarch-initiative/monarch-app/blob/site-search-zhou/lib/monarch/web/webapp.js#L1088

This way you'll get the full solr respons

[2016-10-19 18:00] yuanzhou commented on #1317
@jnguyenx I actually tried that earlier but it didn't return results. For example, with the same search term "p53" I got this even thought the autocomplete returns some results.

![capture](https://cloud.githubusercontent.com/assets/195873/19531070/4abe2f40-9604-11e6-9491-0ced428f1cb4.PNG)

[2016-10-19 18:08] jnguyenx commented on #1317
Yeah I've put some fake values so you can see how to use the function.
In this case put null in the category field (instead of ["category",
"leaf"]), and you should get the same results.

On Wed, Oct 19, 2016 at 11:00 AM, yuanzhou <notifications@github.com> wrote:

[2016-10-19 18:22] yuanzhou commented on #1317
@jnguyenx I tried again with this line:

[code]
`search/p53` still has no result, but the `search/p53.json` has results.

[2016-10-19 18:27] jnguyenx commented on #1317
Actually this is better:
`var results = engine.search(term, null, [], resultsCount, 1);`

It returns documents, but the UI is not parsing the response accordingly, hence it displays that nothing is found. So the work is to adapt the UI to this new payload.

[2016-10-20 16:44] yuanzhou commented on #1317
I took a close look at @jnguyenx 's new api endpoint with the generated JSON (attached), and I noticed two issues:

1. the "highlighting" is grouped in its own JSON property other than part of the "docs"

![capture](https://cloud.githubusercontent.com/assets/195873/19569000/ee6ffa0c-96c1-11e6-8ba8-7fa7190b9cf1.PNG).

This makes the rendering not that intuitive since the highlighting is using the a

[2016-10-20 16:55] yuanzhou commented on #1317
Another question is we are limiting the number of results in the search code to max 50 while the actual count could be lots more than that. For example, term "p53" returns 315 results without the hard coded limit. Does this mean the 50 returned results are more relevant to the search? We need to find a good way of deciding how many results to return and which ones should be returned if we indeed n

[2016-10-20 17:01] jmcmurry commented on #1317
We should be following standard practice, ie. returning (and displaying) the *counts* for each relevant facet, while displaying a reasonable number of actual results with interactive results paging; 50 results per page is fine. As we proceed, we may need to revisit ranking to ensure the best hits are at the tippy top.

[2016-10-20 18:04] jmcmurry commented on #1056
This is great, Kent, I keep meaning to follow up on it. We would need to get the gradation right so that it discriminates the chunks in meaningful ways. Also, since we have at this point more species than we have phenotype categories, not sure which one is best in the rows v columns. It would be great if we could convey the numbers as well as the colors, eg per below. Perhaps on hover? This is old

[2016-10-20 18:08] cmungall commented on #1056
This is v cool

Be good to have this hooked up with faceting, so you could dynamically restrict species list, dive down in ontology hierarchy, etc

[2016-10-20 18:24] jmcmurry commented on #1056
In the meantime a quick fix to make dovegraph more intuitive would be to have the facets in the right together with counts. Ultimately we need a solution that doesn't require users to visually distinguish [more than 12 colors at a time](http://www.scribblelive.com/blog/2012/03/29/maximum-elements-for-visualization-types/).

<img width="737" alt="screen shot 2016-10-20 at 11 26 41 am" src="https://

[2016-10-20 18:49] harryhoch commented on #1056
+1 .

Julie, really like your overview above. If we have enough species, we might want to consider aggregating/disaggregating by taxonomic groups (genus, family, etc.) to organie the rows better.

As far as the short term solution goes, there are some approaches that might help in distinguishing between bars with a limited number of colors. If colors are used in a consistent order across each phen

[2016-10-20 20:41] jmcmurry opened #1377 "Visualizing uncertainty, ranking, provenance"
Spoiler alert: This. Is. Hard. But it is also incredibly important to making a real difference to our being eventually being operationalized in the clinic.

Collectively in bioinformatics we need to do a much better job of transparency about uncertainty.
This is especially difficult for us in Monarch because we are rolling up from data sources and points whose uncertainty is not characterized at a